---
const { classes = '' } = Astro.props;
let geminiBbox;

try {
  if (typeof Deno !== "undefined") {
    const { html } = await import("https://esm.town/v/yawnxyz/geminiBbox?v=198");
    geminiBbox = html;
  }
} catch (error) {
  console.error("Error importing module:", error);
}
// https://esm.town/v/yawnxyz/geminiBbox?v=198
// challenge();
// console.log("banana:::", challenge());

---

<!-- <div class="geminiBbox | container mx-auto pt-24 pb-24 px-4 sm:px-2"> -->
<div class="geminiBbox {classes}">
  {geminiBbox ? (
    <Fragment set:html={geminiBbox} />
  ) : typeof Deno === "undefined" ? (
    <div>
      {/* <p>Deno is not available in this environment.</p> */}
    </div>
  ) : null}
</div>
