body {
    background: #fff;
    color: #333;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}



#copy {
    /*bottom: 0;;*/
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    /*position: absolute;
    /*right: 1em;*/
    text-align: right;
}
#copy a {
    color: #fff;
}