
/*
  Expand + Collapse Menu
  - When SMALL: show open button, hide close button, hide content
  - When MED: hide open button, hide close button, show content 
*/


@include media($small) {
  .collapsible, .btn-close{display: none;}

  .btn {
    cursor:pointer;
    text-align: center;
    padding-top: 0.4em;
    // padding: 0.8em;
    color: $color4; &:hover {background-color: $color2; color: $color0; @include ease-transition(200ms);} 
    margin-top: 1em;
    padding: 1em 0 1em 0; @include font-body(1em, 400); background-color: $silver;
  }
}
@include media($medium) {.btn-open, .btn-close{display: none;}}
