
$color-contact: $color3;

@mixin bttn-contact {background-size: 25px auto; height: 3em;}

// a.bttn-contact, a.bttn-contact:active, a.bttn-contact.clicked, a.bttn-contact:visited{
//   background-color: $color-contact;
// }

.contact-rss {
  text-align: center;
}

a.contact-email {
  background: rgba($color-contact,0.5)  url('/assets/images/email.png') no-repeat center;
  @include bttn-contact;
  &:hover{background-color: $color2 !important;}
}
a.contact-twitter {
  background: rgba($color-contact,0.5)  url('/assets/images/twitter.png') no-repeat center;
  @include bttn-contact;
  &:hover{background-color: $color2 !important;}
}
a.contact-linkedin {
  background: rgba($color-contact,0.5)  url('/assets/images/linkedin.png') no-repeat center;
  @include bttn-contact;
  &:hover{background-color: $color2 !important;}
}

.a-nofx { &:hover {background-color: transparent; } }
.rss-svg {
  text-align: center;
  fill: $color8 !important;
  max-height:21px !important;
  max-width:21px !important;
  &:hover {fill: $color1 !important;}
}

@include media($small) {
  #contact {padding-top: 0.5em; }
  #contact-container li{@include span-columns(2);}
}

@include media($medium) {
  #contact {@include span-columns(12); padding-top: 0.5em;}
  #contact-container li{@include span-columns(12);}
}

@include media($large) {
  #contact {@include span-columns(12); padding-top: 0.5em;}
  // #contact-container li{@include span-columns(4);}
  .full-menu { #contact-container li{@include span-columns(4);} }
  .short-menu { #contact-container li{@include span-columns(12);} }
}