
//link & button styles

a, a:active, a:visited {color: $dark-gray; text-decoration: underline;}
a:hover {color: $color4; @include ease-transition(200ms);}

section.post:hover {background-color: $color2;}
.content a {text-decoration: none;}

a.bttn:hover, .bttn:active, .bttn.clicked {
    background-color: $light-gray;
    @include ease-transition(200ms);
    color: $color5;
}



a.bttn {
    color: #fff;
    overflow: hidden; display: block; 
    cursor: pointer;
    padding: 1em;
    background-color: $dark-gray;

    @include font-body($f3*1.3, 300);
    text-align: center; text-decoration: none;
    @include ease-transition(200ms); margin-bottom: 0.5em;
    @include media($medium){@include set-radius(3px);} /*round corners for medium and up*/
}


.line {
    @include ui-separator-dashed;
    margin-top: 6px;
    margin-bottom: 6px;
}


blockquote {margin: 1em; padding: 4px 1em 1em 2em; background-color: $color2; border-left: 6px solid $color3; @include font-tip($f2, 300, auto); font-style: italic}


//something I used for coloring, but decided to keep
#color-palette {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;

  #c1{background-color: $color1;}
  #c2{background-color: $color2;}
  #c3{background-color: $color3;}
  #c4{background-color: $color4;}
  #c5{background-color: $color5;}
  #a1{background-color: $color6;}
  #a2{background-color: $color7;}
  #a3{background-color: $color8;}
  #a4{background-color: $color9;}
  #a5{background-color: $color0;}

  div {
    height: 5px;
    width: 10%;
    float: left;
    z-index: 2000;
    // background-color: $color1;
  }
}



//  contact footer
html, body, #container, img, .expandable, .collapsible {
    
    @include media($medium){height: 100%};
    @include media($large){height: 100%};
    @include ease-transition(200ms);
}

.sticky-wrapper {
  min-height: 100%;
  @include media($medium){margin: 0 auto -19em; }
  @include media($large){margin: 0 auto -12em; }
}

footer, .push {
    @include media($medium){height: 19em;}
    @include media($large){height: 12em;}
}

footer {@include media($small){height: 4em;}}

.tri-base {
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -6px;
}

.triangle {@include triangle(12px, $color5, up);@extend .tri-base;}
.triangle-up {@include triangle(12px, $color5, up);@extend .tri-base;}
.triangle-down {@include triangle(12px, $color5, down);@extend .tri-base;}
.triangle-down-red {@include triangle(12px, $color0, down);@extend .tri-base;margin-top: 6px;}
.triangle-up-red {@include triangle(12px, $color0, up);@extend .tri-base;}

/*
  Expand + Collapse Menu
  - When SMALL: show open button, hide close button, hide content
  - When MED: hide open button, hide close button, show content 
*/

@include media($small) {
  .collapsible, .btn-close{display: none;}

  .btn {
    cursor:pointer;
    text-align: center;
    padding-top: 0.4em;
    // padding: 0.8em;
    a {color: $color2; &:hover {color: $color4;}}
    margin-top: 1em;
  }

  #btn-menu {padding: 1em 0 1em 0; @include font-body(1em, 400); background-color: $silver;}

}

@include media($medium) {
  .btn-open, .btn-close{
    display: none;
  }
}

