
//link & button styles

a, a:active, a:visited { 
    color: $dark-gray; 
    text-decoration: none;
}
a:hover { color: $gray; }

.bttn:hover, .bttn:active, .bttn.clicked {
    background-color: $light-gray;
    @include ease-transition(300ms);
}

.bttn {
    overflow: hidden; display: block; color: $white;
    cursor: pointer;
    padding: 1em;
    background-color: $dark-gray;

    @include font-body($f3*1.3, 300);
    text-align: center; text-decoration: none;
    @include ease-transition(200ms); margin-bottom: 0.5em;
    @include media($medium){@include set-radius(3px);} /*round corners for medium and up*/
}

a.contact-email {
    background: #ffffff url('/assets/images/email.png') no-repeat center;
    background-size: 25px auto; height: 3em;
    background-color: $life2;
}
a.contact-twitter {
    background: #ffffff url('/assets/images/twitter.png') no-repeat center;
    background-size: 25px auto; height: 3em;
    background-color: $life3;
}
a.contact-linkedin {
    background: #ffffff url('/assets/images/linkedin.png') no-repeat center;
    background-size: 25px auto; height: 3em;
    background-color: $life4;
}




// sticky contact footer
html, body, #container, img {
    height: 100%;
    @include ease-transition(200ms);
}

.sticky-wrapper {
    min-height: 100%;
    @include media($medium){margin: 0 auto -14em;}
    @include media($large){margin: 0 auto -7em;}
}

footer, .push {
    @include media($medium){height: 14em;}
    @include media($large){height: 7em;}
}



