
@import 'triangles';
@import 'collapsible';


//link & button styles

h1 { @include font-body($f1, 300, 1.2em); }
h2 { @include font-body($f2*1.3, 300, 1.2em); margin-top: 1.6em;}
h3 { @include font-tip($f2, 300, 1.2em); margin-top: 1.6em; }
h4 { @include font-tip($f3, 300, 1.2em); margin-top: 1.6em; }

a, a:active, a:visited {color: $color0; text-decoration: underline;}
a:hover {color: $color2; background-color: $color9; @include ease-transition(200ms);}
a.nolink { text-decoration: none; &:hover {background: none}}

section.post-list:hover {background-color: $color2;}

a.bttn {
    overflow: hidden; display: block; 
    cursor: pointer;
    padding: 1em;
    background-color: $silver;
    @include media($small) {background-color: $light-gray;}
    border: 1px solid $silver;
    color: $dark-gray;

    @include font-body($f3*1.3, 300);
    text-align: center; text-decoration: none;
    @include ease-transition(200ms); margin-bottom: 0.5em;
    @include media($medium){@include set-radius(3px);} /*round corners for medium and up*/
}

a.bttn:hover, a.bttn:active, a.bttn.clicked {
    background-color: $dark-gray; color: $silver;
    @include ease-transition(200ms);
}

.slides a  { text-decoration: none; color: #333;}
.slides a:hover { text-decoration: none; color: #972020;}
.flexslider {
  @include media($small){@include span-columns(6); }
  @include media($medium){@include span-columns(12); }
  @include media($large){@include span-columns(12); }

}

blockquote {margin: 0; padding: 4px 1em 1em 2em; background-color: $color2; border-left: 6px solid $color3; @include font-tip($f2, 300, auto); font-style: italic}


//something I used for coloring, but decided to keep
#color-palette {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;

  #c1{background-color: $color1;}
  #c2{background-color: $color2;}
  #c3{background-color: $color3;}
  #c4{background-color: $color4;}
  #c5{background-color: $color5;}
  #a1{background-color: $color6;}
  #a2{background-color: $color7;}
  #a3{background-color: $color8;}
  #a4{background-color: $color9;}
  #a5{background-color: $color0;}

  div {
    height: 5px;
    width: 10%;
    float: left;
    z-index: 2000;
    // background-color: $color1;
  }
}



//  contact footer
html, body, #container, .expandable, .collapsible-mobile {
    @include media($medium){height: 100%};
    @include media($large){height: 100%};
    @include ease-transition(200ms);
}

.sticky-wrapper {
  min-height: 100%;
  @include media($medium){margin: 0 auto -32em; }
  @include media($large){margin: 0 auto -23em; }
}

footer, .push {
    @include media($medium){height: 32em;}
    @include media($large){height: 23em;}
}

footer {@include media($small){height: 4em;}}

.left-edge {border-left: 1px solid $color3;}



// mixins 
@mixin ui-separator-dashed($color: $light-gray, $color-alt: $silver, $height: 1px)
{
    border: 0; //cancel default <hr> style
    border-bottom: $height dashed $color-alt;
    background: $color;
}

@mixin ui-separator($color: $light-gray, $height: 1px)
{
    border: 0; //cancel default <hr> style
    border-bottom: $height solid $color;
}

.line {
    @include ui-separator-dashed;
    margin-top: 3px;
    margin-bottom: 3px;
}

.solidline {
    @include ui-separator;
    margin-top: 3px;
    margin-bottom: 3px;
}


@import 'contact';