
    
// settings
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|Open+Sans:300,400,400italic);


//colors
$white: #fff;
$red: #972020;
$light-red: #a00;
$light-gray: #ccc;
$gray: #777;
$dark-gray: #333;
$silver: #f2f2f2;
$pink: #f44a56;
$matte-blue: #3e4b5d;


/*
kuler: Lifedots 1
*/
$life1: #2A3140;
$life2: #F2D399;
$life3: #F29863;
$life4: #D95F43;
$life5: #A63737;


/*
kuler: Norse
*/
$norse1: #9C001A;
$norse2: #FFFBDB;
$norse3: #ACBFCC;
$norse4: #77838C;
$norse5: #41484C;

$color1: $norse1;
$color2: $norse2;
$color3: $norse3;
$color4: $norse4;
$color5: $norse5;
$color6: $life1;
$color7: $life2;
$color8: $life3;
$color9: $life4;
$color0: $life5;

$color-link: #fff;
$color-link-active: #fff;
$highlight: $color9;
$highlight-text: $color2;


@mixin font-tip($size: $base, $weight: 400, $height: auto, $style: normal) {
    font-family: 'Georgia', serif;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $height;
}

@mixin font-body($size: $base, $weight: 300, $height: auto, $style: normal) {
    font-family: 'Open Sans', sans-serif;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $height;
}


// respsonsive
$break-small: 469px;
$break-medium: 730px;
$break-large: 996px;
$break-infinite: 1300px;

// neat bourbon setup... doesn't seem to work?
$visual-grid: true;
$visual-grid-color: #FF0000;
$max-width: $break-large;


//0 to small
$small: new-breakpoint(max-width $break-small 6);
$medium: new-breakpoint(min-width $break-small 12);
$large: new-breakpoint(min-width $break-medium 12);
$infinite: new-breakpoint(min-width $break-infinite 12);

$not-large: new-breakpoint(max-height $break-large 12);

$not-small: new-breakpoint(min-width $break-small 12);
$not-large: new-breakpoint(max-width $break-large 12);

//for sticky menu
$break-tall: 465px;
$break-short: 575px;
$short: new-breakpoint(min-height $break-short 12);
$tall: new-breakpoint(min-height $break-tall 12);

// sizing
$base: 13px;

$f1: golden-ratio($base, 4) * 0.3;
$f2: golden-ratio($base, 3) * 0.28;
$f3: golden-ratio($base, 2) * 0.32;
$f4: golden-ratio($base, 2) * 0.3;
$f5: golden-ratio($base, 2) * 0.2;
$f6: golden-ratio($base, 1) * 0.3;
$tinyfont: $base * 0.82;





@mixin ease-transition($speed){
    -webkit-transition: all $speed ease;
    -moz-transition: all $speed ease;
    -ms-transition: all $speed ease;
    -o-transition: all $speed ease;
    transition: all $speed ease;
}

@mixin set-radius($rad){
        -webkit-border-radius: $rad;
        -moz-border-radius: $rad;
        -ms-border-radius: $rad;
        -o-border-radius: $rad;
        border-radius: $rad;
}



/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

//EDITED
body { font:$base sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }

// EDITED
ul, ol { margin-left: 0em; }
ul { list-style-type:circle; list-style-position:inside; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: $highlight; color:$highlight-text; text-shadow: none; }
::selection { background:$highlight; color:$highlight-text; text-shadow: none; }
a:link { -webkit-tap-highlight-color: $highlight; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 {  }
// a, a:active, a:visited { color: $red; }
// a:hover { color: $light-red; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


