
// launchpad for all styles

@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'settings';
@import 'elements';
//@import 'syntax2';    // this is for Pygments code highlighting; won't work locally bc Python not installed
@import  'pastie';

// general sizing
body {
  @include outer-container;
  width: 100%;
}

// general, catch-all
#container {
  @include span-columns(12);
  width: 100%;
  background-color: green;

  
}



// general responsive 
@include media($small) {
  
  #test {
    @include span-columns(6);
    height: 50px;
    width: 100%;
    background-color: blue;
  }

  #test2 {
    @include span-columns(7);
    height: 50px;
    width: 100%;
    background-color: red;
  }

  .legal{
    display: block;
    padding-bottom: 4em;
    @include font-tip($f3, 300);
    text-align: center;
  }


}
@include media($small) {
  #container {padding: 0;}
}
@include media($medium) {
  // .bottom{display: none;}
  #container {@include pad(0 1em 0 1em); }
}
@include media($large) {
  #container {@include pad(0 3em 0 1em);}
}


// site layout

#container {
  @include outer-container;
/*

    SIDE BAR ********************************************************************************************************


*/

  
  
}

