

// fun: play with colors at top and About message w/ responsive

// launchpad for all styles

@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'settings';
@import 'elements';
//@import 'syntax2';    // this is for Pygments code highlighting; won't work locally bc Python not installed
@import  'pastie';

// general sizing
body {
  @include outer-container;
  width: 100%;
}

// general, catch-all
#container {
  background-color: blue;
    width: 100%;

  #sidebar {
    #test {width: 100%; height: 40px; background-color: chartreuse;}
    #logo {
      text-align: center;
      @include font-tip($f3, 300);

      #logo-image {
        margin-top: 3em;
        width: 88%;
        max-width: 170px;
        height: auto;
      }
    }

    
  }

}


// site layout

#container {
  @include outer-container;
/*

    SIDE BAR ********************************************************************************************************


*/

  #sidebar {
    @include media($small) {
      // @include span-columns(6);
      text-align: center; 
      margin-left: auto; margin-right: auto;

    }

    @include media($medium) {

    }


  }




/*


    MAIN CONTENT ********************************************************************************************************
    

*/




  
}

