
// launchpad for all styles

@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'settings';
@import 'elements';
//@import 'syntax2';    // this is for Pygments code highlighting; won't work locally bc Python not installed
@import  'pastie';

// general sizing
body {
  @include outer-container;
  width: 100%;
}

// general, catch-all
#container {
    width: 100%;
    background-color: green;

  #sidebar {

    #logo {
      text-align: center;
      @include span-columns(6);
      @include font-tip($f3, 300);

      #logo-image {
        margin-top: 3em;
        width: 88%;
        max-width: 170px;
        height: auto;
      }
    }

    #slogan {
      // padding-top: 7em;
      padding-top: 8em;
      text-align: left;
      @include font-tip($f2*0.95, 300, $f2*1.4);
      background-color: inherit;

      #slogan-blurb {
        border-top: 1px solid $color3; 
        border-bottom: 1px solid $color3; 
        padding: 0.6em;
        // @include set-radius(0.5em);
        // border: 1px solid $light-gray;
        background-color: $white;
      }

    }

    #about {
      #about-blurb{display: inherit;}
      #about-longer{display: none;}

      
      .triangle {
          @include triangle(12px, $color5, up);
          text-align: center;
          position: relative;
          left: 50%;
          margin-left: -6px;
      }

      #about-container {
        // border-top: 1px solid #ccc; 
        // border-bottom: 1px solid #ccc;
        padding-top: 0.4em;
        background-color: $color5; 
        padding: 0.8em;
        a {color: $color2; &:hover {color: $color4;}}
        // margin-top: 10em;

        @include media($medium) {@include set-radius(3px);}
        @include media($large) {@include set-radius(3px);}
        // border: 1px solid $color3;
        // background-color: $silver;
        @include font-body($f3,400);

        .line {
            @include ui-separator-dashed($color5, $color4);
            margin-top: 6px;
            margin-bottom: 6px;
        }
      }

    }
    #menu {
      padding-top: 9em;
      #menu-blog{@include span-columns(12);}
      #menu-email{@include span-columns(12);}
    }


    a.contact-email {
        background: #ffffff url('/assets/images/email.png') no-repeat center;
        background-size: 25px auto; height: 3em;
        background-color: $color-email;
        &:hover{background-color: $color7;}
    }
    a.contact-twitter {
        background: #ffffff url('/assets/images/twitter.png') no-repeat center;
        background-size: 25px auto; height: 3em;
        background-color: $color-twitter;
        &:hover{background-color: $color8;}
    }
    a.contact-linkedin {
        background: #ffffff url('/assets/images/linkedin.png') no-repeat center;
        background-size: 25px auto; height: 3em;
        background-color: $color-linkedin;
        &:hover{background-color: $color2;}
    }
    
  }

  #main {
    .post-taglist {
      margin-top: 0.6em;
      // margin-top: 1.5em;
      li{
        @include font-tip($f3, 300);
        display: inline;
        content: ',';
        color: $color4;

        /* once we have clickable tags
        border: 1px solid $gray;
        background-color: $gray;
        padding-bottom: 0.3em; padding-top: 0.3em;
        padding-left: 0.8em; padding-right: 0.8em;
        @include set-radius(4px); 
        @include font-body($f3, 300);
        display: inline;
        color: white;
        */
      }
      li:not(:last-child):after{
        content: ',';
      }
    }


    .legal {
      @include span-columns(12);
      padding-top: 2.5em; padding-bottom: 0.5em;
      @include font-tip($f3, 300);
      text-align: center;
    }
  }
}



// general responsive 
@include media($small) {
  
  #test {
    @include span-columns(6);
    height: 50px;
    width: 100%;
    background-color: blue;
  }

  #test2 {
    @include span-columns(7);
    height: 50px;
    width: 100%;
    background-color: red;
  }

  .legal{
    display: block;
    padding-bottom: 4em;
    @include font-tip($f3, 300);
    text-align: center;
  }


}
@include media($medium) {
  // .bottom{display: none;}
  #container {@include pad(0 1em 0 1em); }
}
@include media($large) {
  #container {@include pad(0 3em 0 1em);}
}


// site layout

#container {
  @include outer-container;
/*

    SIDE BAR ********************************************************************************************************


*/

  #sidebar {
    @include media($small) {
      @include span-columns(6);
      text-align: center; 

      #slogan {
        padding-top: 9em;
        #slogan-blurb {@include set-radius(0px); text-align: center;}
      }
      #about {#about-blurb{display: none}#about-longer{display: inherit;}}

      #contact { 
        padding-top: 0.5em;
        #contact-email{@include span-columns(6);}
        #contact-twitter{@include span-columns(3);}
        #contact-linkedin{@include span-columns(3);}
      }
      // .legal {display: none;}
    }

    @include media($medium) {
      @include span-columns(6);
      .content {
        // this makes menu sticky, but only above a certain height
        width: 22%;
        position: absolute;
        @include media($short) {
          height: 100%;
          position: fixed;
        }
      }

      #contact {
        @include span-columns(12);
        #contact-email{@include span-columns(12);}
        #contact-twitter{@include span-columns(12);}
        #contact-linkedin{@include span-columns(12);}

        padding-top: 0.5em;
      }



    }

    @include media($large) {

      .content {
        // this makes menu sticky
        height: 100%;

        position: absolute;
        @include media($tall) {
          height: 100%;
          position: fixed;
        }

        width: $gutter+$column*3;
      }

      #about {#about-blurb{display: none}#about-longer{display: inherit;}}

      #contact {
        @include span-columns(12);
        #contact-email{@include span-columns(4);}
        #contact-twitter{@include span-columns(4);}
        #contact-linkedin{@include span-columns(4);}

        padding-top: 0.5em;
      }

    }

  }




/*


    MAIN CONTENT ********************************************************************************************************
    

*/




  #main {
    @include clearfix;
  
    padding-bottom: 4em;

    .post {
      margin-top: 1em;
      // border-bottom: 1px solid #888; 
      padding: 1.4em;
      padding-left: 0.8em;
      // @include set-radius(0.5em);
      // border: 1px solid $light-gray;
      // background-color: $silver;
    }
    

    @include media($small) {
      // @include span-columns(6);

      //typography
      .post-date {@include font-tip($f3, 300); display:block; padding-bottom: 0.7em;}
      h1 {@include font-body($f1*0.8, 300);}
      .post-summary{@include font-body($f2*0.8, 300); margin-top: 0.3em;}

      .post {
        border-left: 0px; border-right: 0px;
        @include set-radius(0);
      }

      .post-image {
        width: 100%;
        height: auto;

      }
    }

    @include media($medium) {
      @include span-columns(9);
      @include shift (3);

      //typography
      .post-date {@include font-tip($f3, 300); display:block; padding-bottom: 0.7em;}
      h1 {@include font-body($f1*0.8, 300);}
      .post-summary{@include font-body($f2*0.8, 300); margin-top: 0.3em;}

      .post-image {
        width:95%;
        height: auto;
      }

      .content {
        display: block;
      }
    }

    @include media($large) {
      @include span-columns(9);

      //typography
      .post-date {@include font-tip($f3, 300); display:block; padding-bottom: 0.7em;}
      h1 {@include font-body($f1, 300);}
      .post-summary{@include font-body($f2, 300); margin-top: 0.3em;}

    }
  }
  
}

