
/* TODO
   fun: play with colors at top and About message w/ responsive

   1. About Page - Content & Format
   2. Toggle State (show/hide menu; hide all the menu / contact crud in articles? Shrink menu state for mobile)
   3. Tumblr integration?
   4. Content!
   5. Next / Previous Post links at the top of each post
*/

@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'settings';
@import 'elements';


//@import 'syntax2';    // this is for Pygments code highlighting; won't work locally bc Python not installed

// @import  'pastie';



// general sizing
body {
  @include outer-container;
  width: 100%;
}

// general, catch-all
.container {
    width: 100%;

  #sidebar {
    #test {width: 100%; height: 40px; background-color: chartreuse;}
    #logo {
      text-align: center;
      @include font-tip($f3, 300);

      #logo-image {
        margin-top: 3em;
        width: 88%;
        max-width: 170px;
        height: auto;
      }
    }

    #slogan {
      text-align: center;
      @include font-tip($f2*0.95, 300, $f2*1.4);
      background-color: inherit;
      #slogan-blurb {padding: 0 0.6em 0.6em 0.6em;}
    }

    #about {
      #about-container {
        border-top: 1px solid $light-gray; 
        border-bottom: 1px solid $light-gray;
        // background-color: $color5; 
        padding: 0.8em;
        text-align: center;
        a {color: $color4; &:hover {color: $color3;} text-decoration: none;}
        a:hover {color: $dark-gray; background: $color2;}

        @include media($medium) {@include set-radius(3px);}
        @include media($large) {@include set-radius(3px);}
        // border: 1px solid $color3;
        // background-color: $silver;
        @include font-body($f3,400);

        .line {
          @include ui-separator-dashed($color5, $color7);
          margin-top: 6px; margin-bottom: 6px;
        }

        #ctional {color: $light-gray;}
        em {background: none; color: $color6}
      }
    }
    #menu {padding-top: 1em; }
    #menu-container ul {list-style-type: none; }
  }

  #main {
    .post-taglist {
      margin-top: 0.6em;
      // margin-top: 1.5em;
      li{
        @include font-tip($f3, 300);
        display: inline;
        content: ',';
        color: $color4;

        /* once we have clickable tags
        border: 1px solid $gray;
        background-color: $gray;
        padding-bottom: 0.3em; padding-top: 0.3em;
        padding-left: 0.8em; padding-right: 0.8em;
        @include set-radius(4px); 
        @include font-body($f3, 300);
        display: inline;
        color: white;
        */
      }
      li:not(:last-child):after{
        content: ',';
      }
    }

    .legal {
      padding-top: 2.5em; padding-bottom: 0.5em;
      @include font-tip($f3, 300);
      text-align: center;
    }
  }

  // about page & static content
  .title {text-transform: uppercase; @include font-body($f2, 400); color: $color5; margin: 1em;}
  section {margin-bottom: 1em; padding: 1em; @include outer-container; }
  .section-title {text-transform: uppercase; @include font-body($f3, 400); color: $color5; margin-top: 1em;}
  .section-title-large {@extend .section-title; font-size: $f3*1.5;}
  p { @include font-body($f2, 400, 1.6em); margin-top: 0.8em; }
  // img { display: block; margin-left: auto; margin-right: auto; }

  //styling specific to about page bc I'm vain
  #triangle-hello { @include triangle(21px, $silver, up); @extend .tri-base; left: 5.5em;}
  #hello-box {@include font-body($f2, 400, 1.6em); padding: 1em; background-color: $silver;@include set-radius(3px); 
    div{ margin-bottom: 0.9em; } @extend .left-edge; }
  #hello { @extend .section-title; font-size: $f3*1.8; margin-top: 0; text-transform: none; }
  em { /*background-color: $color2;*/ color: $color0 }

  .row-content {
    @include span-columns(12);
    @include media($small) {@include span-columns(6);}
  }
  #aboutme-resume {padding: 0 1em 1em 1em; }
  #aboutme-current { @extend .row-content}   
  .callout {margin: 1em 0 0 0; padding: 0 1em 1em 1em; @extend .left-edge;  background-color: $silver;}
  .whiteout {@extend .callout; background: none;}
  #aboutme-work { @extend .whiteout; @include span-columns(6); @include media($small) {@include span-columns(6);} p { margin-top: 0}}
  #aboutme-live { @extend #aboutme-work }
  .note { @include font-body($f3*1.2, 400); }
  .shout { @include font-body($f2*1.34, 300, 1.6em); margin: 1em 0 1em 0;}
  #aboutme-contact { @extend .callout; padding: 0 2em 0.5em 1em; @include span-columns(12); li{@include span-columns(4); margin-top: 1em;}}
  // .button-list {padding-top: 1em;}
  .experience {@include span-columns(12); padding: 2em 1em 2em 1em; }
  .experience-side {@include media($large) {@include span-columns(3);} @include media($small) {@include span-columns(6);}}
  .experience-main {@include media($large) {@include span-columns(9);} @include media($small) {@include span-columns(6);} }
    .experience-date { @include font-tip($f3*1.14, 300, 1.3em); }
    .experience-company { @include font-body($f2*1.6, 300, 1.3em); }
    .experience-location { @include font-body($f3*1.3, 300, 1.3em); margin: 0.4em 0 0.4em 0;}
    .experience-role { @include font-body($f2*1.2, 300, 1.3em); margin-top: 1em;}
    .experience-desc p { @include font-body($f3*1.2, 400, 1.6em); margin-top: 0.8em; }
    .experience-desc li { @include font-body($f3*1.2, 400, 1.6em); margin-top: 0.6em;}
}



// general responsive 
@include media($small) {
  .container {@include pad(0); @include span-columns(6);}

  .legal{
    display: block;
    padding-bottom: 4em;
    @include font-tip($f3, 300);
    text-align: center;
  }


}
@include media($medium) {
  // .bottom{display: none;}
  body {@include pad(0 1em 0 1em); }
}
@include media($large) {
  body {@include pad(0 1em 0 1em);}
}


// site layout

.container {
  @include outer-container;
/*

    SIDE BAR ********************************************************************************************************


*/

  #sidebar {
    @include media($small) {
      text-align: center; 
      margin-left: auto; margin-right: auto;

      #slogan {
        #slogan-blurb {@include set-radius(0px); text-align: center;}
      }

      .content {
        @include outer-container;
        @include span-columns(6);
        #menu {
          padding-top: 0; margin-top: 0; 

          #menu-blog{@include span-columns(3);}
          #menu-email{@include span-columns(3);}
        }

      }
    }

    @include media($medium) {
      @include span-columns(6);
      .content {
        // this makes menu sticky, but only above a certain height
        width: 22%;
        position: absolute;
        @include media($short) {
          height: 100%;
          position: fixed;
        }
      }

    }

    @include media($large) {

      .content {
        // this makes menu sticky
        height: 100%;

        position: absolute;
        @include media($tall) {
          height: 100%;
          position: fixed;
        }

        width: $gutter+$column*3;
      }


    }

  }




/*


    MAIN CONTENT ********************************************************************************************************
    

*/


  #main {
    @include clearfix;
    padding-bottom: 4em;
    .post {margin-bottom: 0; padding-left: 1em; padding-right: 1em}
    .post-list {margin-top: 0; margin-bottom: 0; padding-left: 1em;}
    .post-link, .post-link:active, .post-link:visited {color: $dark-gray; text-decoration: none;}
    .post-contentwrapper { @include span-columns(12); }
    .post-maincontent { @include media($large) {@include span-columns(8); margin-bottom: 4em;} }
    .post-sidebar { @include media($large) {@include span-columns(4); } margin-top: 1em;}

    .post-sidebar-column {
      border-left: 1px solid $color3;
      padding: 0.6em;
      margin-bottom: 0.6em;
      span { display: block; @include font-body($f3*1.21, 400, 1.45em); }
    }

    @include media($small) {
      .post-date {@include font-tip($f3, 300); padding-bottom: 0.7em; }
      h1 {@include font-body($f1*0.9, 300);}
      .post-summary{@include font-body($f2*0.96, 400); margin-top: 0.3em;}
      .post {border-left: 0px; border-right: 0px; @include set-radius(0);}
      .post-imageframe {padding: 1em 1em 0 0;}
      .post-image {width:auto; height: auto;}
      .post-body {padding-top: 1em; padding-bottom: 4em; @include font-body($f2, 400, 1.6em); p {margin-top: 0.8em;} }
      .post {margin-top: 1em; @include span-columns(6); }
    }

    @include media($medium) {
      @include span-columns(9);
      @include shift (3);

      //typography
      .post-date {@include font-tip($f3, 300); display:block; padding-bottom: 0.7em;}
      h1 {@include font-body($f1*0.9, 300);}
      .post-summary{@include font-body($f2, 400); margin-top: 0.3em;}
      .post-image {width:auto;height: auto;}
      .content {display: block; padding-top: 3em;}
      .post-body {padding-bottom: 4em; @include font-body($f2, 400, 1.6em); p {margin-top: 0.8em;} @include span-columns(12); }
    }

    @include media($large) {
      @include span-columns(9);

      //typography
      .post-date {@include font-tip($f3, 300); display:block; padding-bottom: 0.7em;}
      h1 {@include font-body($f1, 300);}
      .post-summary{@include font-body($f2, 400); margin-top: 0.3em;}
      .post-body {@include span-columns(12); }
    }
  }
  
}

