
/* force previous style to be relative size, regardless of main doc */
.summarylong {
	position:relative !important
}



.right-rail-container {
	/*width: 40px;
	right: 70px;*/
	position: absolute;
}

.post--left-nav-taller {
	padding: 20px 0 !important;
}
