---
import { Content as Test } from './test.md';
const { classes = '' } = Astro.props;
const geminiBbox = typeof Deno !== "undefined" ? (await import("https://esm.town/v/yawnxyz/geminiBbox?v=198")).html : undefined;

// https://esm.town/v/yawnxyz/geminiBbox?v=198
// challenge();
// console.log("banana:::", challenge());

---

<div class="container mx-auto">
  <Test />

  <h2>hello... lol what ugh</h2>

  <div class="text-2xl">hello?!?!</div>
  
  {geminiBbox ? (
    <div class={"geminiBbox " + classes}>
      <Fragment set:html={geminiBbox} />
    </div>
  ) : typeof Deno === "undefined" ? (<div class="container mx-auto text-center my-12 px-12 py-12 bg-gray-100 text-gray-600 rounded-lg">Deno is not available in this environment.</div>) : null}

</div>



<style>
  h2 {
    @apply text-4xl font-bold text-red-400;
  }
</style>