
<section id="about" class="_color-bg-silver-light _color-bg-silver-lighter">
  <div class="_content">
    <div class=" _grid-one _margin-center _width-content-max-narrow  _padding-top">
      <!-- <h2 class="_header">Actual Experts</h2> -->
      <div class="">
        <p class="_padding-bottom">Web experts has been an Atlanta agency since 1997. <a href="./company.html">We’ve served dozens of clients from web development, marketing, hosting, and app development</a>.</p>
        <div class="_infobox _grid-two _margin-top _margin-bottom _color-bg-white">
          <a href="./careers.html" class="_infobox-content _padding-2-i _align-center">
            <div>
              Want to expand your career? <strong> Join our team <span class="_anim-right">&rarr;</span> </strong>
            </div>
          </a>
          <a href="./clients.html" class="_infobox-content _padding-2-i _align-center">
            <div>
              Take a look at <strong> our blog <span class="_anim-right">&rarr;</span> </strong>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>