---
layout: main
title: About Jan 
---


<!-- post format:

date      (01 January 2013)
*icon     (external | other post types) *not implemented yet
Title     (external link | post url)
Object    (external link | post url) (image | youtube | vimeo)
Summary   
Tags
 -->
 
<section id="aboutme">
  <div id="about-intro">
    <div id="portrait"><img src="/assets/images/profilepicture.jpg" /></div>
    <div id="description">
      <div id="triangle-hello"></div>
      <div id="hello-box">
        <div id="hello">Hello!</div>
        <div>My name is Jan ('yawn'), and I make interactive experiences like <em>websites</em>, <em>apps</em> &amp; <em>interfaces</em>, <em>services</em>, and <em>games</em>.
        </div>

        <div>I always strive to create immersive, memorable, and delightful experiences, through design-thinking, user-centered design, research, and lots of iterative design, prototyping, and testing.
        </div>
      </div>

      <div id="aboutme-current">
        <div id="aboutme-resume" class="left-edge">
          <div class="section-title">Need a summary?</div>
          <span class="shout"><a href="/resume.pdf">Grab my resume</a>
        </div>

        <div id="aboutme-work">
          <div class="section-title">Current Work</div>
          <span class="shout"><em>Sr. UX Architect</em> at Nurun</span>
          <div class="note">I'm currently down for side projects.</div>
        </div>

        <div id="aboutme-live">
          <div class="section-title">Current Location</div>
          <span class="shout"><em>Atlanta</em></span>
          <div class="note">I'm open to relocation. I'm a U.S. + E.U. citizen.</div>
        </div>
      </div>

      <div id="aboutme-contact">
        <div class="section-title">Want to say 'Hi?'</div>
        <ul>
          <li><a href="mailto:{{site.author.email}}" class="bttn bttn-contact contact-email"></a></li>
          <li><a href="http://www.twitter.com/{{site.author.twitter}}" class="bttn bttn-contact contact-twitter"></a></li>
          <li><a href="http://{{site.author.linkedin}}" class="bttn bttn-contact contact-linkedin"></a></li>
        </ul>
      </div>

    </div>
  </div>
</section>

<section id="about-workschool">
  <div id="about-work">
    <span class="section-title-large">Experience</span>
    <div class="solidline"></div>

    <p>I have been on both the agency and the client-side, and I've been lucky to have worked with some great companies and clients.</p>
    <p>I currently work for an interactive agency called <em>Nurun</em>, as a Senior User Experience Architect, where I work with <em>Nespresso</em>, <em>GE Energy</em>, <em>The Home Depot</em> among others.</p>
    <p>Previously, I have worked with <em>Coca Cola</em>, <em>L'Oreal</em>, <em>Verizon</em>, and <em>Cartoon Network</em>.
    I have also worked at places like <em>Microsoft</em>, and <em>Lockheed Martin</em>.</p>
    <p>I have a Masters of Human-Computer Interaction from <a href="http://www.hcii.cmu.edu/">Carnegie Mellon</a>, and have undergraduate degrees in Psychology and in Computer Science, focusing on game development, from <a href="http://www.umbc.edu">UMBC</a>.</p>

    <div class="expandable">
      <div class="btn btn-open left-edge">WORK &amp; EDUCATION<div class="triangle-down"></div></div>
      <div class="btn btn-close left-edge">WORK &amp; EDUCATION<div class="triangle-up"></div></div>
      <div class="collapsible left-edge">
        <ul class="button-list">

          <li class="experience">
            <div class="experience-side">
              <div class="experience-date">Current</div>
              <div class="experience-company">Freelance</div>
              <div class="experience-location">Atlanta, GA</div>
            </div>
            <div class="experience-main">
              <div class="experience-role">Freelance Web Design</div>
              <div class="experience-desc">
                <p>I've helped friends and others design websites for various purposes. Currently working with gym concept ubody fitness to create their new site and look.</p>
              </div>
            </div>
          </li>

          <li class="experience">
            <div class="experience-side">
              <div class="experience-date">2012+</div>
              <div class="experience-company">Nurun</div>
              <div class="experience-location">Atlanta, GA</div>
            </div>
            <div class="experience-main">
              <div class="experience-role">Senior User Experience Architect</div>
              <div class="experience-desc">
                <p>At Nurun, I bring new projects to life. I help define project scope, functionality, research, and other needs, and help determine the feasibility and schedule. I translate requirements into a tangible experience with flow diagrams, site maps, wireframes, and prototypes, and work with our designers and the technical team to realize the product.</p>

                <p>Lately I've focused on creating a creative and wireframe presentation tool, and a more flexible, agile proess flow that emphasizes earlier research, user experience, and integration among departments.</p>

                <p>Clients include Nespresso, Assurant, Manheim, The Home Depot, General Electric Energy, and Disney.</p>
              </div>
            </div>
          </li>

          <li class="experience">
            <div class="experience-side">
              <div class="experience-date">2010 - 2012</div>
              <div class="experience-company">Moxie</div>
              <div class="experience-location">Atlanta, GA</div>
            </div>
            <div class="experience-main">
              <div class="experience-role">User Experience Architect</div>
              <div class="experience-desc">
                <p>As a user experience architect, I translated client and business requirements into user flows, site maps, wireframes and technical specs. I developed wireframes, concepts, and functional prototypes, and worked with developers and designers to establish website and app functionality, user flow, information architecture.</p>

                <p>Clients include Cartoon Network Mobile, Coca Cola, L'Oreal &amp; Garnier, Verizon Wireless, Pennington Seed, AMDRO Mobile, BBC America, Autotrader, and Nestea.</p>
                <ul>
                  <li>Established requirements and functionality through userflows, wireframes, information architecture charts, sitemaps, and other documentation.</li>
                  <li>Explored design concepts through wireframes, paper, and functional prototypes.</li>
                  <li>Participated in campaign concepting and strategy, and provided consultation, market research, and research into pitches and projects.</li>
                  <li>Provided UX-focused QA, design direction, and feedback.</li>
                </ul>
              </div>
            </div>
          </li>

          <li class="experience">
            <div class="experience-side">
              <div class="experience-date">2009 - 2010</div>
              <div class="experience-company">Carnegie Mellon University</div>
              <div class="experience-location">Pittsburgh, PA</div>
              <div class="experience-location">GPA: 3.79</div>
            </div>
            <div class="experience-main">
              <div class="experience-role">Masters in Human-Computer Interaction</div>
              <div class="experience-desc">
                <p>Earned a Masters in Human-Computer Interaction degree, which comprised of a combination of classes in interaction design methodologies, user research, interactive prototyping, and design.</p>

                <p>Relevant Coursework</p>
                <ul>
                  <li>HCI Project Course, HCI Methods Course</li>
                  <li>Service Design, Interaction Design</li>
                  <li>Software Architecture and User Interfaces</li>
                  <li>Game Design (at the Entertainment Technology Center)</li>
                </ul>
              </div>
            </div>
          </li>

          <li class="experience">
            <div class="experience-side">
              <div class="experience-date">2008</div>
              <div class="experience-company">Microsoft</div>
              <div class="experience-location">Raleigh, NC</div>
            </div>
            <div class="experience-main">
              <div class="experience-role">Program Manager Intern</div>
              <div class="experience-desc">
                <p>Managed and assisted in designing and developing a shell extension feature similar to the Subversion SVN system to Visual Studio Team Foundation Server. Also researched, wireframed and proposed a system for a collaborative coding environment.</p>
                <ul>
                  <li>Managed agile sprint schedule and day-to-day tasks</li>
                  <li>Created Project timelines and project reports</li>
                  <li>Assisted project with design assets</li>
                  <li>Performed competitive research for collaborative coding concept</li>
                  <li>Interviews developers and stakeholders for key insights for the concept</li>
                  <li>Created conceptual wireframes in Microsoft Visio</li>
                </ul>
              </div>
            </div>
          </li>

          <li class="experience">
            <div class="experience-side">
              <div class="experience-date">2007</div>
              <div class="experience-company">University of Southern California</div>
              <div class="experience-location">Los Angeles, CA</div>
            </div>
            <div class="experience-main">
              <div class="experience-role">Research Intern</div>
              <div class="experience-desc">
                <p>Created experimental real-time MIDI pattern generator and sound tools using Max/MSP, and a video annotation in Adobe Flash / Flex.</p>
              </div>
            </div>
          </li>

          <li class="experience">
            <div class="experience-side">
              <div class="experience-date">2006 - 2007</div>
              <div class="experience-company">Lockheed Martin</div>
              <div class="experience-location">Woodlawn, MD</div>
            </div>
            <div class="experience-main">
              <div class="experience-role">Developer</div>
              <div class="experience-desc">
                <p>As a developer intern (and later part time), I Designed and developed an internal communication portal for Lockheed's SSA technical team to track work, ideas, and documents, using Windows Sharepoint Services (1.0).</p>

                <ul>
                  <li>Designed and concepted portal with internal stakeholders</li>
                  <li>Configured and developed site on Windows Sharepoint 1.0 CMS</li>
                </ul>
              </div>
            </div>
          </li>


          <li class="experience">
            <div class="experience-side">
              <div class="experience-date">2004 - 2009</div>
              <div class="experience-company">UMBC</div>
              <div class="experience-location">Baltimore, MD</div>
              <div class="experience-location">GPA: 3.45</div>
            </div>
            <div class="experience-main">
              <div class="experience-role">Computer Science &amp; Psychology</div>
              <div class="experience-desc">
                <p>At UMBC, I received a bachelor's degree in computer science, with a minor in psychology. I took the Game Development track, which focused on game design and game-related development, including graphics, artificial intelligence, and algorithms. </p>

                <p>I took psychology for fun, and split my studies between behavioral (learning) psychology and cognitive psychology. I worked on a few simulation and pilot projects with the learning lab.</p>

                <p>I got pretty far in the computer engineering and math tracks, but didn't complete.</p>
                <p>Relevant Coursework</p>
                <ul>
                  <li>Game Design, Game Development Capstone</li>
                  <li>Discrete Structures, Algorithms, Data Structures, Scripting Languages, Computer Graphics, GUI Programming, Artificial Intelligence Programming, Software Design, Operating Systems, Assembly Language</li>
                  <li>Statistics, Linear Algebra, Differential Equations, Math Analysis</li>
                  <li>Child Developmental Psychology, Psychology of Learning (Behavioral Psychology), Cognitive Psychology, Social Psychology</li>
                  <li>Honors include the Meyerhoff Scholarship, and membership in the Honors College, Psi Chi Psychology Honor Society, and LeaderShape</li>
                </ul>
              </div>
            </div>
          </li>


        </ul>
      </div>
    </div>
  </div>
</section>

<section id="about-workschool">
  <span class="section-title-large">Partial Portfolio</span>
  <div class="solidline"></div>

  {% for post in site.posts %}
  {% if post.portfolio %} 
    <a class="post-link" href="{% if post.external %} {{ post.external }} {% else %} {{ post.url }} {% endif %}">
      <section class="post-list">
        <div class="meta-data">
          <!-- <span class="post-date">{{ post.date | date: "%d %B %Y" }}</span>  -->

        </div>

        {% if post.image-icon %}      
         <img class="post-image" src="{{ post.image-icon }}"></img>           
        {% endif %}

        <h1>{{ post.title }}</h1>

        {% if post.youtube %}<iframe width="550" height="452" src="{{ post.youtube }}" frameborder="0" allowfullscreen></iframe>{% endif %}
        {% if post.vimeo %}<iframe src="{{ post.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=0f314a" width="550" height="309" frameborder="0"></iframe>{% endif %}    

        <p class="post-summary">{{ post.summary }}</p>

        {% if post.tags != null %}
          {% assign tags_list = post.tags %} 
            {% if tags_list.size > 0 %}
            <ul class="post-taglist">

              {% if tags_list.first[0] == null %}
                {% for tag in tags_list %} 
                  <li>{{ tag }}</li>
                {% endfor %}
              {% else %}
                {% for tag in tags_list %} 
                  <li>{{ tag[0] }}</li>
                {% endfor %}
              {% endif %}
              
            {% endif %}
            {% assign tags_list = nil %}
          </ul>
        {% endif %}

        <div class="clear"></div>
      </section>
    </a>
    <div class="solidline"></div>
  {% endif %}
  {% endfor %}

</section>


<a id="about-self"></a>
<section id="about-myself">
  <div id="about-work">
    <span class="section-title-large">More About Myself</span>
    <div class="solidline"></div>

    <p>I've always had a fascination with learning, doing, and experimenting, and my experience spans across research, design, and writing code. </p>

    <p>I have experience with <em>Adobe Creative Suite</em>, <em>Microsoft Office</em>, <em>Axure</em>, and other design and productivity tools. I prefer to prototype websites in HTML, JavaScript and SASS/CSS, and other experiences in Flash, but I'm familiar with anything from C to Processing. </p>

    <p>My eclectic background mirrors my eclectic upbringing. Though born in China, I moved to Stockholm at a young age.</p> <p>I am fluent in <em>English</em> and <em>Swedish</em>, and conversational in <em>Mandarin</em>.</p> <p>I hold <em>dual citizenship</em> with the <em>United States</em> and <em>Sweden</em>.</p>

    <p>On my off days, I enjoy swing dancing, rock climbing, playing indie games, and cooking and stuffing my face with some tasty food. </p>
  </div>

</section>

<section id="about-myself">
  <div id="about-work">
    <span class="section-title-large">About this Site</span>
    <div class="solidline"></div>

    <p>This site's probably my umpteenth portfolio redesign, as I seem to want to create a new one every three months. This one will hopefully last longer, as it has a blog element, is written in SASS, is fairly robust, and is hosted for free at Github.</p>

    <p>Initially I crawled through many CMS and hosting systems, including WordPress, and didn't like any of them: WordPress was too cumbersome for my needs, and the other sites were too costly on a long-term basis. I landed on Github Pages out of chance, found out you could host and blog for free, and are given complete freedom in design, thanks to a static generator technology called Jekyll. </p>

    <p>At some point I'll create a post to show exactly how I created this site. For now, <a href="https://github.com/janzheng/janzheng.github.com">branch my repo</a> and shoot me an e-mail for questions if you have any questions. </p>

    <p>Cheers, <br/> Jan</p>
  </div>
</section>