---
layout: main
title: About Jan 
---


<!-- post format:

date      (01 January 2013)
*icon     (external | other post types) *not implemented yet
Title     (external link | post url)
Object    (external link | post url) (image | youtube | vimeo)
Summary   
Tags
 -->
 
<section id="aboutme">
  <div id="about-intro">
    <div id="portrait"><img src="http://placehold.it/150x150" /></div>
    <div id="description">
      <div id="triangle-hello"></div>
      <div id="hello-box">
        <div id="hello">Hello!</div>
        <div>My name is Jan ('yawn'), and I make interactive experiences like <em>websites</em>, <em>apps</em> &amp; <em>interfaces</em>, <em>services</em>, and <em>games</em>.
        </div>

        <div>I always strive to make my experiences immersive, memorable, and delightful, through the use of research, user-centered design and lots of iterative prototyping.
        </div>
      </div>

      <div id="aboutme-current">
        <div id="aboutme-work"><p>I am the Senior User Experience Architect at Nurun,
        but am available for freelance.</p></div>

        <div id="aboutme-live"><p>I live in Atlanta, but I share citizenship between the United States and Sweden. <!-- <a href="#about-self">(I sure do look Swedish!)</a> --></p></div>
      </div>

      <div class="contact-block">[[Want to say hi? (short, simple bar with icons to reach out to me) ]]<!-- <div id="contact">{% include contact.html %}</div> --></div>
    </div>
  </div>

  <div id="about-work">

    <span class="section-title">Work</span>
    <div class="line"></div>

    <p>I have been on both the agency and the client-side, and I've been lucky to have worked with some great companies.</p>

    <p>I currently work for an interactive agency called <em>Nurun</em>, where I work with <em>Nespresso</em>, <em>GE Energy</em>, <em>The Home Depot</em> among others. My previous clients include <em>Coca Cola</em>, <em>L'Oreal</em>, <em>Verizon</em>, and <em>Cartoon Network</em>.
    I have also worked at places like <em>Microsoft</em>, and <em>Lockheed Martin</em>.</p>

    <div class="expandable">
      <div class="btn btn-open">Work Experience<div class="triangle-down"></div></div>
      <div class="btn btn-close">Work Experience<div class="triangle-up"></div></div>
      <div class="collapsible">
        <p><em>All work</em> blargh blargh blargh blargh <a href="http://www.google.com">Google Linkz</a>blargh</p>
      </div>
    </div>

  </div>

  <div id="about-school">
    <span class="section-title">School</span>
    <div class="line"></div>

    <p>I have a Masters of Human-Computer Interaction from Carnegie Mellon, and have undergraduate degrees in Computer Science and Psychology, focusing in game development from UMBC.</p>

    <div class="expandable">
      <div class="btn btn-open">School<div class="triangle-down"></div></div>
      <div class="btn btn-close">School<div class="triangle-up"></div></div>
      <div class="collapsible">
        <p><em>All work</em> blargh blargh blargh blargh <a href="http://www.google.com">Google Linkz</a>blargh</p>
      </div>
    </div>
  </div>

  <a id="about-self"></a>

  <span class="section-title">Some of My Work</span>
  <div class="line"></div>

  {% for post in site.posts %}
  {% if post.portfolio  %} 
    <a class="post-link" href="{% if post.external %} {{ post.external }} {% else %} {{ post.url }} {% endif %}">
      <section class="post">
        <div class="meta-data">
          <span class="post-date">
            {{ post.date | date: "%d %B %Y" }}      
          </span> 

        </div>

        <h1>{{ post.title }}</h1>

        {% if post.image-path %}      
         <img class="post-image" src="{{ post.image-path }}"></img>           
        {% endif %}

        {% if post.youtube %}<iframe width="550" height="452" src="{{ post.youtube }}" frameborder="0" allowfullscreen></iframe>{% endif %}
        {% if post.vimeo %}<iframe src="{{ post.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=0f314a" width="550" height="309" frameborder="0"></iframe>{% endif %}    


        <p class="post-summary">{{ post.summary }}</p>

        {% if post.tags != null %}
          {% assign tags_list = post.tags %} 
            {% if tags_list.size > 0 %}
            <ul class="post-taglist">

              {% if tags_list.first[0] == null %}
                {% for tag in tags_list %} 
                  <li>{{ tag }}</li>
                {% endfor %}
              {% else %}
                {% for tag in tags_list %} 
                  <li>{{ tag[0] }}</li>
                {% endfor %}
              {% endif %}
              
            {% endif %}
            {% assign tags_list = nil %}
          </ul>
        {% endif %}

        <div class="clear"></div>
      </section>
    </a>
    <div class="line"></div>
  {% endif %}
  {% endfor %}


</section>
