---
layout: layout-site
title: Jan Zheng - UX &amp; Code
menu: full
---
  

<!-- post format:

layout: post
title: Break the Grid!
summary: but do it responsively

source: /app/posts/break-the-grid/
preview-img : /app/posts/nanowrito/preview.png
preview-css : post-preview-dark post--review-break-the-grid

external: #
youtube: #
vimeo: #

// categories: project, rant, tool, portfolio 
category : rant
tags : [design, another tag]

published : true
portfolio : false
comments : true
featured : false




Page Format

  posts (list)
    post                                      [post.category, post.featured : post--featured] - category is used for sorting later on
      post--link                              [post.external]
        post--container                       [post.preview-css (classes used to style the preview), post.preview-img (background preview image for post)]

          post--info
            post--info--date--container
              post--info--date                  [post.date]
            post--info--title--container        [post.title]
              post--info--title                 [post.title]
            post--info--summary--container               
              post--info--summary               [post.summary]

            post--info--taglist-container
              post--info--taglist
                tag                             [post.tags]
                tag ...

-->




<div class="container">
  <div class="content">
    <article class="posts" id="blogList">

    <!-- <input class="search" placeholder="search"/> -->
    <!-- <span class="sort" data-sort="sortCategory">Sort by Category</span> -->
    <!-- <span class="sort" data-sort="sortDate">Sort by Date</span> -->

    <div class="page--title">
      blog posts
    </div>

    <div class="posts--filters">
      <div class="filter-btn" class="btn-inline" data-filter="lab">{% include lab-svg.html %}</div>
      <div class="filter-btn" class="btn-inline" data-filter="rant">{% include rant-svg.html %}</div>
      <div class="filter-btn" class="btn-inline" data-filter="idea">{% include idea-svg.html %}</div>
      <div class="filter-btn" class="btn-inline" data-filter="work">{% include work-svg.html %}</div>
    </div>
      

    <ul class="list">
    {% for post in site.posts %}
    {% if post.published == true %} 

      <li class="post post--cat--{{post.category}} {% if post.featured %} post--featured {% endif %}">

        <a class="post--link" href="{% if post.external %} {{ post.external }} {% else %} {{ post.url }} {% endif %} ">
          <div class="post--container {{ post.preview-css }} {% if post.preview-img == nil %} post--preview-no-img {% else %} post--preview-img" data-bg="{{ post.preview-img }} {% endif %}"> <!-- bg image is set in script.js -->

            <!-- used by a few posts for custom previews -->
            <div class="post--preview-before">{{ post.preview-before }}</div>


            <div class="post--info">

              <!-- this is for category tags labels -->
              {% if post.category %}
              <div class="post--category post--category-{{post.category}}">
                <div class="post--category--icon">

                  {% if post.category == 'lab' %}
                    {% include lab-svg.html %}
                  {% endif %}

                  <!-- attribution to be put on about page -->
                  <!-- <div>Icon made by <a href="http://www.flaticon.com/free-icon/idea-general_9236" title="Zurb">Zurb</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a></div>
                 -->
                  {% if post.category == 'idea' %}
                    {% include idea-svg.html %}
                  {% endif %}

                  {% if post.category == 'rant' %}
                    {% include rant-svg.html %}
                  {% endif %}

                  {% if post.category == 'work' %}
                    {% include work-svg.html %}
                  {% endif %}

                </div>
                <div class="post--category--label sortCategory">{{post.category}}</div>
              </div>
              {% endif %}

              <div class="post--info--date-container">
                <div class="post--info--date">{{ post.date | date: "%d %B %Y" }}</div>
              </div>

              <div class="post--info--title-container">
                <div class="post--info--title">{{ post.title }}</div>
              </div>

              {% if post.youtube %}<iframe width="550" height="452" src="{{ post.youtube }}" frameborder="0" allowfullscreen></iframe>{% endif %}
              {% if post.vimeo %}<iframe src="{{ post.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=0f314a" width="550" height="309" frameborder="0"></iframe>{% endif %}    

              {% if post.summary %}
              <div class="post--info--summary-container">
                <div class="post--info--summary">{{ post.summary }}</div>
              </div>
              {% endif %}

              {% if post.tags != null %}
                {% assign tags_list = post.tags %} 
                  {% if tags_list.size > 0 %}
                    <div class="post--info--taglist-container">
                      <ul class="post--info--taglist">

                        {% if tags_list.first[0] == null %}
                          {% for tag in tags_list %} 
                            <li>{{ tag }}</li>
                          {% endfor %}
                        {% else %}
                          {% for tag in tags_list %} 
                            <li>{{ tag[0] }}</li>
                          {% endfor %}
                        {% endif %}
                      </ul>
                    </div>
                  {% endif %}
                  {% assign tags_list = nil %}
              {% endif %}

              <div class="clear"></div>
            </div>
            <!-- end post--info -->


            <!-- used by a few posts for custom previews -->
            <div class="post--preview-after">{{ post.preview-after }}</div>

          </div>
          <!-- end post--container -->

        </a>
        <!-- end post--link -->

      </li>
      <!-- end post -->
    {% endif %}
    {% endfor %}

    </ul>

    </article>
    <!-- end posts list -->

  </div>
</div>
<!-- end outer-container -->




