---
layout: main
title: Jan Zheng Portfolio
---


<!-- post format:

date      (01 January 2013)
*icon     (external | other post types) *not implemented yet
Title     (external link | post url)
Object    (external link | post url) (image | youtube | vimeo)
Summary   
Tags
 -->

<!-- <div class="title">Things I say</div> -->

{% for post in site.posts %}
{% if post.portfolio != yes %} 
{% if post.published != yes %} 

<a class="post-link" href="{% if post.external %} {{ post.external }} {% else %} {{ post.url }} {% endif %}">
  <section class="post-list">
    <div class="meta-data">
      <span class="post-date">
        {{ post.date | date: "%d %B %Y" }}      
      </span> 


  <!--{% if post.external %}
        <span class="external">External link</span>
        <a class="permalink" href="{{ post.url }}">Permalink</a>
      {% endif %} -->
    </div>

    <h1>{{ post.title }}</h1>

    {% if post.image-path %}      
     <img class="post-image" src="{{ post.image-path }}"></img>           
    {% endif %}

    {% if post.youtube %}<iframe width="550" height="452" src="{{ post.youtube }}" frameborder="0" allowfullscreen></iframe>{% endif %}
    {% if post.vimeo %}<iframe src="{{ post.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=0f314a" width="550" height="309" frameborder="0"></iframe>{% endif %}    


    <p class="post-summary">{{ post.summary }}</p>

    {% if post.tags != null %}
      {% assign tags_list = post.tags %} 
        {% if tags_list.size > 0 %}
        <ul class="post-taglist">

          {% if tags_list.first[0] == null %}
            {% for tag in tags_list %} 
              <li>{{ tag }}</li>
            {% endfor %}
          {% else %}
            {% for tag in tags_list %} 
              <li>{{ tag[0] }}</li>
            {% endfor %}
          {% endif %}
          
        {% endif %}
        {% assign tags_list = nil %}
      </ul>
    {% endif %}

    <div class="clear"></div>
  </section>
</a>
<div class="solidline"></div>
{% endif %}
{% endif %}
{% endfor %}