<!doctype html>
<html>
  <head>
    <title>jz: products &amp; prototypes</title>
    <%= partial '/partials/head' %>
  </head>
  <body class="">

    <%= partial '/partials/nav' %>

    <div class="_main">
      <%= yield %>
      
    </div>

  </body>
</html>
