@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|Open+Sans:300,400,400italic);
/* TODO
   fun: play with colors at top and About message w/ responsive

   1. About Page - Content & Format
   3. Tumblr Integration
    - Tumblr Theme
   4. Content!
   5. Next / Previous Post links at the top of each post
*/
/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
kuler: Lifedots 1
*/
/*
kuler: Norse
*/
/*  HTML5 ✰ Boilerplate  */
/* line 155, ../sass/_settings.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, .container #main .content .post-sidebar-column title, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 165, ../sass/_settings.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 169, ../sass/_settings.scss */
blockquote, q {
  quotes: none;
}

/* line 171, ../sass/_settings.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 172, ../sass/_settings.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 173, ../sass/_settings.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 174, ../sass/_settings.scss */
del {
  text-decoration: line-through;
}

/* line 175, ../sass/_settings.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 176, ../sass/_settings.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 177, ../sass/_settings.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 178, ../sass/_settings.scss */
input, select {
  vertical-align: middle;
}

/* line 181, ../sass/_settings.scss */
body {
  font: 13px sans-serif;
  *font-size: small;
}

/* line 182, ../sass/_settings.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 183, ../sass/_settings.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 185, ../sass/_settings.scss */
html {
  overflow-y: scroll;
}

/* line 186, ../sass/_settings.scss */
a:hover, a:active {
  outline: none;
}

/* line 189, ../sass/_settings.scss */
ul, ol {
  margin-left: 0em;
}

/* line 190, ../sass/_settings.scss */
ul {
  list-style-type: circle;
  list-style-position: inside;
}

/* line 191, ../sass/_settings.scss */
ol {
  list-style-type: decimal;
  list-style-position: inside;
}

/* line 193, ../sass/_settings.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 194, ../sass/_settings.scss */
small {
  font-size: 85%;
}

/* line 195, ../sass/_settings.scss */
strong, th {
  font-weight: bold;
}

/* line 196, ../sass/_settings.scss */
td {
  vertical-align: top;
}

/* line 198, ../sass/_settings.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 199, ../sass/_settings.scss */
sup {
  top: -0.5em;
}

/* line 200, ../sass/_settings.scss */
sub {
  bottom: -0.25em;
}

/* line 202, ../sass/_settings.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 203, ../sass/_settings.scss */
textarea {
  overflow: auto;
}

/* line 204, ../sass/_settings.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 205, ../sass/_settings.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 206, ../sass/_settings.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 207, ../sass/_settings.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 208, ../sass/_settings.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 209, ../sass/_settings.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 210, ../sass/_settings.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 212, ../sass/_settings.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 213, ../sass/_settings.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 215, ../sass/_settings.scss */
::-moz-selection {
  background: #d95f43;
  color: #fffbdb;
  text-shadow: none;
}

/* line 216, ../sass/_settings.scss */
::selection {
  background: #d95f43;
  color: #fffbdb;
  text-shadow: none;
}

/* line 217, ../sass/_settings.scss */
a:link {
  -webkit-tap-highlight-color: #d95f43;
}

/* line 219, ../sass/_settings.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 220, ../sass/_settings.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 222, ../sass/_settings.scss */
body, select, input, textarea {
  color: #444;
}

/* line 227, ../sass/_settings.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 228, ../sass/_settings.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 229, ../sass/_settings.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 231, ../sass/_settings.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 232, ../sass/_settings.scss */
.invisible {
  visibility: hidden;
}

/* line 233, ../sass/_settings.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 234, ../sass/_settings.scss */
.clearfix:after {
  clear: both;
}

/* line 235, ../sass/_settings.scss */
.clearfix {
  zoom: 1;
}

/* line 2, ../sass/_triangles.scss */
.tri-base, .triangle, .triangle-down, .triangle-up, .container #triangle-hello {
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -6px;
}

/* line 9, ../sass/_triangles.scss */
.triangle {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  border-bottom-color: #77838c;
}

/* .triangle-up {@include triangle(12px, $color5, up);@extend .tri-base;}
.triangle-down {@include triangle(12px, $color5, down);@extend .tri-base;} */
/* line 12, ../sass/_triangles.scss */
.triangle-down {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  border-top-color: #a63737;
  margin-top: 6px;
}

/* line 13, ../sass/_triangles.scss */
.triangle-up {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  border-bottom-color: #a63737;
}

/*
  Expand + Collapse Menu
  - When SMALL: show open button, hide close button, hide content
  - When MED: hide open button, hide close button, show content 
*/
/* line 8, ../sass/_collapsible.scss */
.expandable {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 54, ../sass/neat/grid/_span-columns.scss */
.expandable:last-child {
  margin-right: 0;
}

/* line 9, ../sass/_collapsible.scss */
.btn {
  cursor: pointer;
  text-align: center;
  padding-top: 0.4em;
  color: #77838c;
  margin-top: 1em;
  padding: 1em 0 1em 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: auto;
  background-color: #f2f2f2;
}
/* line 14, ../sass/_collapsible.scss */
.btn:hover {
  background-color: #fffbdb;
  color: #a63737;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

@media screen and (max-width: 469px) {
  /* line 20, ../sass/_collapsible.scss */
  .collapsible, .collapsible-mobile, .btn-close, .btn-close-mobile {
    display: none;
  }

  /* line 21, ../sass/_collapsible.scss */
  .collapsible-mobile {
    padding: 0.8em;
    padding-bottom: 3em;
    background-color: #f2f2f2;
    *zoom: 1;
  }
  /* line 18, ../sass/bourbon/addons/_clearfix.scss */
  .collapsible-mobile:before, .collapsible-mobile:after {
    content: " ";
    display: table;
  }
  /* line 23, ../sass/bourbon/addons/_clearfix.scss */
  .collapsible-mobile:after {
    clear: both;
  }
}
@media screen and (min-width: 469px) {
  /* line 24, ../sass/_collapsible.scss */
  .btn {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .btn:last-child {
    margin-right: 0;
  }

  /* line 25, ../sass/_collapsible.scss */
  .collapsible {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .collapsible:last-child {
    margin-right: 0;
  }

  /* line 26, ../sass/_collapsible.scss */
  .collapsible, .btn-close, .btn-open-mobile, .btn-close-mobile {
    display: none;
  }
}
@media screen and (min-width: 730px) {
  /* line 30, ../sass/_collapsible.scss */
  .btn {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .btn:last-child {
    margin-right: 0;
  }

  /* line 31, ../sass/_collapsible.scss */
  .collapsible {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .collapsible:last-child {
    margin-right: 0;
  }

  /* line 32, ../sass/_collapsible.scss */
  .collapsible, .btn-close, .btn-open-mobile, .btn-close-mobile {
    display: none;
  }
}
/* line 35, ../sass/_collapsible.scss */
.collapsible {
  padding: 0.8em;
  background-color: #f2f2f2;
  *zoom: 1;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.collapsible:before, .collapsible:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.collapsible:after {
  clear: both;
}

/* line 8, ../sass/_elements.scss */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28.6px;
  line-height: 1.2em;
}

/* line 9, ../sass/_elements.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 23.4px;
  line-height: 1.2em;
  margin-top: 1.6em;
}

/* line 10, ../sass/_elements.scss */
h3 {
  font-family: 'Georgia', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20.8px;
  line-height: 1.2em;
  margin-top: 1.6em;
}

/* line 11, ../sass/_elements.scss */
h4 {
  font-family: 'Georgia', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14.599px;
  line-height: 1.2em;
  margin-top: 0.6em;
  margin-bottom: 0.5em;
}

/* line 12, ../sass/_elements.scss */
h6, .container #main .content .post-sidebar-column title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  line-height: 1.2em;
  margin-top: 0.6em;
  margin-bottom: 0.5em;
}

/* line 14, ../sass/_elements.scss */
a, a:active, a:visited {
  color: #a63737;
  text-decoration: underline;
}

/* line 15, ../sass/_elements.scss */
a:hover {
  color: #fffbdb;
  background-color: #d95f43;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

/* line 16, ../sass/_elements.scss */
a.nolink {
  text-decoration: none;
}
/* line 16, ../sass/_elements.scss */
a.nolink:hover {
  background: none;
}

/* line 18, ../sass/_elements.scss */
section.post-list:hover {
  background-color: #fffbdb;
}

/* line 20, ../sass/_elements.scss */
a.bttn {
  overflow: hidden;
  display: block;
  cursor: pointer;
  padding: 1em;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14.599px;
  line-height: auto;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-bottom: 0.5em;
  /*round corners for medium and up*/
}
@media screen and (max-width: 469px) {
  /* line 20, ../sass/_elements.scss */
  a.bttn {
    background-color: #cccccc;
  }
}
@media screen and (min-width: 469px) {
  /* line 20, ../sass/_elements.scss */
  a.bttn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
}

/* line 35, ../sass/_elements.scss */
a.bttn:not(.active):hover, a.bttn:active, a.bttn.clicked {
  background-color: #fffbdb;
  color: #333333;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

/* line 40, ../sass/_elements.scss */
.slides a {
  text-decoration: none;
  color: #333;
}

/* line 41, ../sass/_elements.scss */
.slides a:hover {
  text-decoration: none;
  color: #972020;
}

@media screen and (max-width: 469px) {
  /* line 42, ../sass/_elements.scss */
  .flexslider {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .flexslider:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 469px) {
  /* line 42, ../sass/_elements.scss */
  .flexslider {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .flexslider:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 730px) {
  /* line 42, ../sass/_elements.scss */
  .flexslider {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .flexslider:last-child {
    margin-right: 0;
  }
}

/* line 53, ../sass/_elements.scss */
.topline:before, .container #main .content .post .post-sources:before {
  content: ' ';
  height: 2px;
  width: 190px;
  padding-bottom: 10px;
  display: block;
  border-top: 1px solid #acbfcc;
}

/* line 62, ../sass/_elements.scss */
.prettyprinted {
  margin: 12px auto;
}

/* line 65, ../sass/_elements.scss */
code {
  background-color: #333;
  padding: 3px;
  color: #ddd;
}

/* line 74, ../sass/_elements.scss */
.color-palette {
  position: absolute;
  width: 100%;
  height: auto;
}
/* line 79, ../sass/_elements.scss */
.color-palette #c1 {
  background-color: #9c001a;
}
/* line 80, ../sass/_elements.scss */
.color-palette #c2 {
  background-color: #fffbdb;
}
/* line 81, ../sass/_elements.scss */
.color-palette #c3 {
  background-color: #acbfcc;
}
/* line 82, ../sass/_elements.scss */
.color-palette #c4 {
  background-color: #77838c;
}
/* line 83, ../sass/_elements.scss */
.color-palette #c5 {
  background-color: #41484c;
}
/* line 84, ../sass/_elements.scss */
.color-palette #a1 {
  background-color: #2a3140;
}
/* line 85, ../sass/_elements.scss */
.color-palette #a2 {
  background-color: #f2d399;
}
/* line 86, ../sass/_elements.scss */
.color-palette #a3 {
  background-color: #f29863;
}
/* line 87, ../sass/_elements.scss */
.color-palette #a4 {
  background-color: #d95f43;
}
/* line 88, ../sass/_elements.scss */
.color-palette #a5 {
  background-color: #a63737;
}
/* line 90, ../sass/_elements.scss */
.color-palette div {
  height: 5px;
  width: 10%;
  float: left;
  z-index: 2000;
}
/* line 98, ../sass/_elements.scss */
.color-palette.color-top {
  top: 0px;
  left: 0px;
}

/* line 110, ../sass/_elements.scss */
html, body, #container, .expandable, .collapsible-mobile {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
@media screen and (min-width: 469px) {
  /* line 110, ../sass/_elements.scss */
  html, body, #container, .expandable, .collapsible-mobile {
    height: 100%;
  }
}
@media screen and (min-width: 730px) {
  /* line 110, ../sass/_elements.scss */
  html, body, #container, .expandable, .collapsible-mobile {
    height: 100%;
  }
}

/* line 118, ../sass/_elements.scss */
.full-menu .sticky-wrapper {
  min-height: 100%;
}
@media screen and (min-width: 469px) {
  /* line 118, ../sass/_elements.scss */
  .full-menu .sticky-wrapper {
    margin: 0 auto -32em;
  }
}
@media screen and (min-width: 730px) {
  /* line 118, ../sass/_elements.scss */
  .full-menu .sticky-wrapper {
    margin: 0 auto -24em;
  }
}
@media screen and (min-width: 469px) {
  /* line 125, ../sass/_elements.scss */
  .full-menu .sticky-wrapper footer, .full-menu .sticky-wrapper .push {
    height: 32em;
  }
}
@media screen and (min-width: 730px) {
  /* line 125, ../sass/_elements.scss */
  .full-menu .sticky-wrapper footer, .full-menu .sticky-wrapper .push {
    height: 24em;
  }
}

/* line 135, ../sass/_elements.scss */
.short-menu .sticky-wrapper {
  min-height: 100%;
}
@media screen and (min-width: 469px) {
  /* line 135, ../sass/_elements.scss */
  .short-menu .sticky-wrapper {
    margin: 0 auto -22em;
  }
}
@media screen and (min-width: 730px) {
  /* line 135, ../sass/_elements.scss */
  .short-menu .sticky-wrapper {
    margin: 0 auto -22em;
  }
}
@media screen and (min-width: 469px) {
  /* line 140, ../sass/_elements.scss */
  .short-menu .sticky-wrapper footer, .short-menu .sticky-wrapper .push {
    height: 22em;
  }
}
@media screen and (min-width: 730px) {
  /* line 140, ../sass/_elements.scss */
  .short-menu .sticky-wrapper footer, .short-menu .sticky-wrapper .push {
    height: 22em;
  }
}

/* line 148, ../sass/_elements.scss */
.left-edge, .container #hello-box, .container .callout, .container .whiteout, .container #aboutme-work, .container #aboutme-live, .container #aboutme-contact {
  border-left: 1px solid #acbfcc;
}

/* line 166, ../sass/_elements.scss */
.line {
  border: 0;
  border-bottom: 1px dashed #f2f2f2;
  background: #cccccc;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* line 172, ../sass/_elements.scss */
.solidline {
  border: 0;
  border-bottom: 1px solid #cccccc;
}

/* line 10, ../sass/_contact.scss */
.contact-rss {
  text-align: center;
}

/* line 14, ../sass/_contact.scss */
a.contact-email {
  background: rgba(172, 191, 204, 0.5) url("/assets/images/email.png") no-repeat center;
  background-size: 25px auto;
  height: 3em;
}
/* line 17, ../sass/_contact.scss */
a.contact-email:hover {
  background-color: #fffbdb !important;
}

/* line 19, ../sass/_contact.scss */
a.contact-twitter {
  background: rgba(172, 191, 204, 0.5) url("/assets/images/twitter.png") no-repeat center;
  background-size: 25px auto;
  height: 3em;
}
/* line 22, ../sass/_contact.scss */
a.contact-twitter:hover {
  background-color: #fffbdb !important;
}

/* line 24, ../sass/_contact.scss */
a.contact-linkedin {
  background: rgba(172, 191, 204, 0.5) url("/assets/images/linkedin.png") no-repeat center;
  background-size: 25px auto;
  height: 3em;
}
/* line 27, ../sass/_contact.scss */
a.contact-linkedin:hover {
  background-color: #fffbdb !important;
}

/* line 30, ../sass/_contact.scss */
.a-nofx:hover {
  background-color: transparent;
}

/* line 31, ../sass/_contact.scss */
.rss-svg {
  text-align: center;
  fill: #f29863 !important;
  max-height: 21px !important;
  max-width: 21px !important;
}
/* line 36, ../sass/_contact.scss */
.rss-svg:hover {
  fill: #9c001a !important;
}

@media screen and (max-width: 469px) {
  /* line 40, ../sass/_contact.scss */
  #contact {
    padding-top: 0.5em;
  }

  /* line 41, ../sass/_contact.scss */
  #contact-container li {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 30.11389%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #contact-container li:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 469px) {
  /* line 45, ../sass/_contact.scss */
  #contact {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    padding-top: 0.5em;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #contact:last-child {
    margin-right: 0;
  }

  /* line 46, ../sass/_contact.scss */
  #contact-container li {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #contact-container li:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 730px) {
  /* line 50, ../sass/_contact.scss */
  #contact {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    padding-top: 0.5em;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #contact:last-child {
    margin-right: 0;
  }

  /* line 52, ../sass/_contact.scss */
  .full-menu #contact-container li {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .full-menu #contact-container li:last-child {
    margin-right: 0;
  }

  /* line 53, ../sass/_contact.scss */
  .short-menu #contact-container li {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .short-menu #contact-container li:last-child {
    margin-right: 0;
  }
}
/* line 2, ../sass/_google.scss */
.google {
  padding: 0 1em 0 1em;
}
/* line 6, ../sass/_google.scss */
.google table {
  margin: 2em 0 2em 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23.4px;
  line-height: 1.6em;
  margin-top: 0.8em;
  margin-left: 1.3em;
}
/* line 9, ../sass/_google.scss */
.google table td {
  padding-right: 1em;
}
/* line 14, ../sass/_google.scss */
.google h1 {
  font-size: 34.32px !important;
}
/* line 15, ../sass/_google.scss */
.google h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 42.12px;
  line-height: 1.4em;
  margin-top: 1.2em;
}
/* line 16, ../sass/_google.scss */
.google h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 35.1px;
  line-height: 1.4em;
  margin-top: 1.5em;
}
/* line 17, ../sass/_google.scss */
.google h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28.08px;
  line-height: 1.4em;
  margin-top: 1.6em;
  margin-left: 1.3em;
}
/* line 19, ../sass/_google.scss */
.google ul > li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23.4px;
  line-height: 1.6em;
  margin-top: 0.3em;
  list-style-type: circle;
  margin-left: 1.5em;
}
/* line 23, ../sass/_google.scss */
.google ul > li li {
  list-style-type: circle;
}
/* line 26, ../sass/_google.scss */
.google ol > li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23.4px;
  line-height: 1.6em;
  margin-top: 0.3em;
  list-style-position: inside;
  margin-left: 1.5em;
}
/* line 31, ../sass/_google.scss */
.google p, .google pre {
  margin-left: 1.5em;
}

/* line 34, ../sass/_google.scss */
.google-top {
  margin-top: 6em;
}
/* line 36, ../sass/_google.scss */
.google-top a {
  clear: both;
  display: block;
}
/* line 40, ../sass/_google.scss */
.google-top p {
  margin: 0;
}

/* line 43, ../sass/_google.scss */
.google-bg {
  background: url("../../../google1_sm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 230px;
  width: 100%;
  z-index: 9999;
  margin: 2em 0 2em 0;
}

/* line 24, ../sass/base.scss */
body {
  *zoom: 1;
  max-width: 996px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
body:before, body:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
body:after {
  clear: both;
}

/* line 29, ../sass/base.scss */
* {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

/* line 34, ../sass/base.scss */
.container {
  width: 100%;
}
/* line 38, ../sass/base.scss */
.container #sidebar #logo {
  text-align: center;
  font-family: 'Georgia', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  line-height: auto;
}
/* line 42, ../sass/base.scss */
.container #sidebar #logo img {
  margin-top: 3em;
  width: 88%;
  max-width: 170px;
  height: auto;
}
/* line 51, ../sass/base.scss */
.container #sidebar #logo #logo-hidden {
  display: none;
}
@media screen and (max-width: 469px) {
  /* line 55, ../sass/base.scss */
  .container #sidebar #logo .logo-short {
    display: none;
  }
  /* line 56, ../sass/base.scss */
  .container #sidebar #logo .logo-full {
    display: inline !important;
  }
}
/* line 67, ../sass/base.scss */
.container #sidebar #about #about-link {
  text-decoration: none;
  display: block;
}
/* line 69, ../sass/base.scss */
.container #sidebar #about #about-link:hover {
  color: inherit;
  background-color: #fffbdb;
}
/* line 71, ../sass/base.scss */
.container #sidebar #about #about-container {
  font-family: 'Georgia', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 11.7px;
  line-height: 17.55px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 0.8em;
  text-align: center;
}
/* line 73, ../sass/base.scss */
.container #sidebar #about #about-container #slogan {
  text-align: center;
  font-family: 'Georgia', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14.56px;
  line-height: 21.8985px;
  background-color: inherit;
}
/* line 77, ../sass/base.scss */
.container #sidebar #about #about-container #slogan #slogan-blurb {
  padding: 0 0em 0.6em 0em;
}
/* line 86, ../sass/base.scss */
.container #sidebar #about #about-container a {
  color: #77838c;
  text-decoration: none;
}
/* line 86, ../sass/base.scss */
.container #sidebar #about #about-container a:hover {
  color: #acbfcc;
}
/* line 87, ../sass/base.scss */
.container #sidebar #about #about-container a:hover {
  color: #333333;
  background: #fffbdb;
}
@media screen and (min-width: 469px) {
  /* line 71, ../sass/base.scss */
  .container #sidebar #about #about-container {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
}
@media screen and (min-width: 730px) {
  /* line 71, ../sass/base.scss */
  .container #sidebar #about #about-container {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
}
/* line 95, ../sass/base.scss */
.container #sidebar #about #about-container .line {
  border: 0;
  border-bottom: 1px dashed #f2d399;
  background: #41484c;
  margin-top: 6px;
  margin-bottom: 6px;
}
/* line 100, ../sass/base.scss */
.container #sidebar #about #about-container #ctional {
  color: #cccccc;
}
/* line 101, ../sass/base.scss */
.container #sidebar #about #about-container em {
  background: none;
  color: #2a3140;
}
/* line 104, ../sass/base.scss */
.container #sidebar #menu {
  padding-top: 1em;
}
/* line 105, ../sass/base.scss */
.container #sidebar #menu-container ul {
  list-style-type: none;
}
/* line 105, ../sass/base.scss */
.container #sidebar #menu-container ul a {
  z-index: 500;
}
/* line 109, ../sass/base.scss */
.container #main .post-taglist {
  margin: 0.6em 0 0.7em 0;
}
/* line 112, ../sass/base.scss */
.container #main .post-taglist li {
  font-family: 'Georgia', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  line-height: auto;
  display: inline;
  color: #77838c;
  /* once we have clickable tags
  border: 1px solid $gray;
  background-color: $gray;
  padding-bottom: 0.3em; padding-top: 0.3em;
  padding-left: 0.8em; padding-right: 0.8em;
  @include set-radius(4px); 
  @include font-sans($f3, 300);
  display: inline;
  color: white;
  */
}
/* line 114, ../sass/base.scss */
.container #main .post-taglist li:before {
  content: '#';
}
/* line 128, ../sass/base.scss */
.container #main .post-taglist li:not(:last-child):after {
  content: ',';
}
/* line 136, ../sass/base.scss */
.container #main .legal {
  padding: 2.5em 1em 0.5em 1em;
  text-align: center;
}
/* line 139, ../sass/base.scss */
.container #main .legal #fine-print {
  font-family: 'Georgia', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10.66px;
  line-height: auto;
  margin-bottom: 13px;
}
/* line 149, ../sass/base.scss */
.container .title {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23.4px;
  line-height: auto;
  color: #41484c;
  margin: 1em;
}
/* line 150, ../sass/base.scss */
.container section {
  margin-bottom: 1em;
  padding: 1em;
  *zoom: 1;
  max-width: 996px;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container section:before, .container section:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container section:after {
  clear: both;
}
/* line 151, ../sass/base.scss */
.container .section-title, .container .section-title-large {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: auto;
  color: #41484c;
  margin-top: 1em;
}
/* line 152, ../sass/base.scss */
.container .section-title-large {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14.599px;
  line-height: auto;
  display: block;
  padding-top: 6.5px;
}
/* line 154, ../sass/base.scss */
.container p {
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14.599px;
  line-height: 1.9em;
  margin-top: 0.8em;
}
/* line 156, ../sass/base.scss */
.container blockquote {
  margin: 13px 0;
  padding: 6.5px 1em;
  background-color: #f2f2f2;
  border-left: 3px solid #9c001a;
}
/* line 158, ../sass/base.scss */
.container blockquote p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  line-height: 1.8em;
  font-style: italic !important;
  margin-top: 0 !important;
}
/* line 163, ../sass/base.scss */
.container #triangle-hello {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10.5px;
  border-bottom-color: #f2f2f2;
  left: 5.5em;
}
/* line 164, ../sass/base.scss */
.container #hello-box {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14.599px;
  line-height: 1.8em;
  padding: 1em;
  background-color: #f2f2f2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 165, ../sass/base.scss */
.container #hello-box div {
  margin-bottom: 0.9em;
}
/* line 166, ../sass/base.scss */
.container em {
  /*background-color: $color2;*/
  color: #a63737;
}
/* line 168, ../sass/base.scss */
.container .row-content, .container #aboutme-current {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 54, ../sass/neat/grid/_span-columns.scss */
.container .row-content:last-child, .container #aboutme-current:last-child {
  margin-right: 0;
}
@media screen and (max-width: 469px) {
  /* line 168, ../sass/base.scss */
  .container .row-content, .container #aboutme-current {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container .row-content:last-child, .container #aboutme-current:last-child {
    margin-right: 0;
  }
}
/* line 173, ../sass/base.scss */
.container .callout, .container .whiteout, .container #aboutme-work, .container #aboutme-live, .container #aboutme-contact {
  margin: 1em 0 0 0;
  padding: 0 1em 1em 1em;
  background-color: #f2f2f2;
}
/* line 174, ../sass/base.scss */
.container .whiteout, .container #aboutme-work, .container #aboutme-live {
  background: none;
}
/* line 175, ../sass/base.scss */
.container #aboutme-work, .container #aboutme-live {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
}
/* line 54, ../sass/neat/grid/_span-columns.scss */
.container #aboutme-work:last-child, .container #aboutme-live:last-child {
  margin-right: 0;
}
@media screen and (max-width: 469px) {
  /* line 175, ../sass/base.scss */
  .container #aboutme-work, .container #aboutme-live {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container #aboutme-work:last-child, .container #aboutme-live:last-child {
    margin-right: 0;
  }
}
/* line 175, ../sass/base.scss */
.container #aboutme-work p, .container #aboutme-live p {
  margin-top: 0;
}
/* line 177, ../sass/base.scss */
.container .note {
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: auto;
}
/* line 178, ../sass/base.scss */
.container .shout {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20.8px;
  line-height: 1.6em;
  margin: 1em 0 1em 0;
}
/* line 180, ../sass/base.scss */
.container .shout .svg {
  position: relative;
  top: 4px;
  max-height: 20px;
  max-width: 20px;
  fill: #77838c;
}
/* line 182, ../sass/base.scss */
.container #aboutme-contact {
  padding: 0 2em 0.5em 1em;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 54, ../sass/neat/grid/_span-columns.scss */
.container #aboutme-contact:last-child {
  margin-right: 0;
}
/* line 182, ../sass/base.scss */
.container #aboutme-contact li {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-top: 1em;
}
/* line 54, ../sass/neat/grid/_span-columns.scss */
.container #aboutme-contact li:last-child {
  margin-right: 0;
}
/* line 184, ../sass/base.scss */
.container .experience {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  padding: 2em 1em 2em 1em;
}
/* line 54, ../sass/neat/grid/_span-columns.scss */
.container .experience:last-child {
  margin-right: 0;
}
@media screen and (min-width: 730px) {
  /* line 185, ../sass/base.scss */
  .container .experience-side {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container .experience-side:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 469px) {
  /* line 185, ../sass/base.scss */
  .container .experience-side {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container .experience-side:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 730px) {
  /* line 186, ../sass/base.scss */
  .container .experience-main {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container .experience-main:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 469px) {
  /* line 186, ../sass/base.scss */
  .container .experience-main {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container .experience-main:last-child {
    margin-right: 0;
  }
}
/* line 187, ../sass/base.scss */
.container .experience-date {
  font-family: 'Georgia', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  line-height: 1.3em;
}
/* line 188, ../sass/base.scss */
.container .experience-company {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20.8px;
  line-height: 1.3em;
}
/* line 189, ../sass/base.scss */
.container .experience-location {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  line-height: 1.3em;
  margin: 0.4em 0 0.4em 0;
}
/* line 190, ../sass/base.scss */
.container .experience-role {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20.8px;
  line-height: 1.3em;
  margin-top: 1em;
}
/* line 191, ../sass/base.scss */
.container .experience-desc p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 1.6em;
  margin-top: 0.8em;
}
/* line 192, ../sass/base.scss */
.container .experience-desc li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 1.6em;
  margin-top: 0.6em;
}

@media screen and (max-width: 469px) {
  /* line 198, ../sass/base.scss */
  .container {
    padding: 0;
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container:last-child {
    margin-right: 0;
  }

  /* line 200, ../sass/base.scss */
  .legal {
    display: block;
    padding-bottom: 4em;
    font-family: 'Georgia', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20.8px;
    line-height: auto;
    text-align: center;
  }
}
@media screen and (min-width: 469px) {
  /* line 211, ../sass/base.scss */
  body {
    padding: 0 1em 0 1em;
  }
}
@media screen and (min-width: 730px) {
  /* line 214, ../sass/base.scss */
  body {
    padding: 0 1em 0 1em;
  }
}
/* line 220, ../sass/base.scss */
.container {
  *zoom: 1;
  max-width: 996px;
  margin-left: auto;
  margin-right: auto;
  /*
  
      SIDE BAR ********************************************************************************************************
  
  
  */
  /*
  
  
      MAIN CONTENT ********************************************************************************************************
      
  */
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container:after {
  clear: both;
}
@media screen and (max-width: 469px) {
  /* line 229, ../sass/base.scss */
  .container #sidebar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 235, ../sass/base.scss */
  .container #sidebar #slogan #slogan-blurb {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
  }
  /* line 242, ../sass/base.scss */
  .container #sidebar .content .btn-open-mobile {
    margin-bottom: 13px;
  }
  /* line 246, ../sass/base.scss */
  .container #sidebar .content #menu {
    padding-top: 0;
    margin-top: 0;
  }
  /* line 248, ../sass/base.scss */
  .container #sidebar .content #menu .menu-btn {
    text-align: left;
  }
  /* line 249, ../sass/base.scss */
  .container #sidebar .content #menu .active {
    background-color: #fffbdb;
  }
  /* line 255, ../sass/base.scss */
  .container #sidebar .content .svg {
    position: relative;
    top: 4px;
    max-height: 16px;
    max-width: 16px;
    fill: #77838c;
  }
  /* line 267, ../sass/base.scss */
  .container #sidebar .content.short-menu .active:after {
    margin-top: 19px;
  }
}
@media screen and (min-width: 469px) {
  /* line 274, ../sass/base.scss */
  .container #sidebar .content {
    width: 22%;
    position: absolute;
    z-index: 500;
  }
  /* line 285, ../sass/base.scss */
  .container #sidebar .content .menu-btn {
    text-align: left;
  }
  /* line 286, ../sass/base.scss */
  .container #sidebar .content .active {
    background-color: #fffbdb;
  }
  /* line 288, ../sass/base.scss */
  .container #sidebar .content .active a:hover {
    color: black;
  }
  /* line 291, ../sass/base.scss */
  .container #sidebar .content .active:after {
    display: block;
    content: ' ';
    z-index: 100;
    position: absolute;
    width: 0;
    height: 0;
    right: -8px;
    margin-top: -15px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #f2f2f2;
  }
  /* line 304, ../sass/base.scss */
  .container #sidebar .content .svg {
    position: relative;
    top: 4px;
    max-height: 16px;
    max-width: 16px;
    fill: #77838c;
  }
  /* line 313, ../sass/base.scss */
  .container #sidebar .content.short-menu {
    width: 8%;
  }
  /* line 315, ../sass/base.scss */
  .container #sidebar .content.short-menu .menu-text {
    display: none;
  }
  /* line 317, ../sass/base.scss */
  .container #sidebar .content.short-menu .svg {
    max-height: 32px;
    max-width: 32px;
  }
  /* line 321, ../sass/base.scss */
  .container #sidebar .content.short-menu .rss-svg {
    max-height: 32px;
    max-width: 32px;
  }
  /* line 326, ../sass/base.scss */
  .container #sidebar .content.short-menu .menu-btn {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 328, ../sass/base.scss */
  .container #sidebar .content.short-menu .menu-btn:hover:after {
    content: attr(data-text);
    position: absolute;
    margin-top: -7px;
    border: #acbfcc 1px solid;
    padding: 15px 10px;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    left: 70px;
    background: #f2f2f2;
    z-index: 500;
  }
  /* line 337, ../sass/base.scss */
  .container #sidebar .content.short-menu .menu-btn:hover:before {
    display: block;
    content: ' ';
    z-index: 100;
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 13px;
    left: 62px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid #77838c;
    z-index: 500;
  }
  /* line 350, ../sass/base.scss */
  .container #sidebar .content.short-menu #about, .container #sidebar .content.short-menu #logo-slogan {
    display: none;
  }
  /* line 353, ../sass/base.scss */
  .container #sidebar .content.short-menu .active:after {
    margin-top: -25px;
  }
  /* line 366, ../sass/base.scss */
  .container #sidebar .content.short-menu .active:hover:after {
    margin-top: -43px;
    border: 0px;
    width: 75px;
    padding: 15px 0 35px 0;
    border: #acbfcc 1px solid;
  }
}
@media screen and (min-width: 469px) and (min-height: 575px) {
  /* line 274, ../sass/base.scss */
  .container #sidebar .content {
    height: 100%;
    position: fixed;
  }
}
@media screen and (min-width: 730px) {
  /* line 386, ../sass/base.scss */
  .container #sidebar .content {
    height: 100%;
    position: absolute;
    width: 14.3254em;
    padding-right: 20px;
  }
  /* line 390, ../sass/base.scss */
  .container #sidebar .content .menu-btn {
    padding-left: 40px;
  }
  /* line 398, ../sass/base.scss */
  .container #sidebar .content .active:after {
    right: 13px;
    display: block;
  }
  /* line 407, ../sass/base.scss */
  .container #sidebar .content.short-menu {
    width: 80px;
    left: 20px;
  }
  /* line 410, ../sass/base.scss */
  .container #sidebar .content.short-menu .menu-btn {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 730px) and (min-height: 465px) {
  /* line 386, ../sass/base.scss */
  .container #sidebar .content {
    height: 100%;
    position: fixed;
  }
}
@media screen and (min-width: 1300px) {
  /* line 422, ../sass/base.scss */
  .container #sidebar .content.short-menu {
    width: 6%;
  }
}
/* line 440, ../sass/base.scss */
.container #main .content {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  *zoom: 1;
  padding-top: 2.5em;
  padding-bottom: 4em;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container #main .content:before, .container #main .content:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container #main .content:after {
  clear: both;
}
/* line 446, ../sass/base.scss */
.container #main .content .portfolio {
  padding-top: 13px;
}
/* line 447, ../sass/base.scss */
.container #main .content .post-list {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  padding: 2em 2em 1em 2em;
}
/* line 450, ../sass/base.scss */
.container #main .content .post-list h1 {
  display: inline;
  color: #2a3140;
  margin-bottom: 10px;
  margin-top: 4px;
  line-height: 47px;
}
/* line 452, ../sass/base.scss */
.container #main .content .post-list .meta-data {
  position: relative;
  top: -7px;
}
/* line 453, ../sass/base.scss */
.container #main .content .post-list .post-summary {
  color: #2a3140;
  margin-top: 0.6em;
}
/* line 456, ../sass/base.scss */
.container #main .content .post-list .post-summary .summary-content {
  display: inline;
  padding: 3px auto;
}
/* line 458, ../sass/base.scss */
.container #main .content .post-list:hover {
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
/* line 460, ../sass/base.scss */
.container #main .content .post-list:hover h1, .container #main .content .post-list:hover .summary-content {
  padding: 0 6px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: black;
  background-color: rgba(0, 0, 0, 0.06);
}
/* line 463, ../sass/base.scss */
.container #main .content .post-link, .container #main .content .post-link:active, .container #main .content .post-link:visited {
  color: #333333;
  text-decoration: none;
  position: relative;
}
/* line 466, ../sass/base.scss */
.container #main .content .preview-img {
  height: 350px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50%;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-bottom: 13px;
}
/* line 472, ../sass/base.scss */
.container #main .content .preview-img .post-info {
  width: 100%;
  position: absolute;
  bottom: 10px;
}
/* line 473, ../sass/base.scss */
.container #main .content .preview-img h1 {
  display: inline;
  color: #2a3140;
  background-color: rgba(255, 251, 219, 0.2);
  padding: 0 6px;
  margin-bottom: 10px;
}
/* line 475, ../sass/base.scss */
.container #main .content .preview-img .post-summary .summary-content {
  background-color: rgba(255, 251, 219, 0.2);
  padding: 3px 6px;
}
/* line 477, ../sass/base.scss */
.container #main .content .preview-img .post-taglist li {
  color: #2a3140;
  background-color: rgba(255, 251, 219, 0.2);
  padding: 2px;
}
/* line 477, ../sass/base.scss */
.container #main .content .preview-img .post-taglist li:after {
  content: '';
}
/* line 481, ../sass/base.scss */
.container #main .content .preview-img.dark .meta-data {
  color: rgba(255, 255, 255, 0.5);
}
/* line 482, ../sass/base.scss */
.container #main .content .preview-img.dark h1, .container #main .content .preview-img.dark .summary-content, .container #main .content .preview-img.dark .post-taglist li {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 485, ../sass/base.scss */
.container #main .content .preview-img:hover {
  background-size: auto 105%;
  background-position: 50%;
}
/* line 486, ../sass/base.scss */
.container #main .content .preview-img:hover h1, .container #main .content .preview-img:hover .summary-content, .container #main .content .preview-img:hover .post-taglist li {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: black;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.55);
}
/* line 490, ../sass/base.scss */
.container #main .content .preview-img:hover.dark h1, .container #main .content .preview-img:hover.dark .summary-content, .container #main .content .preview-img:hover.dark .post-taglist li {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 494, ../sass/base.scss */
.container #main .content .preview-img:hover.light h1, .container #main .content .preview-img:hover.light .summary-content, .container #main .content .preview-img:hover.light .post-taglist li {
  color: black;
  background-color: rgba(0, 0, 0, 0.06);
}
/* line 495, ../sass/base.scss */
.container #main .content .preview-img:hover.light h1, .container #main .content .preview-img:hover.light .summary-content {
  padding: 0 12px;
}
/* line 502, ../sass/base.scss */
.container #main .content .post {
  margin-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 505, ../sass/base.scss */
.container #main .content .post img {
  max-width: 100%;
}
/* line 510, ../sass/base.scss */
.container #main .content .post .post-title-img {
  width: 100%;
}
/* line 513, ../sass/base.scss */
.container #main .content .post .post-sources {
  font-size: 0.85em;
  line-height: 1.7em;
  margin-top: 36px;
}
/* line 521, ../sass/base.scss */
.container #main .content .post .project-link {
  padding: 6px;
  background-color: #f2d399;
  border-radius: 4px;
}
/* line 528, ../sass/base.scss */
.container #main .content .post-contentwrapper {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 54, ../sass/neat/grid/_span-columns.scss */
.container #main .content .post-contentwrapper:last-child {
  margin-right: 0;
}
@media screen and (min-width: 730px) {
  /* line 529, ../sass/base.scss */
  .container #main .content .post-maincontent {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-bottom: 4em;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container #main .content .post-maincontent:last-child {
    margin-right: 0;
  }
}
/* line 530, ../sass/base.scss */
.container #main .content .post-sidebar {
  margin-top: 1em;
}
@media screen and (min-width: 730px) {
  /* line 530, ../sass/base.scss */
  .container #main .content .post-sidebar {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container #main .content .post-sidebar:last-child {
    margin-right: 0;
  }
}
/* line 532, ../sass/base.scss */
.container #main .content .post-sidebar-column {
  border-left: 1px solid #acbfcc;
  padding: 0.6em;
  margin-bottom: 0.6em;
}
/* line 536, ../sass/base.scss */
.container #main .content .post-sidebar-column title {
  display: block;
}
/* line 537, ../sass/base.scss */
.container #main .content .post-sidebar-column span {
  display: block;
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14.599px;
  line-height: 1.45em;
}
@media screen and (max-width: 469px) {
  /* line 542, ../sass/base.scss */
  .container #main .content .post-date {
    font-family: 'Georgia', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    line-height: auto;
  }
  /* line 543, ../sass/base.scss */
  .container #main .content h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 28.6px;
    line-height: auto;
    padding-top: 0.6em;
  }
  /* line 545, ../sass/base.scss */
  .container #main .content .post-list {
    padding: 2em 0.5em;
  }
  /* line 548, ../sass/base.scss */
  .container #main .content .post-summary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.01504px;
    line-height: auto;
    margin: 0.4em 1em 0.4em 0;
  }
  /* line 549, ../sass/base.scss */
  .container #main .content .post {
    border-left: 0px;
    border-right: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  /* line 550, ../sass/base.scss */
  .container #main .content .post-imageframe {
    padding: 1em 1em 0 0;
  }
  /* line 551, ../sass/base.scss */
  .container #main .content .post-image {
    width: auto;
    height: auto;
  }
  /* line 552, ../sass/base.scss */
  .container #main .content .post-body {
    padding-top: 1em;
    padding-bottom: 4em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23.4px;
    line-height: 1.6em;
  }
  /* line 555, ../sass/base.scss */
  .container #main .content .post-body p {
    margin-top: 0.8em;
  }
  /* line 557, ../sass/base.scss */
  .container #main .content .post {
    margin-top: 1em;
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container #main .content .post:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 469px) {
  /* line 563, ../sass/base.scss */
  .container #main .content .post-date {
    font-family: 'Georgia', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    line-height: auto;
    display: block;
  }
  /* line 564, ../sass/base.scss */
  .container #main .content h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 28.6px;
    line-height: auto;
    margin-top: 13px;
  }
  /* line 565, ../sass/base.scss */
  .container #main .content .post-summary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.599px;
    line-height: auto;
    margin: 0.3em 1em 0.5em auto;
  }
  /* line 566, ../sass/base.scss */
  .container #main .content .post-image {
    width: auto;
    height: auto;
  }
  /* line 567, ../sass/base.scss */
  .container #main .content .content {
    display: block;
    padding-top: 3em;
  }
  /* line 568, ../sass/base.scss */
  .container #main .content .post-body {
    padding-bottom: 4em;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 570, ../sass/base.scss */
  .container #main .content .post-body p {
    margin-top: 0.8em;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container #main .content .post-body:last-child {
    margin-right: 0;
  }
  /* line 572, ../sass/base.scss */
  .container #main .content .post-body ul, .container #main .content .post-body ol {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 1.8em;
    margin-top: 0.8em;
  }
  /* line 575, ../sass/base.scss */
  .container #main .content.full-content {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 91.4702%;
    margin-left: 8.5298%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container #main .content.full-content:last-child {
    margin-right: 0;
  }
  /* line 579, ../sass/base.scss */
  .container #main .content.short-content {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-left: 25.58941%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container #main .content.short-content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 730px) {
  /* line 440, ../sass/base.scss */
  .container #main .content {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  .container #main .content:last-child {
    margin-right: 0;
  }
  /* line 589, ../sass/base.scss */
  .container #main .content h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 28.6px;
    line-height: auto;
  }
  /* line 590, ../sass/base.scss */
  .container #main .content .post-summary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.599px;
    line-height: auto;
  }
}
