---
---


// core frameworks 
@import 'bourbon/bourbon';
@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// framework files
@import "__proto-grid-settings";
@import '__proto-reset';            // reset formula
@import 'neat/neat';  
@import '__proto-framework';        // framework prototype framework. Grids, distances and sizes.


// adding '/' refers to server root, and " " refers to relative root (dropbox would use this)
// needs to match config.yml, but this is for css-loaded assets
$siteroot: '../../';


// 
// Main Design
// 
@import "fluidbox.css";  
@import 'colors';                 // colors
@import 'mixins';                 // mixins (relies on colors)
@import 'settings';               // general settings (relies on mixins, colors)
@import "collapsible";  
@import "triangles";  

@import "icongenerator";          // generates svg icons
@import "icons";                  // svg iconography
@import "navigation";             // left nav
@import "filterBtns";             // filter buttons on the main page
@import "main";                   // main content / blog
@import "timeline";               // timeline used in about


// *********************************************************
// LAYOUT SETUP
// Guideline for setting up HTML and CSS inheritance
// 
// Setup:
//    
//    Floater (optional, fixed position floating menu)
//    Article (logical divisions of content)
//       Section (full width span containers - optional. One article can have many Sections)
//          Container (breakpoints and column-set)
//             Row
//                Column 
//                Column 
//                Column 
//                Column
//          Container (breakpoints and column-set)
//             Row 
//                Column 
//                Column 
//                Column
// 
// *********************************************************


// 
// UNIVERSAL STYLES
// general, reusable styles
// 

body, html {
  @extend %ease-slow;
  @extend %sans-serif;
  color: $dark-gray;
}

  // contains the main responsive container that houses the content
  // needs to be resized with padding to make room for narrow left nav
  .main__container {
    @include media($break-nav-thin-atleast) {
       //if window is larger than wide left nav + content combined, center content in middle
       // can't make nav wide yet because the content is getting centered
       padding-left: $width-nav-menu;
    }
  }

  .page__title {
    font-size: $size-slightly-larger; font-style: italic;
    @extend %serif; color: rgba(black, 0.4);
    height: 20px;

    // @include span-four(18, 24, 24, 24);
    @include media($break-nav-mobile) {padding: 4px $base*3; margin-top: $base;}
    @include media($break-nav-thin-atleast) {
    @include shift(3); padding-left: $base*2; 
    margin-top: $base; margin-bottom: $base;
    }
  }



// *********************************************************
// MAIN CONTENT
// *********************************************************

// .main {
//    .content {
//       // height: 200px;
//       width: 100%;
//       // background-color: rgba(blue, 0.4);
//    }
// }

@import "homepage";

@import "article";


.main__footer {
   @extend %serif;
   text-align: center;
   font-size: $size-footer;
   padding: $base;
   color: $light-gray; 
   a:hover { text-decoration: underline; }
}





@import 'syntax.scss';
@import "invoice";                  // for invoices
@import 'other';                    // for experiments / playing around


