

div.generator-ctrl { // forced cascade
  @extend %font-italic;
  @extend %font-small;
  margin-bottom: $base;
  cursor: pointer;

  &:before {
    content: ' ';
    display: block;
    width: 80px;
    height: $border-medium;
    background-color: $color-active;
    margin-bottom: $base;
  }

  a {
    margin-right: $base/2;
    color: $color-black;// !important;
  }
  .active {
    color: $color-active;
    padding-bottom: $base/4;
    border-bottom: $border-thin solid $color-active;
  }
}


// generator links

// tumblr:
/*
  ._tumblr-item
    ._tumblr-info
      _tumblr-meta
        ._tumblr-publisher
        ._tumblr-date
      ._tumblr-title
      ._tumblr-photos
        ._tumblr-photo
      ._tumblr-source-description
        ._tumblr-excerpt
        ._tumblr-tags-container
          ._tumblr-tags-list
            ._tumblr-tag

    ._tumblr-description
*/
#generator {

  div a._tumblr-item {
    padding-top: $base;
    padding-bottom: $base;
    border-bottom: $border-line solid $color-ui-light;
    display: inline-block;
    color: $color-black;

    ._tumblr-title {
      @extend h5;
      // font-size: 19px;
      padding-bottom: 0; //$base/4;
      margin-top: $base;
      // &:after {
      //   content: '\0219D';
      //   display: inline-block;
      //   padding-left: $base/4;
      // }
      &:before {
        content: '\021E5 ';
        display: inline-block;
        padding-right: $base/4;
      }
    }

    ._tumblr-excerpt {
      color: $color-gray-lighter;
      padding-bottom: $base/4;
      @extend %font-body-small;
    }
    ._tumblr-meta {
      @extend %font-small;
      // @extend ._grid-two;
      ._tumblr-date {
        text-align: right;
      }

      ._tumblr-publisher {
        color: $color-gray;
        display: inline-block;
        // @extend %font-sans;
        // @extend %font-bold;
        &:after {
          content: ' | ';
        }
      }
      ._tumblr-date {
        color: $color-ui-dark;
        // @extend %font-sans;
        display: inline-block;
      }
      // ._tumblr-meta-right {
      //   text-align: right;
      //   div {
      //     display: inline-block;
      //     padding-left: $base/2;
      //   }
      // }
    }

    ._tumblr-tags {
      color: $color-gray-lighter;
      @extend %font-small;
      @extend %font-italic;
    }

    ._tumblr-info {
      // border-left: $border-medium solid rgba($color-active, 0.2);
    }
    ._tumblr-description {
      padding-top: $base/2;
      p { 
        @extend %font-body-small;
        padding-bottom: 0;
      }

    }

    &:hover {
      ._tumblr-title {
        color: $color-active;
      }
    }
  }

}