

div.generator-ctrl { // forced cascade
  @extend %font-italic;
  @extend %font-small;
  margin-bottom: $base;
  cursor: pointer;

  &:before {
    content: ' ';
    display: block;
    width: 80px;
    height: $border-medium;
    background-color: $color-active;
    margin-bottom: $base;
  }

  a {
    margin-right: $base/2;
    color: $color-black;// !important;
  }
  .active {
    color: $color-active;
    padding-bottom: $base/4;
    border-bottom: $border-thin solid $color-active;
  }
}


