
// Typography

%font-sans {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, "Lato", "Segoe UI", "Encode Sans", "Open Sans", "Oxygen-Sans", Helvetica, arial, sans-serif;
}

%font-serif {
  font-family: "Georgia", "Crimson Text", serif !important;
}

%font-display {
  // font-family: "Georgia", helvetica, arial, sans-serif;
  @extend %font-serif;
}

%font-smaller, ._font-smaller { font-size: $base - 4px; /*line-height: ($base - 5px) * 1.5 !important;*/ }


%font-body {
  font-size: 17px; // $base + 1px;
  line-height: 31px; // ($base + 3px) * 1.5;
  font-weight: 400;
  color: $color-copy;
  @extend %font-serif;
}

%font-body-small {
  font-size: $base - 1px;
  line-height: ($base - 2px) * 1.5;
  font-weight: 400;
  color: $color-copy;
  @extend %font-serif;
}

// typography reset
body, input, textarea, select, button {
  @extend %font-body;
}


// most styles inherited from the core
// these are to adjust for the Quicksand family

h1 {
  font-weight: 700;
  @extend %font-display;
  // font-size: 74px;
  font-size: $base-p4;
  line-height: 74px * 1.2;
  letter-spacing: -1.5px;
}

h2 {
  font-weight: 400;
  @extend %font-display;
  // font-size: $base-p2;
  font-size: $base * 2.4;
  line-height: $base * 2.4 * 1.2;
  // letter-spacing: -1.5px;
}

h3 {
  font-weight: 400;
  @extend %font-display;
  font-size: $base*2;
  letter-spacing: 0px;
}

h4 {
  font-weight: 400;
  @extend %font-display;
  font-size: 26px;
  letter-spacing: 0px;
}

h6 {
  font-weight: 400;
  @extend %font-serif;
  font-size: $base;
  line-height: $base * 1.5;
  // letter-spacing: 0.4px;
  font-style: italic;
  color: $color-gray;
}

// h4 {
//   font-size: $base * 1.5;
//   font-weight: 700;
//   padding-bottom: $base/2;
//   @extend %font-display;
// }


._legibility  { 
  // can enable ligatures < 20px;
  // ONLY APPLY THIS for < 1000 words or severely hampers load time
  text-rendering:   optimizeLegibility; 
}

._antialias { 
  // light text on dark backgrounds makes it look lighter
  // only works on Mac webkit
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


._italic {
  font-style: italic;
}




