<!-- layouts can't have yaml -->
<% wrap_layout :main do %>
<div class="_styleguide _content _container">
  <div class="_styleguide-nav">
  </div>

  <div class="_styleguide-main">
    <!-- no nav for mini styleguide -->
    <%= yield %>
  </div>

  <!-- <div class="_styleguide-footer">
  </div> -->
</div>


<% end %>