
<a href="#" class="_blog-item _content _container-large">
  <div class="_grid-one _margin-center _width-content-max-narrow ">
    <h3 class="_font-light">Microservices and You</h3>
    <div class="_grid-one-four _grid-center">
      <div class="_blog-img">
          <img src="http://via.placeholder.com/220x220" />
      </div>
      <div>
        <div class="_blog-date _font-small _padding-bottom">01-01-2017</div>
        <div class="_blog-content">
          Web experts has been an Atlanta agency since 1997. We’ve served dozens of clients from web development, marketing, hosting, and app development. 
        </div>
      </div>
    </div>
  </div>
</a>