
<footer class="_footer _padding-2">
  <div class="_footer-left _align-center">
    <div class="_font-light _font-small">
      © <span class="_currentYear"><script>$('._currentYear').html(new Date().getFullYear())</script></span><a class="_margin-left" href="https://github.com/janzheng/janzheng.github.com">Github</a><a class="_margin-left" href="mailto:hello@janzheng.com">hello@janzheng.com</a>
    </div>
  </div>
</footer>