
<nav>
  <div class="_nav-content">
    <span class="_nav-links">
      <a href="mailto:hello@janzheng.com">hello@janzheng.com</a> <o>/</o>
      <!-- <a href="./resume.pdf">linkedin</a> / -->
      <a href="./files/resume.pdf">resume</a> <o>/</o>
      <a class="_nav-more " href="./about.html"> about</a>
    </span>
    <a href="./index.html"><%= partial '/partials/logo' %></a>
  </div>
</nav>