
<div class="portfolio _grid-two">

  <div class="portfolio-item ">
    <div>
      <div class="portfolio-image"></div>
      <div class="portfolio-title">Web Design</div>
      <div class="portfolio-tags">ux, branding, web consulting</div>
    </div>
  </div>

  <div class="portfolio-item">
    <div>
      <div class="portfolio-image"></div>
      <div class="portfolio-title">Gas South</div>
      <div class="portfolio-tags">ux, information architecture, user testing, prototype, mobile</div>
    </div>
  </div>

  <div class="portfolio-item">
    <div>
      <div class="portfolio-image"></div>
      <div class="portfolio-title">Diamax Korea</div>
      <div class="portfolio-tags">ux, prototyping, react, meteor</div>
    </div>
  </div>

  <div class="portfolio-item">
    <div>
      <div class="portfolio-image"></div>
      <div class="portfolio-title">Double the Donation</div>
      <div class="portfolio-tags">ux, information architecture, conversion funnel design, wordpress</div>
    </div>
  </div>

</div>