

<h4 class="_padding-bottom-2"> a few past projects </h4>

<div class="portfolio _grid-two">

  <a href="./webdesign.html" class="portfolio-item" style="background-image: url('./images/teeth2.jpg')">
    <div>
      <div class="portfolio-title"><span>Web Design</span></div>
      <div class="portfolio-tags"><span>ux, branding, web consulting</span></div>
    </div>
  </a>

  <a href="./gs.html" class="portfolio-item" style="background-image: url('./images/gs.jpg')">
    <div>
      <div class="portfolio-title"><span>Gas South</span></div>
      <div class="portfolio-tags"><span>ux, information architecture, user testing, prototype, mobile</span></div>
    </div>
  </a>

  <a href="./dk.html" class="portfolio-item" style="background-image: url('./images/dk.jpg')">
    <div>
      <div class="portfolio-image"></div>
      <div class="portfolio-title"><span>Diamax Korea</span></div>
      <div class="portfolio-tags"><span>ux, prototyping, react, meteor</span></div>
    </div>
  </a>

  <a href="./dtd.html" class="portfolio-item" style="background-image: url('./images/dtd.jpg')">
    <div>
      <div class="portfolio-image"></div>
      <div class="portfolio-title"><span>Double the Donation</span></div>
      <div class="portfolio-tags"><span>ux, information architecture, conversion funnel design, wordpress</span></div>
    </div>
  </a>

</div>