<div class="triangle"></div>
<div id="about-container">
   <a href="/about.html" id="about-link">
      <div id="about-blurb">
         <div class="about-work">I am a Sr. UX Architect at Nurun.</div>
      </div>

      <div id="about-longer">
         <div class="about-am">I design <em>interfaces</em>, <em>apps</em>, </em>services</em>, and <em>games</em>. </div>
         <div class="line"></div>
         <div class="about-work">I am a Sr. UX Architect at Nurun.</div>
      </div>
   </a>
   <!-- <div id="about-learn">See my work</div> -->
</div>