<div class="triangle"></div>
<div id="about-container">
   <a href="/about.html" id="about-link">
      <div id="about-blurb">
         <div class="about-am">I design <em>websites</em>, <em>apps</em>, </em>services</em>, and <em>games</em>. </div>
         <div class="line"></div>
         <div class="about-work">I am the Senior UX Architect at Nurun Atlanta.</div>
      </div>

      <div id="about-longer">
         <div class="about-am">I design <em>websites</em>, <em>apps &amp; interfaces</em>, </em>services</em>, and <em>games</em>. </div>
         <div class="line"></div>
         <div class="about-work">I am the Senior UX Architect at Nurun Atlanta.</div>
      </div>

      <!-- <div id="about-extra">
         <div class="line"></div>
         <div class="about-am">I also really like <em>curly-braces</em>. </div>
      </div> -->
   </a>
   <!-- <div id="about-learn">See my work</div> -->
</div>