<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>{{ page.title }}</title>
	<meta name="description" content="I design exquisite experiences.">
	<meta name="author" content="Jan Zheng">
	
	<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1" />

	<link rel="shortcut icon" type="image/png" href="/favicon.gif">
	<link rel="stylesheet" href="/assets/stylesheets/compiled/base.css">

	<!-- load fonts here -->
  
</head>