<div id="links">
  <nav id="elsewhere">
    <ul>
      <li><a href="http://www.linkedin.com/pub/nathan-mcginness/3/b2a/800">Linkedin</a></li>
      <li><a href="https://twitter.com/#!/njmcgee">Twitter</a></li>
      <li><a href="http://njmcgee.tumblr.com">Tumblr</a></li>   
      <li><a href="http://www.delicious.com/njmcgee">Delicious</a></li>  
      <li><a href="http://dribbble.com/njmcgee">Dribbble</a></li>
      <li><a href="http://www.flickr.com/photos/njmcgee/">Flickr</a></li>
      <li><a href="https://github.com/njmcgee">Github</a></li>    
      <li><a href="http://www.last.fm/user/njmcgee">Last.fm</a></li>
    </ul>        
    <div class="clear"></div>
  </nav>
</div>