<a class="nolink" id="logo-logo" href="/">  
<!-- <img id="logo-image"></img> -->
<img title="" alt="{jan zheng}" src="/assets/images/short.png" class="logo-short" {% if page.menu == 'full' %} id="logo-hidden" {% endif %}/>
<img title="" alt="{jan zheng}" src="/assets/images/logotype3.png" class="logo-full" {% if page.menu != 'full' %} id="logo-hidden" {% endif %}/>

<!-- <img class="logo-image" title="" alt="{jan zheng}" src="/assets/images/logotype3.png" class="logo-full {% if page.menu != 'full' %} logo-hidden {% endif %}"/>
<img class="logo-image" title="" alt="{jan zheng}" src="/assets/images/short.png" class="logo-short {% if page.menu == 'full' %} logo-hidden {% endif %}"/> -->
</a>
<div id="logo-slogan">code | ux | design</div>
<div class="clear"></div>