<div id="work">
  <img class="portrait" src="/images/nathan-portrait.jpg"/>
  <!-- <h1><a href="/about.html">About me</a></h1> -->
  <p>I&rsquo;m a designer and co-founder at <a href="http://goodcall.io">Good Call</a>. I love making things. <a href="mailto:nathanmcginness@gmail.com">Say hello</a> anytime.</p> 
  <p>I design websites and products. I build with HTML, CSS &amp; JS. I strive for clarity. I lead small production teams and love organizations that are lean, nimble and responsible. I love writing, language &amp; typography. My pencil is my favorite tool.</p> 
  <p>My freelance clients include <a href="http://united.com">United Airlines</a>, <a href="http://anu.edu.au">Australian National University</a>, <a href="http://angel.co">AngelList</a>, and <a href="http://www.codecademy.com/">Codecademy</a>.</p>       
  <p>I was the fourth team member and lead designer at <a href="http://topguest.com">Topguest</a> (acquired by <a href="http://www.switchfly.com/">Switchfly</a> in Dec 2011.)</p>  
  <p>I worked for five years in Australia&rsquo;s top digital agencies (<a href="http://icelab.com.au">Icelab</a> and <a href="http://digitaleskimo.net">Digital Eskimo</a>).</p>
  <p><a href="/about.html">Find out more about me</a>.</p>
</div>