
// Button Components
// (reusable)

button, ._button {

  background-color: white; //$color-links;
  border-color: usetheme(brand); //$color-links;
  color: usetheme(brand); //$color-links;
  // @extend ._shadow-1;

  // declared using overriding default variables in settings
  &.--outline {
    &:hover {
      // background-color: inherit;
      // border-color: $color-active;
      // color: $color-active;
      @extend %ease;
    }
  }

  &.--short {
    line-height: $size-half;
  }

  &.--compact {
    padding-left: $size-half;
    padding-right: $size-half;
    font-size: usetheme(font--1);
  }
}

button.CTA, .CTA._button, a.CTA._button, a.CTA { // actionable button; inherits from but overrides _button
  
  @extend ._button;

  // font-weight: bold;
  text-decoration: none; // <a>s might have underlines
  margin-right: $size-half;

  background-color: usetheme(brand-background); //$color-links;
  border-color: usetheme(brand-80); //$color-links;
  color: usetheme(brand-80); //$color-links;


  &:hover {
    background-color: usetheme(purewhite); //$color-links;
    border-color: usetheme(brand-bright); //$color-links;
    color: usetheme(brand-bright); //$color-bg;
    @extend %ease;
  }

  @extend %ease;

  &.--outline {
    &:hover {
      background-color: inherit;
      border-color: usetheme(active); //$color-links;
      color: usetheme(active); //$color-links;
      @extend %ease;
    }
  }

  &.--active,
  &.nuxt-link-exact-active,
  &.nuxt-link-active {
    &, &:hover {
      background-color: inherit;
      border-color: usetheme(links); //$color-links;
      color: usetheme(links); //$color-links;
    }
  }
  
  &.--loud {
    background-color: usetheme(active); //$color-tertiary;
    color: usetheme(bg); //$color-bg;
    // font-weight: bold;
    &:hover {
      // border-color: $color-tertiary;
      border-color: usetheme(copy); //$color-dark;
      // background-color: $color-main;
      background-color: usetheme(copy); //$color-dark;
      color: usetheme(bg); //$color-bg;
    }

    // @include screen-xs {
    //   padding-right: $size-half;
    //   padding-left: $size-half;
    // }
  }
}
  // a.CTA._button {
  //   color: usetheme(bg);
  //   &:hover {
  //     background-color: usetheme(active);
  //     border-color: usetheme(active);
  //   }
  // }
  // a.CTA._button.--outline {
  //   color: usetheme(copy);
  // }


// ._button.--yellow {
//   background-color: $color-main;
//   color: $color-secondary;
//   font-weight: bold;
//   &:hover {
//     background-color: darken($color-main, 0.3);
//     color: $color-secondary;
//   }
// }
