
// Button Components
// (reusable)

button, ._button, .--projbtn {

  background-color: white; //$color-links;
  border-color: usetheme(brand); //$color-links;
  color: usetheme(brand); //$color-links;
  // @extend ._shadow-1;

  &:hover {
    background-color: white; // $color-links;
    border-color: usetheme(brand-bright); //$color-links;
    color: usetheme(brand-bright); //$color-links;
  }

  // declared using overriding default variables in settings
  &.--outline {
    &:hover {
      // background-color: inherit;
      // border-color: $color-active;
      // color: $color-active;
      @extend %ease;
    }
  }

  &.--short {
    line-height: $size-half;
  }

  &.--compact {
    padding-left: $size-half;
    padding-right: $size-half;
    font-size: usetheme(font--1);
  }

  &.--naked {
    border: none;
    padding: 0;
    background: transparent;
    &:hover {
      background: transparent;
      color: usetheme(brand-bright);
    };
  }
}

