
._tag {
  margin-bottom: $size-half;
  // white-space: nowrap;
  // line-height: $size-2x;
  line-height: $size;
  display: inline-block;
  
  &.--sponsor, &.--highlight {
    background-color: usetheme(highlight); //$color-teal-50;
  }
}


// ._tag {
//   margin-bottom: $size-half;
//   // white-space: nowrap;
//   // line-height: $size-2x;
  
//   &.--sponsor, &.--highlight  {
//     background-color: usetheme(highlight); //$color-teal-50;
//   }
// }