
// *********************************************************
// ARTICLE (blog post / about / tools)
// 
// STRUCTURE
// 
//  article
//  
//    article--head
//      article--head--date-container
//        article--head--date
//
//      article--head--title-container
//        article--head--title
// 
//    article--body
//
//      **these feel redundant, so hiding them
//      article--summary-container
//        tictle--summary
//
//      article--tags
//        article--tags--list

//      article--body--video-container
//        article--body--video


//     article--body--title-image-container
//         article--body--title-image
//           article--body--title-image--img

//     article--body--content

//     article--comments

// 
// *********************************************************


// main alignment w/ copy
%body-align {
  @include span-four(24, 18, 18, 18);
  @include media($break-nav-mobile) {padding: 0 $base;}
  @include media($break-nav-thin-atleast) {@include shift(3);}
}


.article {

  // each post constitutes a row, of the following # columns, stretching across the entire area
  // margin-top: $base*2;
  // padding-top: $base*2; 
  @include span-four(24, 24, 24, 24);

}




// 
// ARTICLE HEAD
// 

.article__head {
  margin-top: $base*4; 
  overflow: hidden;

  @include span-four(24, 23, 23, 23);
  @include media($break-nav-mobile) {padding: 0 $base;}
  // @include media($break-nav-thin-atleast) {@include shift(1);}
}

  .article__head__intro {
      @include media($break-nav-thin-atleast) {@include shift(3);}
  }


  .article__head__category {
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    margin-right: 10px;
    float: left;

    @include media($break-nav-mobile) {
      display: block;
      float: none;
      margin: 0 auto;
    }

    svg {
      width: 21px;
      height: 21px;
      fill: white;
      position: relative;
      top: 8px;
      left: 9px;
    }
  }

    .article__head__category__lab {
      background-color: $teal;
    }

    .article__head__category__idea {
      background-color: rgba($dark-orange, 0.7);
    }

    .article__head__category__thought {
      background-color: rgba($green, 0.7);
     }

    .article__head__category__work  {
      background-color: rgba($purple, 0.7);
    }

    .article__category__label {
      font-size: $size-smallish;
      line-height: $base*3/2;
      @include media($break-nav-mobile) {
        text-align: center;
      }
    }
  .article__head__date__container {
    line-height: $base*3/4;
    @include media($break-nav-mobile) {
      text-align: center;
    }
    // padding-top: $base*2/3;
    // @include media($break-nav-thin-atleast) {@include shift(1);}
  }
    .article__head__date {
        @extend %sans-serif; 
        color: $light-gray; 
        display: inline-block;
        font-size: $size-smallish;
      } 

  // posts with header images
  .article__head__img {
    margin-top: $base*2;
    padding-top: $base*3;
    padding-bottom: $base*2;
    background-size: cover;
    background-repeat: none;

    @include media($break-nav-wide) {float: left; }
    @include media($break-nav-mobile) {width: 100%; margin-top: $base*8;}
    // @include media($break-nav-thin) {@include shift(3); @include span-columns(20);}
    // @include media($break-nav-wide-atleast) {@include shift(3); width: 100%; @include span-columns(19);}
  }

    // special cases
    .article__head__img--light {
      .article__head__title, .article__category__label {
        color: white;
      }
      a.btn-inline {
        background: $light-blue;
        color: $white !important;
      }
      .article__head__date, .article__head__subtitle {
        color: white;
      }
      .article__head__title, .article__head__subtitle, .article__tags {
        padding: $base/2 $base;
      }
      .article__tags {
        color: $white;
        background-color: rgba($black,0.5);
        display: inline-block;
      }
    }

    .article__head__img--lightBg {
      .article__head__title, .article__head__subtitle {
        background-color: rgba($black,0.5);
      }
    }

  .article__head__title__container {
    @include span-four(24, 20, 20, 20);
    @include media($break-nav-thin-atleast) {@include shift(3);}
  }
    .article__head__title {
      @extend %style-article-title;
      margin-top: $base*2; 
      margin-bottom: 0;
      display: inline-block;
    } 

  .article__head__subtitle__container {
    @include span-four(24, 20, 20, 20);
    @include media($break-nav-thin-atleast) {@include shift(3);}
  }
    .article__head__subtitle {
      @extend %style-article-subtitle; display: inline-block;
    }


  .article__tags__container {
    display: inline-block;
    @include media($break-nav-thin-atleast) {@include shift(3);}
    @extend %body-align; @extend %serif; color: $gray; 
    // padding-top: $base; 
    padding-bottom: $base; 
    @extend %style-antialiased;
    @include media($break-nav-mobile) {
      padding: 0;
    }
  }
    .article__tags__list {  
      li {
        &:before {content: '#'}
        &:not(:last-child):after{content: ',';}
        list-style-type: none;
        display: inline-block;
      }
    }

  .article__head__projectLink__container {
    @include span-four(24, 20, 20, 20);
    @include media($break-nav-thin-atleast) {@include shift(3);}
    @extend %body-align; @extend %serif; 
  }

  .article {
    // a {
      // border: 0 !important;
    // }

    a.btn-inline, .btn-inline {
      padding: $base/2 $base;
      border-radius: 4px;
      border: 1px solid $light-blue !important;
      color: $light-blue;
      display: inline-block;
      margin-right: $base/2;
      @extend %ease;
      &:hover {
        background-color: $light-blue;
        color: $white;
        @extend %ease;
      }
    }

    .post__container {
      margin: 0;
    }
  }


  // end head


  
// start article body

.article__body {

  overflow: visible; //ghost overlay gets hidden if overflow is hidden
  // overflow: hidden; // used for slider to show adjacent images - needs to be appled to slider container

  @include span-four(24, 23, 23, 23);
  // @include media($break-nav-thin-atleast) {@include shift(1);}

  // background-color: rgba($silversky, 0.2); 
  // margin-top: $base*2;
  padding-top: $base*3.2;
  padding-bottom: $base*2;

  // .article--summary-container {
  //   @extend %body-align; 
  //   .article--summary {}
  // }

}
  // contains project and external links
  .article__linkBlock {
    padding-bottom: $base*2;
  }


  // *********************************************************
  // ARTICLE / POST CONTENT STYLES
  // *********************************************************

  .article__body__content {
    @extend %style-p-serif;
    @extend %body-align; 

    // main display header
    h1 {
      @extend %style-article-title;
      // @include media($break-nav-thin-atleast) {@include shift(-2);} 

    }

    .h1--display {
      @extend %display;
      @include media($break-nav-thin-atleast) {@include shift(0);} 
    }

    .h1--display--spaced { 
      @extend .h1--display ;
      margin-bottom: $base * 2;
    }

    // section headers
    h2 { 
      @extend %style-article-h2;
      margin-top: $base*4; //h2 is a section separator
      // @include media($break-nav-thin-atleast) {@include shift(-1);}
      &.no-margin {margin-top: 0}
    }

    // output headers
    h3 { 
      @extend %style-article-h3;
      // margin-top: $base; //h2 is a section separator
      // @include media($break-nav-thin-atleast) {@include shift(-1);}
      &.no-margin {margin-top: 0}
    }

    h4 {
      @extend %style-article-subtitle;
      margin-bottom: $base;
    }

    h4.aboutQuote {
      // font-style: italic;
      position: relative;
      left: 4px;
    }

    .display {
      @extend %display;
    }

    p, ol, ul {
      margin-bottom: golden-ratio($base,  1);
      // padding-bottom: golden-ratio($base,  1);
      // @extend %style-antialiased;
      &.padding-bottom-0 {
        padding-bottom: 0;
      }
    }






    em {
      @extend  %style-em;
    }

    .center {
      text-align: center;
      @include media($break-nav-thin-atleast) {@include shift(0);} 
    }

    .dropcap:first-letter {
      float: left; 
      color: $red; 
      font-size: $base*4.3; 
      line-height: 60px;  
      padding-top: 4px; padding-right: 8px; padding-left: 0px;
    }

    .alert {
      background-color: $light-light-blue;
      padding: $base;
    }

    // callout boxes are used for info, summaries, like in the work sections
    .callout {
      @extend %style-blockquote;
      background-color: $tan;
      padding: $size-slightly-large; margin-top: $size-largish; margin-bottom: $base*2; margin-right: $base*2;
      font-size: $base;

      @include media($break-nav-mobile) {@include span-columns(24);}
      @include media($break-nav-thin-atleast) {@include shift(-1); @include span-columns(28); padding-left: $base;}
      @include media($break-nav-wide-atleast) {@include shift(-2); @include span-columns(28); padding-left: $base*2;}

      @extend %no-float;

      &.callout--large {
        font-size: $size-slightly-large; line-height: $base*2;
      }

      .callout--row {
        @include media($break-nav-wide-atleast) {
          width: 80%;
        }
        @include media($break-nav-mobile) {
          font-size: $base;
        }
        .title {
          padding-right: $base; 
          color: rgba($black, 0.6);
          @include media($break-nav-wide-atleast) {position: absolute;}
        }
        .content {
          @include media($break-nav-wide-atleast) {position: relative; left: 100px;}
        }

      }
    }

    // royal slider options
    .slider {
      &.show-adjacent .rsOverflow {
          overflow: visible; // shows adjacent slides
      }
      margin-bottom: $base*3;
      .rsGCaption {
        @extend %style-figcaption;
      }
    }

    // figures are used for images and code
    figure:not(.highlight) {
      // padding-bottom: $base*2; 
      // padding-right: $base*2;
      // @include media($break-nav-wide) {float: left; }
      @include media($break-nav-mobile) {width: 100%;}
      @include media($break-nav-thin-atleast) {@include shift(-2); margin-right: $base*2;}
      @include media($break-nav-wide-atleast) {@include shift(-4); margin-right: $base*2;}
      float: left;

      &.figure-frame {
        border: 1px solid $silver;
        padding-top: $base;
        .rsCaption {
          padding: $base;
          background: $silver;
          color: $black;
        }
      }
      &.figure-wide {
        // margin: 0 auto;
        margin-bottom: $base;
        overflow: hidden;
        .royalSlider {
          overflow: visible;
          // overflow: hidden; // used for slider to show adjacent images
        }

        width: 100%;
        @include media($break-nav-thin-atleast) {@include shift(-2); margin-right: $base*2;}
        @include media($break-nav-mobile) {width: 100%; float: none;}
        @include media($break-nav-wide-atleast) {@include span-columns(28);}
        img {display: block; margin: 0 auto;}
        figcaption { text-align: center; }
        @extend %no-float;
      } 


      &.figure-narrow {
        overflow: hidden;
        max-width: 300px;

        .royalSlider {
          // height: 1200px !important;
        }
      }
      .royal-500 {
        height: 800px !important;
      }
      .royal-800 {
        height: 800px !important;
      }
      .royal-1600 {
        height: 1600px !important;
      }
      .royal-1800 {
        height: 1800px !important;
      }
      .royal-2100 {
        height: 2100px !important;
      }
      .royal-2400 {
        height: 2400px !important;
      }


      &.figure-rounded {
        img {border-radius: $base * 4}
      } 

      &.figure-circle {
        margin-top: $base*2;
        img {border-radius: $base * 14}
        @include media($break-nav-mobile) {width: 100%;  img { width: 40%; margin: 0 auto} }
      } 

      img {
        display: block;
        max-width: 100%;
        &+br {display:none;} // textile redcloth loves adding these randomly
      }
      br {display:none;} // textile redcloth loves adding these randomly

      figcaption {
        @extend %style-figcaption;
      }

      & p { padding: 0; margin-bottom: 0}
      // &+p, 
      &+h2 {clear: both;}
    }

    .quotemarks {
      &:before {
        content: '“';
      }
      &:after {
        content: '”';
      }
    }

    .strong--loud {
      // font-size: $size-p*1.3;
      font-weight: normal; 
      color: $light-blue;
    }

    strong {
      @extend .strong--loud;
    }

    strong.strong--orange {
      color: $light-orange;
      font-weight: 300;
    }

    // used mostly as pull-quote. .block uses full block
    blockquote {
      @extend .clearfix;
      @extend %style-blockquote;
      // float: left; 
      margin-top: $base*2; margin-bottom: $base*2; margin-right: $base*2;

      @include media($break-nav-mobile) {@include span-columns(18);}
      // @include media($break-nav-thin-atleast) {@include shift(-2); @include span-columns(14);}
      // margin-left: -$base;

      p {
        margin-top: $base; margin-bottom: $base;
        &:before {
          content: '“';
        }
        &:after {
          content: '”';
        }
      }

      & p { padding: 0;}
      // &+p, 
      &+h2 {clear: both;}


      &.blockquote--wide {
        // margin: 0 auto;
        @extend %style-blockquote--wide;
      }

      &.blockquote--noQuotes {
        p:before, p:after {
          content: '';
        }
      }
    }

    .prettyprinted {
      @extend %style-antialiased; 
    }

  }


  .article__comments {
    margin-top: $base*3;
  }
// end article body



// ABOUT ME page special

.blockquote--aboutme {
  margin-top: $base*2;
}

.article {
  .post__date__container {
    top: 0;
  }
  .post__date {
    font-size: $base;
  }
  .post__title {
    color: $dark-gray;
  }
  // .post__container {
  //   width: 100%;
  // }
  .post__imgPreview {
    padding-top: $base;
    // padding-bottom: $base;
  }
  .post__info {
    padding-bottom: $base;
  }
}

// nested lists

li ul {
  margin-left: $base;
}



