


// 
// Special Styles for Bookmarks page
// 

// 
// Width adjustment
// 
.bookmarks {

  .article__body__content {
    // @include span-four(24, 18, 18, 18);
    @include span-four(24, 24, 24, 24);
    // don't shift to make room for tags side bar;
    @include media($break-nav-thin-atleast) {@include shift(0);}
  }
  padding-left: $base*2;
  padding-right: $base*2;

  .tumblr__search {
    padding: $base;
    width: 100%;
    // margin-bottom: $base;
    @extend %sans-serif;
    outline: none;

    // &:invalid { outline: solid red 2px; }
    // &:valid { outline: solid blue 2px; }
  }

  .main__container {
    @include span-four(24, 24, 18, 18);
    padding-left: 0;
  }
  .tumblr__load {
    @include span-four(24, 24, 24, 24);
  }

  .sidebar__container {
    padding-left: $base*2;
    @extend %sans-serif; 

    font-size: $base*0.9;
    line-height: $base*1.4;

    @include span-four(24, 6, 6, 6);
    @include show($break-nav-wide);


    .sidebar {
      padding: $base 0;

      .filter-clear {
        cursor: pointer;
        color: $red;
        display: none;
        &:hover {
          color: $orange;
        }
      }
      .tag-filter {
        cursor: pointer;
        &:hover {
          color: $orange !important;
        }
      }
      &.tag-active {
        .filter-clear {
          display: block;
          text-decoration: underline;
        }
        .tag-filter {
          color: $lighter-gray;
        }
        .tag-filter--active {
          color: $red;
        }
      }

    }

    .tag__title {
      // padding-bottom: 4px;
    }

    .tag__list {
      li {
        font-size: $base*0.7;
        line-height: $base*1.5;
        display: block;
      }
    }

  }

}




// 
// Tumblr Load more button
// 

.tumblr__load {
  width: 100%;
  text-align: center;
  a {
    cursor: pointer;
  }
  padding: $base*2; padding-left:0;
}


.post__tumblr {
  @extend %ease-none; // eliminates width animation on fix
  margin-bottom: 0;
  padding-top: $base;
  float: none;
  a {
    color: $dark-gray;
  }
  li {
    opacity: 1;
    @extend %ease-slow;
  }
  &:hover {
    li {
      @extend %ease-slow;
      opacity: 0.8;
    }
  }

  li:hover {
    opacity: 1;
    border: 0;
    @extend %ease-slow;

    .post__info {
      border: 1px solid $teal;
    }

    ~ li {

    }
  }


  .post__date {
    font-size: $base*0.8;
  }
  .post__container {
    border: 0;
  }
  .post__info {
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
    @extend %ease-slow;
    border: 1px solid transparent;


  }


  @-webkit-keyframes appear { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes appear { from { opacity:0; } to { opacity:1; } }
  @keyframes appear { from { opacity:0; } to { opacity:1; } }

  .tumblr__item {
    animation: appear .6s forwards;

    &:first-of-type {
      .post__info {
        margin-top: 0;
      }
    }
  }

  .post__publisher {
    font-size: $base*0.8;
    color: $lighter-gray;
  }
  .post__title {
    font-size: $base*1.2;
    line-height: $base*2.1;
    padding-bottom: $base;
    width: 92%;
    color: $red;

    &:after {
      content: "›";
      padding-left: $base/2;
      font-size: $base*1.5;
      line-height: $base;
      white-space: nowrap;
      display: inline;
      color: $lighter-gray;
    }
  }
  .post__excerpt {
    font-size: $base*0.9;
    line-height: $base*1.4;
    max-height: 400px;
    overflow: scroll;
    color: $dark-gray;
  }

  // inside source block
  .post__source {

    padding: $base;
    border: 1px solid #eee;

    .post__photos {
      width: 25%;
      float: left;
      padding-right: 1rem;
      padding-top: 4px;
      img {
        width: 100%;
      }
    }
    .post__source-description {
      width: 75%;
      float: left;
    }
    .post__tags {
      margin: 0;
    }

    &:hover {
      .post__title {
        color: $orange;
      }
    }
  }

  .post__description-container {
    background: $silver;
    padding: $base;
    font-size: $base*0.9;
    line-height: $base*1.4;

    p {
      margin-bottom: $base;
      &:first-of-type {
        display: inline-block;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .post__date {
    color: $lighter-gray;
  }





}


// special post overrides
.tumblr__item {


  // photos have no title, so we emphasize the image
  &.photo, &.video {
    .post__photos {
      width: 100%;
      padding-right: 0;
      padding-top: 0;
    }
  }
}