
.filter-btn {
  *, *:hover {
    @extend %ease;
  }
  cursor: pointer;
  text-align: center;
  display: inline-block;
  // @extend %style-btn-inline;
  padding: 0 $base/4;

  &:first-of-type {
    padding-left: 0;
  }

  &~.filter-clear {
    display: block;
    @include media($break-nav-mobile) { 
      margin-top: $base;
      text-align: center;
    }
    @include media($break-nav-wide-atleast) { 
      display: inline-block; 
      position: inherit;
      margin-left: $base;
      bottom: $base*1.5;
      position: relative;
    }
    // @include media($break-nav-wide) {@include shift(3); }
    // @include media($break-nav-full) {@include shift(3); }
    
    opacity: 0;
    // top: 0;
    font-size: $size-smallish;
    // color: $red;
    @extend %ease;
    &:hover {
      // color: $orange;
    }
  }

  $lab: $teal;
  $thought: $green;
  $idea: $dark-orange;
  $work: $purple;
  $tumblr: $blue;
  &[data-filter="lab"] {
    .icon {background-color: rgba($lab, 0.2);} 
    &:hover .icon, 
    &.filter-btn--active .icon {
      background-color: rgba($lab, 0.9);
    } 
    &.filter-btn--active .filter-btn--title { opacity: 1 } 
    &.filter-btn--active~.filter-clear { opacity: 1; @extend %ease; } 
  }
  &[data-filter="thought"] {
    .icon {background-color: rgba($thought, 0.2);} 
    &:hover .icon, 
    &.filter-btn--active .icon {
      background-color: rgba($thought, 0.9);
    } 
    &.filter-btn--active .filter-btn--title { opacity: 1 } 
    &.filter-btn--active~.filter-clear { opacity: 1; @extend %ease; } 
  }
  &[data-filter="idea"] {
    .icon {background-color: rgba($idea, 0.2);} 
    &:hover .icon, 
    &.filter-btn--active .icon {
      background-color: rgba($idea, 0.9);
    } 
    &.filter-btn--active .filter-btn--title { opacity: 1 } 
    &.filter-btn--active~.filter-clear { opacity: 1; @extend %ease; } 
  }
  &[data-filter="work"] {
    .icon {background-color: rgba($work, 0.2);} 
    &:hover .icon, 
    &.filter-btn--active .icon {
      background-color: rgba($work, 0.9);
    } 
    &.filter-btn--active .filter-btn--title { opacity: 1 } 
    &.filter-btn--active~.filter-clear { opacity: 1; @extend %ease; } 
  }
  &[data-filter="tumblr"] {
    .icon {background-color: rgba($tumblr, 0.2);} 
    &:hover .icon, 
    &.filter-btn--active .icon {
      background-color: rgba($tumblr, 0.9);
    } 
    &.filter-btn--active .filter-btn--title { opacity: 1 } 
    &.filter-btn--active~.filter-clear { opacity: 1; @extend %ease; } 
  }
  // &[data-filter="thought"] {.icon {background-color: rgba($green, 0.2);} &:hover .icon, &.filter-btn--active .icon {background-color: rgba($green, 0.9); &+.filter-btn--title { opacity: 1 } } }
  // &[data-filter="idea"] {.icon {background-color: rgba($dark-orange, 0.2);} &:hover .icon, &.filter-btn--active .icon {background-color: rgba($dark-orange, 0.9); &+.filter-btn--title { opacity: 1 } } }
  // &[data-filter="work"] {.icon {background-color: rgba($purple, 0.2);} &:hover .icon, &.filter-btn--active .icon {background-color: rgba($purple, 0.9); &+.filter-btn--title { opacity: 1 } } }
  // &[data-filter="tumblr"] {.icon {background-color: rgba($blue, 0.2);} &:hover .icon, &.filter-btn--active .icon {background-color: rgba($blue, 0.9); &+.filter-btn--title { opacity: 1 } } }

  .icon {
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    margin: 0 auto;

  }

  .filter-btn--title { opacity: 0.4 }
   
  @extend %ease;
}

.filter-btn--title {
  font-size: $size-smallish;
  margin-top: $base/2;
}

.filter-btn--large {
  .icon--filter {
    width: 40px;
    height: 40px; 
  }

}