
.filter-btn {
  cursor: pointer;
  text-align: center;
  // @extend %style-btn-inline;

  border-radius: 50%;
  width: 40px;
  height: 40px; 
  margin-right: 10px;
  display: inline-block;

  .filter-btn--title { opacity: 0.4 }
   
  @extend %ease;
  &[data-filter="lab"] {background-color: rgba($teal, 0.2); &:hover,&.filter-btn--active {background-color: rgba($teal, 0.9); .filter-btn--title { opacity: 1 } }}
  &[data-filter="rant"] {background-color: rgba($green, 0.2); &:hover,&.filter-btn--active {background-color: rgba($green, 0.9); .filter-btn--title { opacity: 1 } }}
  &[data-filter="idea"] {background-color: rgba($dark-orange, 0.2); &:hover,&.filter-btn--active {background-color: rgba($dark-orange, 0.9); .filter-btn--title { opacity: 1 } }}
  &[data-filter="work"] {background-color: rgba($purple, 0.2); &:hover,&.filter-btn--active {background-color: rgba($purple, 0.9); .filter-btn--title { opacity: 1 } }}

}

.filter-btn--title {
  font-size: $size-smallish;
  margin-top: $base/2;
}

.filter-btn--large {
  .icon--filter {
    width: 40px;
    height: 40px; 
  }

}