
// *********************************************************
// HOME / BLOG LIST
// 
// STRUCTURE
// 
// posts (list)
//   post                                      [post.category, post.featured : post--featured] - category is used for sorting later on
//     post--link                              [post.external]

//       [note: posts should use post-preview-std for standard styles, which is a class within post--container or used as default]
//       post--container (styles & classes)    [post.preview-css (classes used to style the preview), post.preview-img (background preview image for post)]
// 
//         post--info
//           post--info--date--container
//             post--info--date                  [post.date]
//           post--info--title--container        [post.title]
//             post--info--title                 [post.title]
//           post--info--summary--container               
//             post--info--summary               [post.summary]

//           post--taglist

//           post--info--taglist-container
//             post--info--taglist
//               tag                             [post.tags]
//               tag ...    
// 
// *********************************************************

  .postList__container {
    @include span-four(24, 24, 21, 18);
    padding-top: $base*3.8; //distance from the top of the page
    padding-right: $base;
    @extend %ease;
  }

    .page__header {
      margin-bottom: $base*2;

      a, a:active, a:hover, a:link {
        text-decoration: none; 
        color: $light-blue;
        border-bottom: 1px solid $light-blue;
        @extend %ease;
        &:hover {
          color: $dark-blue;
          border-bottom-color: $dark-blue;
          @extend %ease;
        }
      }
    }
      .page__intro {
        @extend %serif;
        font-size: $size-p;

        .page__introtitle {
          font-size: $size-large;
          line-height: $base*2.5;
          display: inline-block;
          padding-bottom: $base*2.45;
          // @include media($break-nav-mobile) {line-height: $base*2.5; padding-top: 12px; display: block;}
          // @include media($break-nav-thin) {line-height: $base*2.5; padding-top: 12px; display: block;}
        }

        p {
          @extend .margin_bottom;
        }
        em {
          color: $orange;
        }

        @include media($break-nav-mobile) {padding: 4px $base*3; margin-top: $base;}
        @include media($break-nav-thin-atleast) {
          @include shift(1); padding-left: $base*2; 
          // margin-top: $base*0.25; 
          margin-bottom: $base*3;
        }
      }
      .page__title {
        text-transform: capitalize;
        font-size: $size-slightly-larger;
      }

    .postList__filter {
      @include media($break-nav-mobile) { 
        text-align: center;
      }
    }
    .postList__filter, .page__title {
      // @include span-four(18, 24, 24, 24);
      @include media($break-nav-mobile) {padding: 4px $base*3; margin-top: $base*2; margin-bottom: $base*2;}
      @include media($break-nav-thin-atleast) {@include shift(1); padding-left: $base*2; margin-top: $base; margin-bottom: $base*2;}
    } 

    // these actually also affect the iterator items on about.md
    // too lazy to break these out
    .post {
      overflow: hidden;
      // each post constitutes a row, of the following # columns, stretching across the entire area
      @include span-four(24, 24, 24, 24);
      list-style-type: none;
      // padding-top: $base*2; padding-bottom: $base*2;
      @extend %ease;
      @extend %sans-serif;

      //preview title hover effects
      &:hover {
        @extend %ease;
        $scale: 1.02;
        // -ms-transform: scale($scale, $scale); /* IE 9 */
        // -webkit-transform: scale($scale, $scale); /* Safari */
        // transform: scale($scale, $scale);

        .post__container {
          border-top: 1px dashed $deep-gray;
          // background-color: rgba($silversky,0.4); @extend %ease-slow; 
          .post__title, .post__summary  {
            @extend %ease; 
            background-color: $hover_color; 
          }
        }
        &+.post .post__container {
          border-top: 1px dashed $deep-gray;
        }
      }

      // HIDE ALL WORK
      // &.work {
      //   display: none;
      // }

    }
    

    .post__container {
      @extend %style-antialiased;
      border-top: 1px dashed $light-gray;

      // height: 200px;  //every post is a standard 200 
      @include media($break-nav-mobile) {padding: 4px $base; }
      // @include media($break-nav-thin)   {padding: 4px $base; }

      // standard format should generally spread across the entire column, but larger leaves a little padding on sides for column-breaking
      @include media($break-nav-thin) {@include shift(1); }
      @include media($break-nav-wide) {@include shift(1); }
      @include media($break-nav-full) {@include shift(1); }
      width: 100% !important;
    
    }

    	// styles for previewing images in the list
    	@import "postPreviewImg";

          .post__info {
            // display: block; //the container covers the entire block, but each element should be inline-block for highlighting
            // position: relative; bottom: -100px;
            margin: $base 0;
            padding-left: $base*2;

          } //end post--info

	          .post__category__icon {
              border-radius: 50%;
	            width: $icon-filter-size;
	            height: $icon-filter-size;
  	          margin-right: 10px; 
	            float: left;
	          }

		          .post__category--lab .post__category__icon {
	              background-color: rgba($teal, 0.7);
		          }

	            .post__category--idea .post__category__icon {
	              background-color: rgba($dark-orange, 0.7);
	            }

	            .post__category--thought .post__category__icon {
	              background-color: rgba($green, 0.7);
	            }

	            .post__category--work .post__category__icon {
	                background-color: rgba($purple, 0.7);
	            }

              .post__category--tumblr .post__category__icon {
                  background-color: rgba($blue, 0.7);
              }


	          .post__category__label {
	            color: $dark-gray;
              line-height: 1rem;
              // margin-bottom: 4px;
              font-size: $size-smaller;
	          }

            .post__date__container {
              position: relative; left: -$base; top: -$base*0.5;
              .post__date { @extend %sans-serif; font-size: $size-preview-date; color: $medium-gray; padding: 0 $base; display: inline-block; }
            }

            // main title
            .post__title__container {
              // shift a little bit for a padding for the bg hover 
              position: relative; left: -$base;
              // padding-top: 10px;
              // background-color: rgba(blue, 0.5); 

              .post__title { 
                @extend %style-post-info-title;
                @extend %ease-slow; // creates that lag effect on hover-out
                // @extend %serif;
              }
            }

            .post__summary__container {
              position: relative; left: -$base;
              color: $gray;

              .post__summary {
                display: inline-block;
                padding: $base/4 $base;
                line-height: 1.6rem;
              }
            }

            .post__tags__container {
              font-size: $size-preview-tag; 
              display: inline; color: $lighter-gray;
              font-weight: 300;
              .post__tags {
                margin-left: 0;
                li {
                  // @extend %serif; 
                  display: inline;
                  &:before {content: '#'}
                  &:not(:last-child):after{content: ',';}

                  /* once we have clickable tags
                  border: 1px solid $gray;
                  background-color: $gray;
                  padding-bottom: 0.3em; padding-top: 0.3em;
                  padding-left: 0.8em; padding-right: 0.8em;
                  @include set-radius(4px); 
                  @include font-sans($f3, 300);
                  display: inline;
                  color: white;
                  */
                }

              }
            }



//////////////////////////////////////////////// 
// 
// CUSTOM STYLES for POST PREVIEWS 
// 
////////////////////////////////////////////////


.post__imgPreview {
  // margin-top: $base;
  margin-bottom: 0;
  padding-bottom: $base*2;

  .post__info {
    margin-bottom: 0;
    padding-top: $base/2;
    padding-bottom: $base/2;
  }
}


/*
        // Custom styles for each blog post
        .post-preview-break-the-grid {
          @include span-four(24, 18, 18, 18); 

          @include media($break-nav-thin) { padding-left: 11%;  }
          @include media($break-nav-wide) { padding-left: 11%;  }
          @include media($break-nav-full) { padding-left: 110px;  }
          
          margin: $base 0; margin-bottom: $base*2; 
          overflow: hidden; 

          .post--info {
            
            margin-top: $base !important;
            margin-bottom: $base  !important;
            @include media($break-nav-thin-atleast) { @include span-columns(18); @include shift(-5); padding-left: 3rem !important; } 
          }

          .post--preview-before, .post--preview-after {
            @include media($break-nav-mobile) { display: none; }
            display: inline; @extend %ease-slow;
            color: transparent; opacity: 0.8;
            text-shadow: 0 0 2px $light-gray;
          }

          &:hover { .post--preview-before, .post--preview-after { text-shadow: 0 0 3px $gray; @extend %ease-slow;} }
        }
*/
  // end Posts / Preview (index file)





