


// base icon class
.icon {
	display: inline-block;
	width: 42px;
	height: 42px; 
	background-size: cover;
	position: relative;
	vertical-align: top;
	background-repeat: no-repeat;
}
	// smaller icon
	.icon--small {
		height: 25px;
		width: 25px;
	}

	// smaller icon
	.icon--btn {
		height: $base;
		width: $base;
		display: inline; 
		margin-left: $base/4;
    	background-size: contain;
	}

	$icon-filter-size: 32px;
	// sizing for filters
	.icon--filter {    
		width: $icon-filter-size;
		height: $icon-filter-size;
	    background-position: center;
    	background-size: 1.3rem;
	}

	.icon--hoverOff {
		@extend .icon; 
		@extend %ease-slow;
		content: ' '; opacity: 0;
	}

	.icon--hoverOn {
		@extend %ease-slow;
		&:before {opacity: 1;}
	}

// iconography
.icon--email {
	background-image: icon('mail', $color--base);
	
	&:before { // hover state
		@extend .icon--hoverOff;
		@extend .icon--small;
		background-image: icon('mail', $red);
	}
}

.icon--twitter {
	background-image: icon('twitter', $color--base);
	
	&:before { // hover state
		@extend .icon--hoverOff;
		@extend .icon--small;
		background-image: icon('twitter', $twitter);
	}
}

.icon--linkedin {
	background-image: icon('linkedin', $color--base);
	
	&:before { // hover state
		@extend .icon--hoverOff;
		@extend .icon--small;
		background-image: icon('linkedin', $linkedin);
	}
}

.icon--resume {
	background-image: icon('resume', $color--base);
	&.icon--btn {background-image: icon('resume', $white);}
	&:before { // hover state
		@extend .icon--hoverOff;
		@extend .icon--small;
		background-image: icon('resume', $green);
	}
}

.icon--blog {
	background-image: icon('blog', $medium-gray);
	
	&:before { // hover state
		@extend .icon--hoverOff;
		background-image: icon('blog', $red);
	}
}

.icon--about {
	background-image: icon('about', $medium-gray);
	
	&:before { // hover state
		@extend .icon--hoverOff;
		background-image: icon('about', $color8);
	}
}

.icon--tools {
	background-image: icon('tools', $medium-gray);
	
	&:before { // hover state
		@extend .icon--hoverOff;
		background-image: icon('tools', $green);
	}
}

.icon--lab {
	background-image: icon('lab', $white);
	
	&:before { // hover state
		@extend .icon--hoverOff;
		background-image: icon('lab', $white);
	}
}

.icon--thought {
	background-image: icon('thought', $white);
	
	&:before { // hover state
		@extend .icon--hoverOff;
		background-image: icon('thought', $white);
	}
}

.icon--idea {
	background-image: icon('idea', $white, 'width="612" height="632" viewBox="0 0 612 792"');
	
	&:before { // hover state
		@extend .icon--hoverOff;
		background-image: icon('idea', $white);
	}
}

.icon--work {
	background-image: icon('work', $white, 'width="512" height="512" viewBox="0 -50 512 612"');
	
	&:before { // hover state
		@extend .icon--hoverOff;
		background-image: icon('work', $white, 'width="512" height="512" viewBox="0 -50 512 612"');
	}
}

.icon--tumblr {
	background-image: icon('thought', $white);
	
	&:before { // hover state
		@extend .icon--hoverOff;
		background-image: icon('thought', $white);
	}
}




