


// *********************************************************
// INVOICE SCSS
// Specific for Invoices. Not for the main site.
// 
// *********************************************************

  $invoice-small: $base*0.9;
  $invoice-larger: $base*3/2;


  @media print {
    * {
      font-size: 9pt !important;
    }
  }

  //hide the mobile nav arrows
  .nav-mobile {
    display: none !important;
  }
  .content--invoice {
    @include outer-container;
    margin: 0 $base;

  }

  .row {
    @include row();
    margin: $base 0;
    @include span-four(24, 24, 24, 24);
  }
  .half-row {
    @include row();
    margin-top: $base*2/3;
    @include span-four(24, 24, 24, 24);
  }
  .label {
    @include row();
    font-size: $base*0.7;
    padding-bottom: $base/2;
  }

  .invoice--header {
    @include row();
    padding: $base;

    @include span-four(24, 18, 18, 18);
    border-radius: 6px;
    background-color: #eee;

    @media print {
      padding-left: 0;
    }
  }

  .invoice--from--name {
    cursor: default;
    background-color: white;
    font-size: $invoice-larger;

    .bracket {color: $light-gray; font-weight: 100; @extend %josefin; letter-spacing:4px}
    .j { @extend %helvetica; font-weight: 400; color: $red; letter-spacing:-2px }
    .z { @extend %helvetica; font-weight: 300; color: $red; letter-spacing:-1px; padding-right: 4px; }
  }

  .address {
    font-size: $invoice-small;
  }

  .invoice--from--phone, .invoice--from--site {
    a {
      color: $red;
      &:hover {
        text-decoration: underline; color: $red;
      }
    }
  }


  // second row

  .invoice--client {
    @include span-four(24, 18, 18, 18);


    th, td {
      padding-top: $base/2;
      padding-bottom: $base/2;
    }

    @media print {
      margin-top: $base*2;
    }

  }
    .invoice--client--information {
      @include span-four(24, 12, 12, 12);

      @media print {
        width: 50%; display: inline-block;
        float: left;
      }

      .invoice--client--name {
        color: $red;
        font-size: $base*1.2;
        padding: $base/3 0;
      }
    }
    .invoice--client--invoice {
      @include span-four(24, 12, 12, 12);

      @media print {
        width: 50%; display: inline-block;
      }

      table { width: 100% }
      th {
        width: 50%;
      }

      @include media($break-nav-mobile) { 
        margin-top: $base;
      }
    }

  // invoice table / itemization

  .invoice--items {
    @include span-four(24, 18, 18, 18);
    table {
      width: 100%;
      td {
        padding: $base;
        padding-left: 0;
      }
    }
    .item--desc {
      color: #999;
      font-weight: 300;
    }
  }

  th {
    color: #999;
    font-size: $base*0.9;
    text-align: left;
    padding-right: $base;
  }

  tr {
    line-height: $base*3/2;
    border-top: 1px solid #ddd;
  }

  th.invoice-num, th.invoice-amount,{
    color: black;
    font-size: $base*0.9;
  }
  td.invoice-date {
    color: #999;
    font-size: $base*0.9;
    font-weight: 300;
  }

  // payment
  .invoice--payment {
    @include span-four(24, 18, 18, 18);

    @media print {
      margin-top: $base*2;
    }

    .invoice--payment--table-container {
      @include span-four(24, 12, 12, 12);

      @media print {
        width: 50%; display: inline-block;
        float: right;
      }

      @include media($break-nav-thin-atleast) {
        @include shift(12);
      }
    }
    table {
      width: 100%;
      th {
        width: 50%;
      }
      // @include span-four(24, 18, 18, 18);
      // @include shift(6);
      // tbody {
      //   width: 100%;
      // }

      th, td {
        padding-top: $base/2;
        padding-bottom: $base/2;
      }
      td {
        text-align: right;
        padding-right: $base;
      }
    }
  }
