

// *********************************************************
// NAVIGATION
// 
// Wide nav bar (icons + text) : 130px ($width-nav-menu)
// Narrow nav bar (icons only) : 60px  //not used anymore, always wide
// *********************************************************

%interact {
  &:after {
    @extend %ease;
    content: ' '; 
    display: block;
    padding-bottom: 6px;
    width: 0;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    height: 90%;

    // border-bottom: 2px solid $red;
    @include media($break-nav-thin-atleast) {
      background-color: $hover_color;
    }
  }
}

%interact_hover {
  &:after {
    @extend %ease;
    content: ' ';
    display: block;
    padding-bottom: 6px;
    width: 100%;
    // border-bottom: 2px solid $red;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    height: 90%;

    @include media($break-nav-thin-atleast) {
      background-color: $hover_color;
    }
  }
}

.nav {
  background-color: white;
  font-size: $base;

  @include media($break-nav-mobile) {
    height: $base*16;
  }
  @include media($break-nav-thin-atleast) {
    width: $width-nav-menu;
    position: fixed;
    height: 100%;
    overflow: scroll;
    // height: 80%; 
  }
  @include media($break-nav-wide-atleast) {
    position: fixed; left: 0;
  }

}

.nav__logo {
	// @include media($break-nav-thin-atleast) {
		// height: $base*5; 
	// }
}
	.nav__logo__link {
		span { @extend %ease; }
		&:hover {
			span { 
				@extend %ease;
        color: $dark-orange; 

				@include media($break-nav-thin-atleast) {
					&:first-child { padding-left: $base/2 } 
				}
			}
		}
	}

  .nav__logo__content { 
		@extend %ease;

		span {@extend %helvetica; color: $red; }
      .nav__j { font-weight: 400; letter-spacing:-2px }
      .nav__z { font-weight: 300; letter-spacing:-1px; }

		@include media($break-nav-mobile) {
			font-size: $base*2;
			text-align: center;
			padding-top: $base*3;
      padding-bottom: $base*2;
		} 
		@include media($break-nav-thin-atleast) {
			// position: relative;
      margin-left: $base*2;
      margin-top: $base*4;
			font-size: $base*2;
			// width: $width-nav-menu;
		}
  }





  // used for the main sectional menu buttons
  .nav__menu {
   	// push content down and move social above the menu
      @include media($break-nav-mobile) {
        // position: relative; top: 30px;
      }

      @include media($break-nav-thin-atleast) {
  			width: $width-nav-menu;
  			// margin-left: $base*3;
        margin-top: $base*2;
        text-align: center;
      }

   }

    .nav__menu__content {
	     
  		@include media($break-nav-mobile) {
  			a:first-child .nav__item { padding-left: $base*2; }
  			a:last-child .nav__item { padding-right: $base*2; }
  		}
    }


    .nav__item {
        $blog: $light-red;
        $about: $orange;
        $bookmarks: $teal;

        position: relative;
  			padding: $base*0.7 0;
  			@extend %ease;

        @extend %interact;
        .nav__label {
          // @extend %interact;
        }

  			@include media($break-nav-mobile) {
  				height: 40px;
  				width: 33%; float: left;
  				text-align: center;
  				position: relative;
          padding: 0;
  				top: $base*5;

          &:hover:after {
            display: none;
          }
        }


  			// general hover styles
  			&:hover {
  				@extend %ease;
  				cursor: pointer; 
  				// slight movement animation to icons and label
  				// @include media($break-nav-wide-atleast) {padding-left: 10px; }
  				// @include media($break-nav-mobile) {padding-top: 2px; }

          .icon { @extend .icon--hoverOn; } // turn on hover mode

          @extend %interact_hover;
  				.nav__label { 
            opacity: 1; 
          }

  				
          @include media($break-nav-thin-atleast) {
    				&.nav__blog .nav__label { color: $blog; border-bottom: 2px solid rgba($blog,1) }
    				&.nav__about .nav__label { color: $about; border-bottom: 2px solid rgba($about,1) }
    				&.nav__bookmarks .nav__label { color: $bookmarks; border-bottom: 2px solid rgba($bookmarks,1) }
          }
        }

        
        &.nav__blog.active  { 
          .icon { @extend .icon--hoverOn; }  
          .nav__label { 
            color: $blog; 
            @include media($break-nav-thin-atleast) {
              border-bottom: 2px solid rgba($blog,1) 
            } 
          } 
        }
        &.nav__about.active  { 
          .icon { @extend .icon--hoverOn; }  
          .nav__label { 
            color: $about; 
            @include media($break-nav-thin-atleast) {
              border-bottom: 2px solid rgba($about,1) 
            } 
          } 
        }
        &.nav__bookmarks.active  { 
          .icon { @extend .icon--hoverOn; }  
          .nav__label { 
            color: $bookmarks; 
            @include media($break-nav-thin-atleast) {
              border-bottom: 2px solid rgba($bookmarks,1) 
            } 
          } 
        }
        
      }

	   .nav__label { 
	      	display: inline-block;
	      	@extend %serif;
  				@extend %ease;
  				// padding-top: $base;
          border-bottom: 2px solid rgba($white,1);
          line-height: 1.8rem;
          // padding-bottom: $base/4;
          font-size: $base*1.2;

  				@include media($break-nav-mobile) {
  					width: 100%;
  					text-align: center;
  				}
  				// @include media($break-nav-thin) { opacity: 0.1;}
  				// @include media($break-nav-thin-atleast) { padding-bottom: $base/4; }
	      }





   // 
   // SOCIAL MENU
   // 

   // used for the main sectional menu buttons
   .nav__social { 
      @include media($break-nav-mobile) {
         position: relative; bottom: $base;
      } 
      @include media($break-nav-thin-atleast) {
        margin-top: $base*3;
         // width: 110px;
         // padding-left: 18px;
      }
   }
   .nav__social__item {
      @extend %ease-fast;
      // position: relative;
      cursor: pointer;
      // padding: $base*2/3 0;
      text-align: center;
      line-height: 1.5rem;

      @extend %serif; 
      .nav__social__label {
        border-bottom: 1px solid rgba($gray,0);
        padding: 0 7px;
        margin-bottom: $base;
      }

      @include media($break-nav-mobile) {
         width: 25%; float: left;  
         text-align: center;
      }

      &:hover {
        @extend %ease-fast;
        // animate on hover (left right) for left side rail (up down) for top menu
        // @include media($break-nav-thin-atleast) {padding-left: 4px; }
        @include media($break-nav-mobile) {padding-top: 2px; }
        color: $red;
        .icon { @extend .icon--hoverOn; } // turn on hover mode
        .nav__social__label {
          opacity: 1; right: 0px; 
          @include media($break-nav-thin-atleast) {
            border-bottom: 1px solid rgba($red,0.8);
          }
        }
      }
   }

      .nav__social__label {
        // position: absolute;
        display: inline-block;
        // padding-left: 8px;
        // padding-top: 2px;
        font-size: $size-menu-social;
        @extend %ease-fast; 

        span {
          @extend .show-nav-full; 
          @extend %serif; 
          @extend %ease-fast; 
          opacity: 0.6; 
          position: relative; 		// creates the slide-in on hover
          // right: 10px; top: 3px; 
        }
         
      }


// // this area only shows up in mobile menu view when users scroll down
// // idea is that it's a sliver that users can click on to scroll up
// .nav-mobile-container{
//     position: relative;
//     z-index:99999;
//     display: none;
//     @include media($break-nav-mobile) {
//       display: block;
//     }

//   .nav-mobile {
//      // display: none;
//      // narrow nav width is 60px, used up until the widest breakpoint
//      // used for the button that scrolls to the top in mobile view
//      @include media($break-nav-mobile) {
//         position: fixed; top:0; //shown with skrollr
//         height: 30px; width: 20%; right: 0; top: 12px;
//         border-top-left-radius: 6px; border-bottom-left-radius: 6px;
//         background: rgba(black,0.1); 
//      }
//      &:hover {
//         background: rgba(black,0.03); 
//         @extend %ease;
//         cursor: pointer;
//      }
//      // &:before {content: 'top'}
//   }
// }