

// *********************************************************
// NAVIGATION
// 
// Wide nav bar (icons + text) : 130px ($width-nav-menu)
// Narrow nav bar (icons only) : 60px  //not used anymore, always wide
// *********************************************************

.nav {
  background-color: white;

  @include media($break-nav-mobile) {
    height: $base*16;
  }
  @include media($break-nav-thin-atleast) {
    width: $width-nav-menu;
    position: fixed; left: 0;
    height: 100%; 
  }

}

.nav__logo {
	@include media($break-nav-thin-atleast) {
		height: $base*5; 
	}
}
	.nav__logo__link {
		span { @extend %ease; }
		&:hover {
			span { 
				@extend %ease; color: $blue; 

				@include media($break-nav-thin-atleast) {
					&:first-child { padding-left: $base/2 } 
				}
			}
		}
	}

  .nav__logo__content { 
		@extend %ease;

		span {@extend %helvetica; color: $red; }
      .nav__j { font-weight: 400; letter-spacing:-2px }
      .nav__z { font-weight: 300; letter-spacing:-1px; }

		@include media($break-nav-mobile) {
			font-size: $base*3/2;
			text-align: center;
			padding-top: $base/2;
		} 
		@include media($break-nav-thin-atleast) {
			position: relative; left: $base/2; top: $base*2;
			font-size: $base*3/2;
			width: $width-nav-menu;
			padding-left: 10px;
		}
  }





  // used for the main sectional menu buttons
  .nav__menu {
   	// push content down and move social above the menu
      @include media($break-nav-mobile) {
        // position: relative; top: 30px;
      }

      @include media($break-nav-thin-atleast) {
			width: 130px;
			padding-left: 1rem;
      }

   }

    .nav__menu__content {
	     
  		@include media($break-nav-mobile) {
  			a:first-child .nav__item { padding-left: $base*2; }
  			a:last-child .nav__item { padding-right: $base*2; }
  		}
    }

    .nav__item {

  			padding: $base/2 0;
  			@extend %ease;


  			@include media($break-nav-mobile) {
  				height: 40px;
  				width: 33%; float: left;
  				text-align: center;
  				position: relative;
  				top: $base*5;
        }

  			// general hover styles
  			&:hover {
  				@extend %ease;
  				cursor: pointer; 
  				// slight movement animation to icons and label
  				@include media($break-nav-wide-atleast) {padding-left: 10px; }
  				@include media($break-nav-mobile) {padding-top: 2px; }

          .icon { @extend .icon--hoverOn; } // turn on hover mode
  				.nav__label { opacity: 1; }
  				
  				&.nav__blog .nav__label { color: $red; }
  				&.nav__about .nav__label { color: $color8; }
  				&.nav__tools .nav__label { color: $teal; }
        }
        &.nav__blog.active  { .icon { @extend .icon--hoverOn; } .nav__label { color: $red; } }
        &.nav__about.active { .icon { @extend .icon--hoverOn; } .nav__label { color: $color8; } }
        &.nav__tools.active { .icon { @extend .icon--hoverOn; } .nav__label { color: $teal; } }
        
      }

	   .nav__label { 
	      	display: inline-block;
	      	@extend %serif;
  				@extend %ease;
  				padding-top: 12px;

  				@include media($break-nav-mobile) {
  					width: 100%;
  					text-align: center;
  				}
  				@include media($break-nav-thin) { opacity: 0.1;}
  				@include media($break-nav-thin-atleast) { padding-left: $base/3; }
	      }





   // 
   // SOCIAL MENU
   // 

   // used for the main sectional menu buttons
   .nav__social { 
      @include media($break-nav-mobile) {
         position: relative; bottom: $base;
      } 
      @include media($break-nav-thin-atleast) {
         width: 110px;
         padding-left: 18px;
      }
   }
   .nav__social__item {
      @extend %ease;
      position: relative;
      cursor: pointer;
      padding: $base/2 0;

      @include media($break-nav-mobile) {
         width: 25%; float: left;  
         text-align: center;
      }

      &:hover {

         // animate on hover (left right) for left side rail (up down) for top menu
         @include media($break-nav-thin-atleast) {padding-left: 4px; }
         @include media($break-nav-mobile) {padding-top: 2px; }
         
         .icon { @extend .icon--hoverOn; } // turn on hover mode
         .nav__social__label span {opacity: 1; right: 0px; }
      }
   }

      .nav__social__label {
      	position: absolute;
			display: inline-block;
			padding-left: 8px;
			padding-top: 2px;
			font-size: $size-menu-social;
         @extend %ease-slow; 

         span {
         	@extend .show-nav-full; 
         	@extend %serif; 
         	@extend %ease-slow; 
         	opacity: 0; 
         	position: relative; 		// creates the slide-in on hover
         	right: 10px; top: 3px; 
         }
         
      }


// // this area only shows up in mobile menu view when users scroll down
// // idea is that it's a sliver that users can click on to scroll up
// .nav-mobile-container{
//     position: relative;
//     z-index:99999;
//     display: none;
//     @include media($break-nav-mobile) {
//       display: block;
//     }

//   .nav-mobile {
//      // display: none;
//      // narrow nav width is 60px, used up until the widest breakpoint
//      // used for the button that scrolls to the top in mobile view
//      @include media($break-nav-mobile) {
//         position: fixed; top:0; //shown with skrollr
//         height: 30px; width: 20%; right: 0; top: 12px;
//         border-top-left-radius: 6px; border-bottom-left-radius: 6px;
//         background: rgba(black,0.1); 
//      }
//      &:hover {
//         background: rgba(black,0.03); 
//         @extend %ease;
//         cursor: pointer;
//      }
//      // &:before {content: 'top'}
//   }
// }