
// special styles for preview images

// 10-18-2015:  getting rid of the previews for scaling purposes

.post__imgPreview {
  background-repeat: no-repeat; 
  // background-size: auto 100%; 
  // background-position: 50%;
  background-size: cover;
  padding-top: $base*2; padding-bottom: $base*2;
  @extend %ease; 

  &:hover {
    // background-size: auto 105%; background-position: 50%; 
    // $scale: 1.02;
    // -ms-transform: scale($scale, $scale); /* IE 9 */
    // -webkit-transform: scale($scale, $scale); /* Safari */
    // transform: scale($scale, $scale);

  }
}

  .post__imgPreview--rightAlign {
    background-position: right center;
    &:hover {
      background-size: auto 105%; background-position: right center; 
    }
  }

  .post__imgPreview--short .post__info {
    margin-top: $base !important; 
    margin-bottom: $base !important;
    padding-top: 0; padding-bottom: 0;

    .post--info {
      margin: $base 0;
    }
  }

  //special style for no images (make larger)
  .post__imgPreview--noImg {
    // posts with images are going to remain 18 (code under --img section), but posts with only text are expanded
    @include span-four(24, 21, 21, 21);
  }


// slightly different style for dark bg images
.post__imgPreview--dark {

  // font color
  .post__title, .post__summary, .post__date, .post__taglist li { color: rgba(white, 0.6) !important; }

  // bg highlight
  .post__title, .post__summary, .post__taglist li { background-color: rgba(black, 0.2) !important; }

  &:hover {
    .post__title, .post__summary, .post__taglist li { color: rgba(white, 0.8) !important; background-color: rgba(black, 0.4) !important; }
  }

  // override svg icons to be mosttly transparent
  .post__category__icon {
    background-color: rgba(black, 0.3) !important;
    svg {fill: rgba(white, 0.6) !important;}
  }

  // darken the text bit
  .post__category__label {
    color: rgba($light-gray,0.5) !important;
  }
}

// slightly different style for light bg images
.post__imgPreview--light {
  .post__category--label {color: rgba(black,0.5) !important;}
  .post__date { color: $gray !important; }
  .post__title { background-color: rgba(white,0.5)  }
  .post__summary { background-color: rgba(white,0.6)  }
  .post__taglist { li { color: $gray !important;} }
}

// mixed has a darker background, mixed colors, and could still be considered 'light'
.post__imgPreview--mixed {
  .post__category__label {color: rgba(black,0.8) !important;}
  .post__date { color: rgba(black,0.8)  !important; }
  .post__title { color: rgba(black,0.8) !important; background-color: rgba(white,0.5)  }
  .post__summary { color: rgba(black,0.8) !important; background-color: rgba(white,0.6)  }
  .post__taglist { li { color: rgba(black,0.8) !important;} }
}


.post__imgPreview--cover {
  background-size: cover;
}

