
// core frameworks 
@import 'bourbon/bourbon';
@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// framework files
@import "__proto-grid-settings";
@import '__proto-reset';            // reset formula
@import 'neat/neat';  
@import '__proto-framework';        // framework prototype framework. Grids, distances and sizes.


//FLEXBOX Framework files
//experimental - used in place of neat.bourbon helpers. Flexbox is cleaner and easier to implement, but will not be supported
//under IE10. These are used for prototyping only and will not translate to production.
//@import 'other/flexbox';            // general flexbox mixin helpers
//@import '__proto-flexbox';          // supporting flexbox helpers and preset layouts

//@import 'reusables';              // wireframe reusables- functions, mixins, etc. ///// DEPRECATED - Moved to end of Framework

//@import '__proto-main';             // proto styles
//@import '__proto-comp-presenter';   // styles for the comp presenter 

// Compass frameworks
// @import "compass/utilities";
// @import "compass/css3";
// @import "compass/css3/images";  


// adding '/' refers to server root, and " " refers to relative root (dropbox would use this)
// needs to match config.yml, but this is for css-loaded assets
$siteroot: '../../';


// 
// Main Wireframe Files
@import "fluidbox.css";  
@import 'design';                   // wireframe design
@import "_collapsible";  
@import "_triangles";  




// *********************************************************
// LAYOUT SETUP
// Guideline for setting up HTML and CSS inheritance
// 
// Setup:
//    
//    Floater (optional, fixed position floating menu)
//    Article (logical divisions of content)
//       Section (full width span containers - optional. One article can have many Sections)
//          Container (breakpoints and column-set)
//             Row
//                Column 
//                Column 
//                Column 
//                Column
//          Container (breakpoints and column-set)
//             Row 
//                Column 
//                Column 
//                Column
// 
// *********************************************************


// *********************************************************
// CSS Document Outline
// 
// Tips:
// - Don't use hardcoded values for colors, size, etc. Use $variables
// - USE $base and rems (only use em for relative sizing)
// - Use inline media queries within the elemnet, instead of a separate sheet
//
//    UNIVERSAL
//    NAVIGATION
//    MAIN / CONTENT
//    FOOTER
//    REUSABLES
//    
// *********************************************************





// *********************************************************
// UNIVERSAL
// - Sizing
// - Fonts
// - Colors
// *********************************************************

// Fonts
%sans-serif {font-family: "Open Sans", "Helvetica Neue", arial, sans-serif;}
// %body-font {@extend %sans-serif; font-weight: 300;}
%helvetica {font-family: "Helvetica Neue", "Open Sans", sans-serif;}
// %serif {font-family: 'Libre Baskerville', Georgia, serif;}

// @import url(http://fonts.googleapis.com/css?family=Raleway:400,500,300,200,100,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,);

%serif {font-family: Georgia, serif;}

%josefin {font-family: 'Josefin Sans', serif;}
// %display {font-family: Raleway, "Open Sans", "Helvetica Neue", 'Helvetica', arial, sans-serif !important; }
%display {font-family: 'Josefin Sans', "Open Sans", "Helvetica Neue", 'Helvetica', arial, sans-serif !important; }


// highlight font color
@include selection-color (rgba($light-blue, 0.8), white, none);



// FONT SIZES
// 1rem = 16px
// $base * 0.875 = 14px
// you can also use the golden ratio calculator

$base: 1rem;

$size-smallish: $base*0.83;
$size-small: $base*0.98;
$size-smaller: $base*0.875;
$size-smallerish: $base*0.86;

$size-slightly-large: $base*1.1;
$size-slightly-larger: $base*1.3;

$size-largish: $base*1.6;
$size-large: $base*2;
$size-larger: $base*2.5;
$size-largest: $base*3.2;

$size-menu: $size-small;             // 14px
   $size-menu-social: $size-smaller;      // 12px / social icons

$size-footer: $size-small;  // 14px


// Preview Post sizes
$size-preview-date: $size-small; 
$size-preview-title: $size-larger;
$size-preview-tag: $size-smaller;

$size-form: $base*0.9; $height-form: $base*2;

$size-article-title: $size-larger;
  $size-article-title-mobile: $base*1.8;
  $height-article-title: golden-ratio($size-article-title, 1);
  $height-article-title-mobile: golden-ratio($size-article-title-mobile, 1);

$size-article-subtitle: $base*1.1;
  $size-article-subtitle-mobile: $base*1;
  $height-article-subtitle: golden-ratio($size-article-subtitle, 1);


$size-h2: golden-ratio($base, 1);
  $height-h2: golden-ratio($size-h2, 1);

$size-p: $base*1.05; 
  $height-p: golden-ratio($size-p*1.2, 1);

$s1: golden-ratio(14px,  1);

%border-blue{
  border-left: 2px solid rgba($light-blue, 0.7);
}

// slight font adjustment, makes serif font thinner. Looks better on OS X, but less legible
// use with care
%style-antialiased {
  -webkit-font-smoothing: antialiased;
}

//for serif paragraph text
%style-p-serif {
  @extend %serif; 
  font-size: $size-p;
  line-height: $height-p;
  // @extend %style-antialiased;
} 


%style-post-info-title{
  display: inline-block; padding: 0 $base; margin-top: $base/2; 
  @extend %sans-serif; font-weight: 300; 
  // @extend %display; font-weight: 200;
  // font-weight: 700; 
  font-size: $size-preview-title; 
  // background-color: rgba(red, 0.6);
  // @extend %ease; 
}

%style-article-title {
  @extend %sans-serif; font-weight: 300;
  // @extend %display; font-weight: 200;
  font-size: $size-article-title;
  line-height: $height-article-title;
  
  @include media($break-nav-mobile) {
    font-size: $size-article-title-mobile;
    line-height: $height-article-title-mobile;
  }
}

  %style-article-subtitle {
    @extend %sans-serif; 
    // font-style: italic;
    font-size: $size-article-subtitle;
    line-height: $height-article-subtitle;
    font-weight: 300;
    color: $gray;
    @extend %serif;
    // @extend %style-antialiased; 
    
    @include media($break-nav-mobile) {font-size: $size-article-subtitle-mobile;}
  }

  // general emphasis style, regardless of sans or serif
  %style-em {
    font-style: italic; 
  }

  // titles within a post
  %style-article-h2 {
    @extend %serif; 
    font-size: $size-h2;
    line-height: $height-h2;
    color: $slate; 
    margin-top: $size-h2;
    margin-bottom: $size-h2;
  } 

  %style-figcaption {
    color: $gray;
    @extend %serif;
    font-style: italic;   
    font-size: $size-small;
    padding-top: $base;
  }

  %style-blockquote {
    font-size: $size-slightly-larger;
    @extend %serif; 
    padding-left: $base;
    @extend %border-blue;
  }
  %style-blockquote-wide {
    font-size: $size-slightly-large;
    // background-color: $silversky;
    @extend %border-blue;
    @extend %serif; 

    width: 100%; padding: $size-slightly-large; margin-top: $size-largish; margin-bottom: $base*2;
    @include media($break-nav-thin-atleast) {@include shift(-3); @include span-columns(32);}
  }

  %style-btn-inline { 
    display: inline-block; 
    color: white;
    background-color: $gray;
      padding: 0 $base 0 $base;
    margin: $base 0;
    font-size: $size-smaller; 
    border-radius: 3px;
    line-height: $base*2;
    @extend %sans-serif;
    font-weight: 300;
    @extend %ease;
    &:hover {
      @extend %ease;
      background-color: $red;
      padding: 0 $base*3/2 0 $base*3/2;
      &:after {
        content: ' → ';
        @extend %ease;
      }  
    }
  }

  //small modifications to prettyprinted to make more legible
  %style-prettyprinted {
    @extend %style-antialiased;
  }


// 
// UNIVERSAL STYLES
// general, reusable styles
// 

body, html {
  @extend %ease-slow;
  @extend %sans-serif;
  color: $dark-gray;

  // contains the main responsive container that houses the content
  // needs to be resized with padding to make room for narrow left nav
  #body--content {

    @include media($break-nav-thin-atleast) {
       //if window is larger than wide left nav + content combined, center content in middle
       // can't make nav wide yet because the content is getting centered
       padding-left: $width-nav-menu;
    }
  }


  // all svg icons
  .svg-container {
    // height: 18px; width: 18px;
    text-align: center; 

    &.icon-uptop {
       svg {fill: $red; width: 23px; height: 23px; @include transform(rotate(-90deg));}
       position: relative; top: 4px; 
    }
  }

  a, a:active, a:hover, a:link {
    text-decoration: none; color: $dark-gray;
  }

  .style--highlight {
    color: $red;
  }

  .filter-btn {
    cursor: pointer;
    // @extend %style-btn-inline;

    border-radius: 50%;
    width: 40px;
    height: 40px; 
    margin-right: 10px;
    float: left;
    @extend %ease;
    &[data-filter="lab"] {background-color: rgba($teal, 0.4); &:hover,&.filter-btn--active {background-color: rgba($teal, 0.9);}}
    &[data-filter="rant"] {background-color: rgba($green, 0.4); &:hover,&.filter-btn--active {background-color: rgba($green, 0.9);}}
    &[data-filter="idea"] {background-color: rgba($dark-orange, 0.4); &:hover,&.filter-btn--active {background-color: rgba($dark-orange, 0.9);}}
    &[data-filter="work"] {background-color: rgba($purple, 0.4); &:hover,&.filter-btn--active {background-color: rgba($purple, 0.9);}}


    svg {
      width: 32px; height: 32px; fill: white; position: relative; top: 4px; left: 4px;
      &.svg--lab {top:2px}
    }

  }
}






// *********************************************************
// NAVIGATION
// 
// Wide nav bar (icons + text) : 130px ($width-nav-menu)
// Narrow nav bar (icons only) : 60px  //not used anymore, always wide
// *********************************************************

.nav {
  // background-color: rgba(red,0.1);
  background-color: white;


  @include media($break-nav-mobile) {
    height: $base*12;
  }
  @include media($break-nav-thin-atleast) {
    width: $width-nav-menu;
    position: fixed; left: 0;
    height: 100%; 
  }

   // narrow nav width is 60px, used up until the widest breakpoint
   // @include media($break-tiny) {
   //    // position: fixed; top:0;
   //    height: 100px; width: 100%;
   // }

   // // narrow nav width is 60px, used up until the widest breakpoint
   // @include media($small) {
   //    position: fixed; left: 0;
   //    height: 100%; width: 60px;
   // }

   // // at widest breakpoint,
   // @include media($break-infinite) {
   //    position: fixed; left: 0;
   //    height: 100%; 
   //    // width: 120px;
   //    // background-color: rgba(red,0.4);
   // }

   // used for the {jz} logo
   .nav--logo {
      cursor: default;
      background-color: white;

      .bracket {color: $light-gray; font-weight: 100; @extend %josefin; letter-spacing:4px}
      .j { @extend %helvetica; font-weight: 400; color: $red; letter-spacing:-2px }
      .z { @extend %helvetica; font-weight: 300; color: $red; letter-spacing:-1px; padding-right: 4px; }

      .nav--logo--content { 
        @extend %ease;

        @include media($break-nav-mobile) {
          opacity: 0; //dont show logo in mobile!
        } 
        @include media($break-nav-thin-atleast) {
          position: relative; left: $base/2; top: $base*2;
          font-size: $base*3/2;
          height: $base*5; 
          width: $width-nav-menu;
          padding-left: 10px;
        }
        @include media($break-nav-full) {
          // position: relative; left: 7px; top: 20px;
          // font-size: 24px;
          // height: 80px; width: 130px;
          // padding-left: 10px;
        }

      }
    }
    .nav--logo-link:hover {
      span { color: $gray !important; @extend %ease; }
      & > div {padding-left: 15px;}
      @extend %ease;
    }

   // used for the main sectional menu buttons
   .nav--menu {
      @include media($break-nav-mobile) {
        position: relative; top: 30px; z-index: 10000;
      }

      @include media($break-nav-thin-atleast) {
        width: 130px;
      }

      // @include media($break-nav-wide-atleast) {
      //   width: 130px;
      // }

   }

   %home-fill { color: $red; svg { fill: $red; } }
   %toolbox-fill { color: $teal; svg { fill: $teal; } }
   %about-fill { color: $color8; svg { fill: $color8; } }


   .nav--menu--content {

      @include media($break-nav-mobile) {
        @include row();
        position: relative; top: 50px;
      }

      .nav--menu-item {
        @extend %ease;
        svg { fill: $medium-gray; }

        @include media($break-nav-mobile) {
          height: 40px;
          width: 25%; float: left;
          // position: relative; top: 10px; 
          svg {height: 40px;}
          &:first-child {@include shift(1.5); }
        }

        @include media($break-nav-thin-atleast) { height: 64px; font-size: $size-menu; svg {position: relative; left: 14px; top: 10px; height: 40px; width: 40px;} }
        // @include media($break-nav-wide-atleast) { svg {left: 14px; } }
        .label { 
          @extend %ease;
          

          @include media($break-nav-mobile) {
            width: 100%;
            text-align: center;
          }
          @include media($break-nav-thin) { opacity: 0.1;}
          @include media($break-nav-thin-atleast) { padding-left: 15px; }
        }

        // general hover styles
        &:hover {
          @extend %ease;
          background-color: rgba(black, 0.01); cursor: pointer; 
          // slight movement animation to icons and label
          @include media($break-nav-wide-atleast) {padding-left: 10px; }
          @include media($break-nav-mobile) {padding-top: 2px; }
          
          .label { @extend %ease-slow; opacity: 1; }
          
          // svg {left: 14px; }
        }

         // styles when currently on the page / highlight the tab / specific hover styles
         &.nav--menu--home { &:hover, &.active {@extend %home-fill;} }
         &.nav--menu--about { &:hover, &.active {@extend %about-fill;}  }
         &.nav--menu--toolbox { &:hover, &.active {@extend %toolbox-fill;}  }
      }

      .label { 
        span { 
          // @extend .show-nav-full;  //showing for all states
          @extend %serif; 
          // @include media($break-nav-mobile) {padding-left: 5px; }
        } 
        display: inline-block !important; position: relative; 
        // padding-left: 10px; 
        bottom: 8px; 
      }
   }


   // used for the main sectional menu buttons
   .nav--social-menu { 
      @include media($break-nav-mobile) {
         position: relative; top: -30px; z-index: 99100;
      } 
      @include media($break-nav-thin-atleast) {
         width: 110px;
      }
      // @include media($break-nav-wide-atleast) {
      //    width: 110px;
      // }
   }
   .nav--social-menu--content {
      // @include media($break-nav-mobile) { @include row(); }

      .nav--social-menu-item {
         @extend %ease;
         svg { fill: rgba($gray, 0.7); }

         @include media($break-nav-mobile) {
            height: 45px;
            width:25%; float: left; 
            svg {height: 25px; position: relative; top: 12px;}
         }

         @include media($break-nav-thin-atleast) { height: 50px; svg {position: relative; left: 17px; top: 12px; height: 25px; width: 25px;} }

         &:hover {
            background-color: rgba(black, 0.01); cursor: pointer; color: $dark-gray;

            // animate on hover (left right) for left side rail (up down) for top menu
            @include media($break-nav-thin-atleast) {padding-left: 4px; }
            @include media($break-nav-mobile) {padding-top: 2px; }
            
            span {opacity: 1; right: 0px; }
            @extend %ease; 
            &.nav--social-menu--email { svg { fill: $red; } }
            &.nav--social-menu--twitter { svg { fill: $twitter; } }
            &.nav--social-menu--linkedin { svg { fill: $linkedin; } }
            &.nav--social-menu--resume { svg { fill: $red; } }
         }
      }

      .label {
         span {@extend .show-nav-full; @extend %serif; opacity: 0; @extend %ease-slow; position: relative; right: 10px; top: 3px; }
         display: inline-block !important; padding-left: 21px; font-size: $size-menu-social;
      }
         // adjust some label heights to match the icon
         .nav--social-menu--email { span {top: 4px; } }
         .nav--social-menu--linkedin { span {top: 6px; } }
   }
}

// this area only shows up in mobile menu view when users scroll down
// idea is that it's a sliver that users can click on to scroll up
.nav-mobile-container{
    position: relative;
    z-index:99999;
    display: none;
    @include media($break-small-upto) {
      display: block;
    }

  .nav-mobile {
     // display: none;
     // narrow nav width is 60px, used up until the widest breakpoint
     // used for the button that scrolls to the top in mobile view
     @include media($break-small-upto) {
        position: fixed; top:0; //shown with skrollr
        height: 30px; width: 20%; right: 0; top: 12px;
        border-top-left-radius: 6px; border-bottom-left-radius: 6px;
        background: rgba(black,0.1); 
     }
     &:hover {
        background: rgba(black,0.03); 
        @extend %ease;
        cursor: pointer;
     }
     // &:before {content: 'top'}
  }
}

// *********************************************************
// MAIN CONTENT
// *********************************************************

.main {
   .content {
      // height: 200px;
      width: 100%;
      // background-color: rgba(blue, 0.4);
   }
}

        // 
        // Special Elements
        // - Buttons and other elements
        // 

        //used for external sources or downloads, especially project pages / lab pages
        a.link-external {  
          .btn-inline {
            @extend %style-btn-inline;

            &--large {
              padding: 14px 20px;
              &:hover {
                padding: 14px 40px;
              }
            }
          }
        }

        // *********************************************************
        // RANTS PAGE / BLOG LIST
        // 
        // STRUCTURE
        // 
        // posts (list)
        //   post                                      [post.category, post.featured : post--featured] - category is used for sorting later on
        //     post--link                              [post.external]

        //       [note: posts should use post-preview-std for standard styles, which is a class within post--container or used as default]
        //       post--container (styles & classes)    [post.preview-css (classes used to style the preview), post.preview-img (background preview image for post)]
        // 
        //         post--info
        //           post--info--date--container
        //             post--info--date                  [post.date]
        //           post--info--title--container        [post.title]
        //             post--info--title                 [post.title]
        //           post--info--summary--container               
        //             post--info--summary               [post.summary]

        //           post--taglist

        //           post--info--taglist-container
        //             post--info--taglist
        //               tag                             [post.tags]
        //               tag ...    
        // 
        // *********************************************************

        .page--title {

          font-size: $size-slightly-larger; font-style: italic;
          @extend %serif; color: rgba(black, 0.4);
          height: 20px;

          @include span-four(18, 24, 24, 24);
          @include media($break-nav-mobile) {padding: 4px $base*3; margin-top: $base*4;}
          @include media($break-nav-thin-atleast) {
            @include shift(3); padding-left: $base*2; 
            margin-top: $base; margin-bottom: $base;
          }

        }

        .posts {
          padding-top: 30px; //distance from the top of the page
          @extend %ease;

          .posts--filters {
            @include span-four(18, 24, 24, 24);
            @include media($break-nav-mobile) {padding: 4px $base*3; margin-top: $base; margin-bottom: $base*2;}
            @include media($break-nav-thin-atleast) {@include shift(3); padding-left: $base*2; margin-top: $base; margin-bottom: $base*2;}
          }

          .post {

            // each post constitutes a row, of the following # columns, stretching across the entire area
            @include span-four(18, 24, 24, 24);
            // padding-top: $base*2; padding-bottom: $base*2;

            .post--link {

              .post--container.post-preview-std {


                @extend %style-antialiased;

                // height: 200px;  //every post is a standard 200 
                @include media($break-nav-mobile) {padding: 4px $base; }
                // @include media($break-nav-thin)   {padding: 4px $base; }

                // standard format should generally spread across the entire column, but larger leaves a little padding on sides for column-breaking

                @include media($break-nav-thin) {@include shift(3); }
                @include media($break-nav-wide) {@include shift(3); }
                @include media($break-nav-full) {@include shift(3); }


                .post--info {
                  // display: block; //the container covers the entire block, but each element should be inline-block for highlighting
                  // position: relative; bottom: -100px;
                  margin-top: $base*4; margin-bottom: $base*4; 
                  padding-left: $base*2;

                  .post--category {
                    .post--category--icon {
                      border-radius: 50%;
                      width: 40px;
                      height: 40px; 
                      margin-right: 10px;
                      float: left;
                      // svg {width: 32px; height: 32px; fill: white; position: relative; top: 2px; left: 4px;}
                    }

                    &.post--category-lab {
                      .post--category--icon {
                        background-color: rgba($teal, 0.7);
                        svg {width: 32px; height: 32px; fill: white; position: relative; top: 2px; left: 4px;}
                      }
                      .post--category--label {
                        color: $light-gray;
                        // &:after { content: ' experiment'}
                      }
                    }

                    &.post--category-idea {
                      .post--category--icon {
                        background-color: rgba($dark-orange, 0.7);
                        svg {width: 32px; height: 32px; fill: white; position: relative; top: 4px; left: 4px;}
                      }
                      .post--category--label {
                        color: $light-gray;
                        // &:after { content: ' experiment'}
                      }
                    }

                    &.post--category-rant {
                      .post--category--icon {
                        background-color: rgba($green, 0.7);
                        svg {width: 32px; height: 32px; fill: white; position: relative; top: 4px; left: 4px;}
                      }
                      .post--category--label {
                        color: $light-gray;
                        // &:after { content: ' experiment'}
                      }
                    }

                    &.post--category-work {
                      .post--category--icon {
                        background-color: rgba($purple, 0.7);
                        svg {width: 32px; height: 32px; fill: white; position: relative; top: 2px; left: 4px;}
                      }
                      .post--category--label {
                        color: $light-gray;
                        // &:after { content: ' experiment'}
                      }
                    }

                  }



                  .post--info--date-container {
                    position: relative; left: -$base;

                    .post--info--date { @extend %serif; font-size: $size-preview-date; color: $light-gray; padding: 0 $base; display: inline-block; }
                  }

                  // main title
                  .post--info--title-container {
                    // shift a little bit for a padding for the bg hover 
                    position: relative; left: -$base;
                    padding-top: 10px;
                    // background-color: rgba(blue, 0.5); 

                    .post--info--title { 
                      @extend %style-post-info-title;
                      @extend %ease-slow; 
                    }
                  }

                  // second line / description
                  .post--info--summary-container {
                    position: relative; left: -$base;
                    color: $gray;

                    .post--info--summary {
                      display: inline-block; padding: $base/2 $base;
                    }
                  }

                  // third line: tags list
                  .post--info--taglist-container {
                    .post--info--taglist {
                      li{
                        @extend %serif; font-size: $size-preview-tag; 
                        display: inline; color: $light-gray;
                        &:before {content: '#'}
                        &:not(:last-child):after{content: ',';}

                        /* once we have clickable tags
                        border: 1px solid $gray;
                        background-color: $gray;
                        padding-bottom: 0.3em; padding-top: 0.3em;
                        padding-left: 0.8em; padding-right: 0.8em;
                        @include set-radius(4px); 
                        @include font-sans($f3, 300);
                        display: inline;
                        color: white;
                        */
                      }

                    }
                  }

                } //end post--info

                //preview title hover effects
                &:hover {
                  // background-color: rgba($silversky,0.4); @extend %ease-slow; 
                  .post--info--title, .post--info--summary  {
                    @extend %ease-slow; 
                    background-color: rgba($dark-gray, 0.12); //color: white; 
                  }
                }
              }
              // end post-container / standard styles


              // special styles for preview images
              .post--preview-img {
                @include span-four(18, 18, 18, 18);
                background-repeat: no-repeat; 
                background-size: auto 100%; background-position: 50%;
                margin: $base*2 0;
                padding-top: $base*2; padding-bottom: $base*2;
                @extend %ease; 

                &:hover {
                  background-size: auto 105%; background-position: 50%; 
                }

                &.post-preview-img-rightalign {
                  background-position: right center;
                  &:hover {
                    background-size: auto 105%; background-position: right center; 
                  }
                }
              }

              .post-preview-short .post--info {
                  margin-top: 2rem !important; margin-bottom: 2rem !important;
                  padding-top: 0; padding-bottom: 0;

                  .post--info {
                    margin: $base 0;
                  }
                }

              //special style for no images (make larger)
              .post--preview-no-img {

                // posts with images are going to remain 18 (code under --img section), but posts with only text are expanded
                @include span-four(18, 21, 21, 21);

              }


              // slightly different style for dark bg images
              .post-preview-img-dark {

                // font color
                .post--info--title, .post--info--summary, .post--info--date, .post--info--taglist li { color: rgba(white, 0.6) !important; }

                // bg highlight
                .post--info--title, .post--info--summary, .post--info--taglist li { background-color: rgba(black, 0.2) !important; }

                &:hover {
                  .post--info--title, .post--info--summary, .post--info--taglist li { color: rgba(white, 0.8) !important; background-color: rgba(black, 0.4) !important; }
                }

                // override svg icons to be mostly transparent
                .post--category--icon {
                  background-color: rgba(black, 0.3) !important;
                  svg {fill: rgba(white, 0.6) !important;}
                }

                // darken the text bit
                .post--category--label {
                  color: rgba($light-gray,0.5) !important;
                }
              }

              // slightly different style for light bg images
              .post-preview-img-light {
                .post--category--label {color: rgba(black,0.5) !important;}
                .post--info--date { color: $gray !important; }
                .post--info--title { background-color: rgba(white,0.5)  }
                .post--info--summary { background-color: rgba(white,0.6)  }
                .post--info--taglist { li { color: $gray !important;} }
              }

              // mixed has a darker background, mixed colors, and could still be considered 'light'
              .post-preview-img-mixed {
                .post--category--label {color: rgba(black,0.8) !important;}
                .post--info--date { color: rgba(black,0.8)  !important; }
                .post--info--title { color: rgba(black,0.8) !important; background-color: rgba(white,0.5)  }
                .post--info--summary { color: rgba(black,0.8) !important; background-color: rgba(white,0.6)  }
                .post--info--taglist { li { color: rgba(black,0.8) !important;} }
              }


              //////////////////////////////////////////////// 
              // 
              // CUSTOM STYLES for POST PREVIEWS 
              // 
              ////////////////////////////////////////////////


              // Custom styles for each blog post
              .post-preview-break-the-grid {
                @include span-four(18, 18, 18, 18); 

                @include media($break-nav-thin) { padding-left: 11%;  }
                @include media($break-nav-wide) { padding-left: 11%;  }
                @include media($break-nav-full) { padding-left: 110px;  }
                
                margin: $base 0; margin-bottom: $base*2; 
                overflow: hidden; 

                .post--info {
                  
                  margin-top: $base !important;
                  margin-bottom: $base  !important;
                  @include media($break-nav-thin-atleast) { @include span-columns(18); @include shift(-5); padding-left: 3rem !important; } 
                }

                .post--preview-before, .post--preview-after {
                  @include media($break-nav-mobile) { display: none; }
                  display: inline; @extend %ease-slow;
                  color: transparent; opacity: 0.8;
                  text-shadow: 0 0 2px $light-gray;
                }

                &:hover { .post--preview-before, .post--preview-after { text-shadow: 0 0 3px $gray; @extend %ease-slow;} }
              }



            }
          }
        }

        // end Posts / Preview (index file)



        // *********************************************************
        // ARTICLE (blog post / about / tools)
        // 
        // STRUCTURE
        // 
        //  article
        //  
        //    article--head
        //      article--head--date-container
        //        article--head--date
        //
        //      article--head--title-container
        //        article--head--title
        // 
        //    article--body
        //
        //      **these feel redundant, so hiding them
        //      article--summary-container
        //        tictle--summary
        //
        //      article--tags
        //        article--tags--list

        //      article--body--video-container
        //        article--body--video


        //     article--body--title-image-container
        //         article--body--title-image
        //           article--body--title-image--img

        //     article--body--content

        //     article--comments

        // 
        // *********************************************************


        // main alignment w/ copy
        %body-align {
          @include span-four(18, 16, 16, 16);
          @include media($break-nav-mobile) {padding: 0 $base;}
          @include media($break-nav-thin-atleast) {@include shift(4);}
        }

        .article.post-std {
          // each post constitutes a row, of the following # columns, stretching across the entire area
          // margin-top: $base*2;
          // padding-top: $base*2; 
          @include span-four(18, 24, 24, 24);

          a, a:active, a:hover, a:link {
            text-decoration: underline; color: $dark-gray;
          }

          // start head matter
                 
          .article--head {

            margin-top: $base*2; 
            overflow: hidden;

            @include span-four(18, 23, 23, 23);
            @include media($break-nav-mobile) {padding: 0 $base;}
            // @include media($break-nav-thin-atleast) {@include shift(1);}

            .article--head--intro {
                @include media($break-nav-thin-atleast) {@include shift(3);}

              .article--head--category{
                .article--head--category--icon {
                  border-radius: 50%;
                  width: 40px;
                  height: 40px; 
                  margin-right: 10px;
                  float: left;
                  svg {width: 32px; height: 32px; fill: white; position: relative; top: 2px; left: 4px;}
                }

                &.article--head--category-lab {
                  .article--head--category--icon {
                    background-color: $teal;
                    svg {width: 32px; height: 32px; fill: white; position: relative; top: 2px; left: 4px;}
                  }
                }

                &.article--head--category-idea {
                  .article--head--category--icon {
                    background-color: rgba($dark-orange, 0.7);
                        svg {width: 32px; height: 32px; fill: white; position: relative; top: 4px; left: 4px;}
                  }
                }

                &.article--head--category-rant {
                  .article--head--category--icon {
                        background-color: rgba($green, 0.7);
                        svg {width: 32px; height: 32px; fill: white; position: relative; top: 4px; left: 4px;}
                  }
                }

                &.article--head--category-work {
                  .article--head--category--icon {
                        background-color: rgba($purple, 0.7);
                        svg {width: 32px; height: 32px; fill: white; position: relative; top: 4px; left: 4px;}
                  }
                }
              }

              .article--head--date-container{
                padding-top: $base;
                // @include media($break-nav-thin-atleast) {@include shift(1);}
                .article--head--date {
                  @extend %serif; color: $light-gray; display: inline-block;
                } 
              }

            }

            // posts with header images
            &.article--head-img {
              margin-top: $base*2;
              padding-top: $base*3;
              padding-bottom: $base*2;
              background-size: cover;
              background-repeat: none;

              @include media($break-nav-wide) {float: left; }
              @include media($break-nav-mobile) {width: 100%; margin-top: $base*8;}
              // @include media($break-nav-thin) {@include shift(3); @include span-columns(20);}
              // @include media($break-nav-wide-atleast) {@include shift(3); width: 100%; @include span-columns(19);}

              &.article--head-light {
                .article--head--title {
                  color: white;
                }
                .article--head--date, .article--head--subtitle {
                  color: white;
                }
              }

              &.article--head-light-bg {
                .article--head--title, .article--head--subtitle {
                  background-color: rgba($black,0.5);
                }
              }
            }

            .article--head--title-container {
              @include span-four(18, 18, 18, 18);
              @include media($break-nav-thin-atleast) {@include shift(3);}

              .article--head--title {
                @extend %style-article-title;
                margin-top: $base*2; display: inline-block;
              } 
            }
 
            .article--head--subtitle-container {
              @include span-four(18, 18, 18, 18);
              @include media($break-nav-thin-atleast) {@include shift(4);}

              .article--head--subtitle {
                @extend %style-article-subtitle; display: inline-block;
              }
            }


            .article--head--tags-container {
              display: inline-block;
              @include media($break-nav-thin-atleast) {@include shift(4);}
              @extend %body-align; @extend %serif; color: $light-gray; 
              padding-top: $base; padding-bottom: $base; 
              @extend %style-antialiased;

              .article--tags {
                .article--tags--list {  
                  li {
                    &:before {content: '#'}
                    &:not(:last-child):after{content: ',';}
                    list-style-type: none;
                    display: inline-block;
                  }

                }
              }
            }
          
            .article--head--project-link-container {
              @include span-four(18, 20, 20, 20);
              @include media($break-nav-thin-atleast) {@include shift(4);}
              @extend %body-align; @extend %serif; 

            }


          }

          // end head

          // start article body
  
          .article--body {

            overflow: hidden; // used for slider to show adjacent images

            @include span-four(18, 23, 23, 23);
            // @include media($break-nav-thin-atleast) {@include shift(1);}

            // background-color: rgba($silversky, 0.2); 
            margin-top: $base*2;
            padding-top: $base*2;
            padding-bottom: $base*2;


            // .article--summary-container {
            //   @extend %body-align; 
            //   .article--summary {}
            // }
          
            // contains project and external links
            .article--link-block {
              padding-bottom: $base*2;
            }

            .article--body--video-container {
              .article--body--video {

              }
            }

            .article--body--title-image-container {
                .article--body--title-image {
                  .article--body--title-image--img {

                  }
                }
            }



            // *********************************************************
            // ARTICLE / POST CONTENT STYLES
            // *********************************************************

            .article--body--content {
              @extend %style-p-serif;
              @extend %body-align; 

              h1 {
                @extend %style-article-title;
                @include media($break-nav-thin-atleast) {@include shift(-2);} 

              }

              .h1-display {
                @extend %display;
                font-weight: 100;
                font-size: $base*3.6;
                padding-bottom: $base/2;
                @include media($break-nav-thin-atleast) {@include shift(0);} 
              }

              .h1-display-spaced { 
                @extend .h1-display ;
                margin-bottom: $base * 2;
              }

              h2 { 
                @extend %style-article-h2;
                margin-top: $base*4; //h2 is a section separator
                // @include media($break-nav-thin-atleast) {@include shift(-1);}
                &.no-margin {margin-top: 0}
              }

              h4 {
                @extend %style-article-subtitle;
                margin-bottom: $base*2;
              }

              h4.about-quote {
                font-style: italic;
                position: relative;
                left: 4px;
              }

              .display {
                @extend %display;
              }

              p, ol, ul {
                margin-bottom: golden-ratio($base,  1);
                // padding-bottom: golden-ratio($base,  1);
                // @extend %style-antialiased;
                &.padding-bottom-0 {
                  padding-bottom: 0;
                }
              }

              a, a:active, a:link {
                color: $red;
              }
              a:hover {
                color: rgba($red,0.7);
              }
              a:visited {
                color: $color0;
              }

              em {
                @extend  %style-em;
              }

              .center {
                text-align: center;
                @include media($break-nav-thin-atleast) {@include shift(0);} 
              }

              .dropcap:first-letter {
                float: left; 
                color: $red; 
                font-size: $base*4.3; 
                line-height: 60px;  
                padding-top: 4px; padding-right: 8px; padding-left: 0px;
              }

              // callout boxes are used for info, summaries, like in the work sections
              .callout {
                @extend %style-blockquote;
                background-color: $tan;
                padding: $size-slightly-large; margin-top: $size-largish; margin-bottom: $base*2; margin-right: $base*2;
                font-size: $base;

                @include media($break-nav-mobile) {@include span-columns(18);}
                @include media($break-nav-thin-atleast) {@include shift(-1); }
                @include media($break-nav-wide-atleast) {@include shift(-3); @include span-columns(32);}

                &.callout-large {
                  font-size: $size-slightly-large; line-height: $base*2;
                }

                .callout--row {
                  @include media($break-nav-mobile) {
                    font-size: $base;
                  }
                  .title {
                    padding-right: $base; 
                    color: rgba($black, 0.6);
                    @include media($break-nav-wide-atleast) {position: absolute;}
                  }
                  .content {
                    @include media($break-nav-wide-atleast) {position: relative; left: 100px;}
                  }

                }
              }

              // royal slider options
              .slider {
                &.show-adjacent .rsOverflow {
                    overflow: visible; // shows adjacent slides
                }
                margin-bottom: $base*3;
                .rsGCaption {
                  @extend %style-figcaption;
                }
              }

              // figures are used for images
              figure {
                padding-bottom: $base*2; 
                // padding-right: $base*2;
                @include media($break-nav-wide) {float: left; }
                @include media($break-nav-mobile) {width: 100%;}
                @include media($break-nav-thin-atleast) {@include shift(-1); }
                @include media($break-nav-wide-atleast) {@include shift(-3); }
 
                &.figure-wide {
                  // margin: 0 auto;
                  width: 100%;
                  @include media($break-nav-thin-atleast) {@include span-columns(32);}
                  img {display: block; margin: 0 auto;}
                  figcaption { text-align: center; }
                } 

                &.figure-rounded {
                  img {border-radius: $base * 4}
                } 

                &.figure-circle {
                  img {border-radius: $base * 14}
                  @include media($break-nav-mobile) {width: 100%;  img { width: 40%;} }
                } 

                img {
                  display: block;
                  max-width: 100%;
                  &+br {display:none;} // textile redcloth loves adding these randomly
                }
                br {display:none;} // textile redcloth loves adding these randomly

                figcaption {
                  @extend %style-figcaption;
                }

                & p { padding: 0; margin-bottom: 0}
                &+p, &+h2 {clear: both;}
              }

              .quote-marks {
                &:before {
                  content: '“';
                }
                &:after {
                  content: '”';
                }
              }

              strong.strong-loud {
                font-size: $size-p*1.3;
                font-weight: 300; 
                color: rgba($dark-orange,0.8);
                // color: white;
                // background-color: rgba($dark-orange,0.8); 
                // padding-left: $base/2; padding-right: $base/2;

              }
              strong.strong-orange {
                color: $light-orange;
                font-weight: 300;
              }
 
              // used mostly as pull-quote. .block uses full block
              blockquote {
                @extend %style-blockquote;
                float: left; margin-top: $base; margin-bottom: $base*2; margin-right: $base*2;

                @include media($break-nav-mobile) {@include span-columns(18);}
                @include media($break-nav-thin-atleast) {@include shift(-2); @include span-columns(14);}

                p {
                  margin-top: $base; margin-bottom: $base;
                  &:before {
                    content: '“';
                  }
                  &:after {
                    content: '”';
                  }
                }

                & p { padding: 0;}
                // &+p, 
                &+h2 {clear: both;}


                &.blockquote-wide {
                  // margin: 0 auto;
                  @extend %style-blockquote-wide;
                }

                &.no-quotes {
                  p:before, p:after {
                    content: '';
                  }
                }
              }

              .prettyprinted {
                @extend %style-antialiased; 
              }

            }

            .article--comments {
              margin-top: $base*3;
            }
          }

          // end article body

        }



        // 
        // ABOUT -- special classes for About section
        // 

        .about--intro {

        }

        .timeline {
          width: 100%; margin-top: $size-largish; margin-bottom: $base*2;
          @include media($break-nav-thin-atleast) {@include shift(-3); @include span-columns(30);}


          .timeline--list {
            list-style-type: none;
            border-top: 1px solid rgba($light-green, 0.2); 

            .timeline--year {

              @include media($break-nav-mobile) {display: none;}
              // position: relative;
              @extend %serif; 
              font-size: $size-h2;
              line-height: $height-h2;
              color: $teal;
              margin-top: $base; margin-bottom: $base;
            }

            .timeline--list-item {

              // margin-left: $base*2;
              @include media($break-nav-mobile) {padding-top: 2px;}
              @include media($break-nav-thin-atleast) {margin-left: $base*6;}
              margin-top: $base;

              .timeline--preview {
                padding: $base; padding-top:0; @extend %ease; cursor: default;

                .timeline--list-item--headline {

                  .timeline--list-item--headline--client {
                    @extend %ease-fast; 
                    // font-size: $base*2.1; //replacing with _small style
                    font-size: $base*1.5;
                    @extend %sans-serif; font-weight: 300; line-height: $base*2; color: $red;
                    position: relative; //needed by expander arrow
                  }

                  span{
                    font-size: $size-smaller; @extend %sans-serif; color: $dark-gray;
                    &:nth-child(2) {padding-left: $base; }
                    &:nth-child(n+3) {
                      &:before {
                        content: ' | ';
                        padding-left: 5px; padding-right: 5px;
                      }
                    }
                  }

                  div > span {
                    &:nth-child(2) { padding-left: 0px; }
                    &:nth-child(n+2) {
                      &:before {
                        content: ' | ';
                      }
                    }
                  }

                  .timeline--list-item--headline--short {
                    font-size: $base*0.97; line-height: $base*1.9;
                  }

                }

                // only hover effect if it has an expandablejs attached
                &.expandablejs--preview:hover {
                  //#f29863; 
                  @extend %ease-fast; 
                  cursor: pointer;
                  @include media($break-nav-thin-atleast) {
                    .timeline--list-item--headline--client { background-color: $light-light-blue; padding-left: $base; padding-right: $base }
                    padding-left: $base*1.25;
                  }
                }

              }

              .timeline--full {
                padding: $base; 
                margin-left: $base;
                padding-left: $base*1.5;
                border-left: 3px solid rgba($light-light-blue,0.25); 
                font-size: $base*0.97; 
              }

            }

          }



        }




.legal {
   @extend %serif;
   text-align: center;
   font-size: $size-footer;
   padding: $base;
   color: $light-gray; 
   a:hover { text-decoration: underline; }
}







// *********************************************************
// SETTINGS & DEFAULTS
// *********************************************************

    

// sticky divs that follow the screen / browser window but stay within contextual container

.sticky-item {
  position: relative;

  .sticky-content {
    position: absolute;
    top: 0;
  }
}


// controls expandable sections
.expandablejs--preview {
  position: relative;

  .expandablejs-expander {
    position: absolute; top: 10px; left: -3px;
    @include media($break-nav-thin-atleast) {
      left: -10px;
    }

  }
}


//something I used for coloring, but decided to keep
.color-palette {
  position: absolute;
  z-index: 100000;
  width: 100%;
  height: auto;

  #c1{background-color: $color1;}
  #c2{background-color: $color2;}
  #c3{background-color: $color3;}
  #c4{background-color: $color4;}
  #c5{background-color: $color5;}
  #a1{background-color: $color6;}
  #a2{background-color: $color7;}
  #a3{background-color: $color8;}
  #a4{background-color: $color9;}
  #a5{background-color: $color0;}

  div {
    height: 5px;
    width: 10%;
    float: left;
    z-index: 2000;
    // background-color: $color1;
  }

  &.color-top {
    top: 0px;
    left: 0px;
  }
  &.color-bot {
    // bottom: 0px;
  }
}








// *********************************************************
// REUSABLES
// *********************************************************

%ease{@include ease(230ms);}
%ease-fast{@include ease(180ms);}
%ease-slow{@include ease(320ms);}

// Universal icons used through prototype
// .icon {
//    background-color: transparent; @extend %ease;
//    //fill: $pw-light; cursor: pointer;

//    &:hover {
//       fill: white;
//    }

//    // menu icon
//    .menu {
//       width: 32px; height: 32px;
//    }
// }



.ext__padding-right {
  padding-right: $base;
}



#layout-test .row {
   // @include container

   .content {
      border: 1px solid #333;
      margin: 10px auto;
   }
}
#b1 {
   @include span-columns(12);
}

#b2 {
   @include span-columns(12);
}

#b3 {
   @include span-columns(8);
}

#b4 {
   @include span-columns(8);
}

#b5 {
   @include span-columns(8);
}

#b6 {
   @include span-columns(18);
   @include shift(4);
}

#b7 {
   @include span-columns(16);
   @include shift(8)
}


#b8 {
   @include span-columns(16);
   margin: 12px;
   @include shift(-3);
}






@import 'syntax.scss';

