
$sidebar-width-max: 200px;
$sidebar-width: $sidebar-width-max;

$sidebar-color-link: $color-main;
$sidebar-color-hover: $color-active;

._sidebar {
  max-width: $sidebar-width-max;
  width: $sidebar-width;
  overflow-y: scroll;
  padding-bottom: $base*2;

  a {
    font-weight: 500;
    font-size: $base;
    line-height: $base*1.5;
    // padding-bottom:$base/8;
    margin-bottom: $base/2;
    margin-right: $base*2;
    display: inline-block;
    color: $sidebar-color-link;
    border-color: $sidebar-color-link;

    &:hover {
      color: $sidebar-color-hover;
      border-color: $sidebar-color-hover
    }
  }
  
  @include screen-xs { 
    margin: 0;
  }

  
  @include screen-sm { 
    &.--pinned {
      height: 100vh;
      // padding-top: $base * 2;
      padding-bottom: $base * 2;

      position: sticky;
      top: 0;
    }

    &.--divider {
      border-right: $border-line solid $color-ui;
      // padding-right: $base;
      // margin-right: $base;
    }
  }
}

._sidebar-section_title {
  margin-top: $base;
  // @extend h5;
  // @extend %font-bold;
  @extend %font-small;
  padding-bottom: $base/4;
  margin-bottom: $base/4;
  // margin-right: $base*2;
  border-bottom: $border-line solid $color-ui;
}

