

// color swatches used mostly for styleguides

._swatch {

}

  ._swatch-color {
    // color block
    height: 120px;
    width: 100%;
    border-radius: $radius;
    margin-bottom: $base;
  }

  ._swatch-description {
    @extend %font-small;
  }