
---

import Layout from '@layouts/Layout.astro';

import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';

---



<Layout>
  <div class="container mx-auto my-12 text-center">
    <h1 class="text-4xl font-sans font-bold font-display py-8">page not found :(</h1>
    <a href="/" class="Btn-solid">go home</a>
  </div>
</Layout>