---
const user = Astro.locals.user;

console.log('user:', user);
if (!user) {
  Astro.redirect('/login');
}
---

<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome, {user?.username}!</h1>
  <p>You're now logged in!</p>
  <a href="/logout">Logout</a>
</body>
</html>