
// 
//    Button Groups
//    buttons groups are a bit more "mature" than buttons,
//    as it may rely on elements from buttons 
// 

$btnGrp-radius-pill: $radius-lg;

._buttonGroup {
  // margin-top: $base;
  position: relative;
  display: inline-block;
  clear: both;

  ._button {
    margin: 0 !important;
    float: left;

    &:not(:first-child):not(:last-child) {
      border-radius: 0 !important;
    }
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &.--pill {
    ._button {
      
      &:not(:first-child):not(:last-child) {
        border-radius: 0 !important;
      }
      &:first-child {
        border-top-left-radius: $btnGrp-radius-pill;
        border-bottom-left-radius: $btnGrp-radius-pill;
      }
      &:last-child {
        border-top-right-radius: $btnGrp-radius-pill;
        border-bottom-right-radius: $btnGrp-radius-pill;
      }
    }
  }

  &.--outline {
    ._button {
      @extend ._button-outline;

      &:not(:last-child) {
        border-right-width: 0;
        &:hover {
          // border-right-color: $button-outline-color-border-hover;
          &+._button {
          border-left-color: $button-outline-color-border-hover;
          }
        }
      }
    }
  }


}
