/*Variables*/

$text-color: #393536;
$regular-weight: 300;
$bold: 600;
$heading-bold: 800;
$border-height: 6px;
$link-color: #b93c48;
$alternate-color: #1E6386;

/*Global mixins*/

@mixin box-shadow {
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .1);
}
@mixin inline-h2 {
	text-transform: none;
	letter-spacing: normal;
	margin-bottom: 12px;
	margin-top: 6px;
	line-height: 1.625em;
	font-size: 1.1em;
}
@mixin nm-logo {
	width: 150px;
	height: 149px;
	background: url(/images/nm-logo.png) no-repeat;
	-webkit-background-size: 150px 149px;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/*Structure and type*/

body {
	background-color: #F1F1F1;
	/*background: url(/images/bg.png) repeat;*/
	font: normal 112.5% 'kepler-std-1', Georgia, serif;  /*18 px default*/
	color: $text-color;
	font-weight: $regular-weight;
	line-height: 1.625em;
	border-top: $text-color $border-height solid;
}
b {
	font-weight: $bold;
}
a, a:visited {
	color: $link-color;
	text-decoration: none;
}
a:hover {
	color: $alternate-color;
}
h1, h2, h3, h4, h5, nav {
	font: normal 100% 'proxima-nova-1', Helvetica, sans-serif;
	font-weight: $heading-bold;
	text-transform: uppercase;
	letter-spacing: .125em;
}
blockquote {
	padding-left: 30px;
	border-left: 1px dotted $alternate-color;
	color: $alternate-color;
	margin-bottom: 30px;
	font-style: italic;
}
.highlight {
	background: rgba(255,255,255,0.5);
}
pre {
	@include box-shadow;
	padding: 20px 25px;
	font-size: 0.722222222222222em;
	line-height: 1.8em;
	margin-bottom: 40px;
}
pre, code, kbd, samp { 
	font-family: 'Monaco', 'andale mono', 'lucida console', monospace;
}
code.inline, code.default-size {
	font-size: 0.777777777777778em;
	/*font-size: 12px;*/
	background: rgba(255,255,255,0.5);
	border-bottom: 1px solid #CECECE;
	padding: 2px;
	@include box-shadow;
}
h1 {
	margin-bottom: 40px;
	line-height: 1.15em;
	font-size: 1.75em; /*28 / 16*/
}
p, ul, ol {
	margin-bottom: 30px;
}
i, em {
	font-style: italic;
}

#container {
	width: 94.2372881355932%;
	margin: 0 auto; /*1112 / 1180*/
}
#logo {	
	width: 172px; 
	float: left;	
	a {
		@include nm-logo;		
		position: fixed;
		margin-top: 24px;
	}
}

#main-column {
	width: 80.508474576271186%; /*950 / 1180*/
	float: left;
}
header {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 20px;
	h1 {		
		display: none;
	}
	svg {
		margin-bottom: 70px;
	}
}

#sidebar {
	width: 36.842105263157895%; /*350 / 950*/
	float: left;
	margin-right: 5.263157894736842%; /*50 / 950 */
	#links, #work {
		border-top: $text-color $border-height solid;
		padding-top: 40px;
		padding-bottom: 30px;
	}
	#work {
	  padding-top: 0;
	  border-top: none;
	  img.portrait {
  	  max-width: 97%;
  	  border: $text-color $border-height solid;
  	  margin-bottom: 40px;
  	}
	}
}
body.post #sidebar, body.about #sidebar {
	margin-left: 5.263157894736842%; /*50 / 950 */
	margin-right: 0; /*50 / 950 */
}
#blog {
	width: 57.894736842105263%; /*550 / 950 */
	float: left;	
}
.clear {
	clear: both;
}
nav#elsewhere {
	font-size: 0.666666666666667em;
	li {
		float: left;
		margin-bottom: 20px;
		width: 25%;
	}
}

footer {
	margin-left: 172px;
	border-top: $text-color $border-height solid;
	margin-top: 60px;
	padding-top: 40px;
	padding-bottom: 30px;
	width: 80.5085%;
	.logo { 
		float: left;
		width: 26%;
	}	
	nav {
		float: left;
		width: 16.1053%;
	}
	#fine-print {
		width: 57.8947%;
		float: left;
		font-size: 0.888888888888889em;
		line-height: 1.45em;
	}
}

/*Homepage*/

.intro {
	font-size: 2em; /* 29px / 18px */
	font-family:  'proxima-nova-1', Helvetica, sans-serif;
	line-height: 1.35em;
	font-weight: $heading-bold;
	margin-bottom: 3px;
	margin-bottom: 12px;
	b {
		font-weight: $heading-bold;
	}
}


/*Homepage - Blog posts*/
@mixin rich-content {
	margin-bottom: 25px;
	@include box-shadow;
	max-width: 100%;
}

.post-home {
	padding-top: 40px;
	padding-bottom: 30px;
	border-top: $text-color $border-height solid;	
	img, iframe {
		@include rich-content;
	}
}
.meta-data {
	font-style: italic;
	margin-bottom: 20px;
	span {
		margin-right: 20px;
	}
}
.external.hover {
	color: $alternate-color;
	text-decoration: underline;
}

/*Post pages*/
body.post article {
	padding-top: 40px;
	padding-bottom: 30px;
	border-top: $text-color $border-height solid;
	img, iframe {
		@include rich-content;
	}
	h2 {
		@include inline-h2;
	}
	.post-intro {
		font-size: 1.4em;
		line-height: 1.4em;
	}
}
.photo-ending {
	border-top: $text-color $border-height solid;
	margin-top: 30px;
	padding-top: 40px;
}

/*about*/

body.about {
	#work h1 {
		display: none;
	}
	section {
		border-top: $text-color $border-height solid;
		padding-top: 40px;
		margin-bottom: 60px;
		h2 {
			@include inline-h2;
			&.last {
				margin-bottom: 30px;
			}
		}
	}
}

#awards, #experience, #education, #other, #post-body {
	h2 {
		margin-bottom: 16px;
		font-family: 'kepler-std-1', Georgia, serif;
		font-weight: $regular-weight;
		padding-top: 10px;
	}
}
#post-body h2 {
	margin-bottom: 12px;
}
#made {
	h2 {
		font-family: 'kepler-std-1', Georgia, serif;
		font-weight: $regular-weight
	}
}


.project {
	/*font-family: 'kepler-std-1', Georgia, serif;  */
	font-weight: $regular-weight;
}


/* comments */

#disqus_thread {
	margin-top: 60px;
	overflow: hidden;
	padding-top: 40px;
	border-top: $text-color $border-height solid;
	iframe {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
.dsq-textarea-reply {
	margin-left: 0 !important;
}
#dsq-sort-by, #dsq-pagination, .dsq-trackback-url, .dsq-brlink, #dsq-global-toolbar, #dsq-account-dropdown {
	display: none !important;
}
.dsq-textarea-wrapper iframe {
	margin-left: 0 !important;
}
/*.dsq-comment-body {
	padding-left: 0 !important;
}*/
#dsq-reply {
	margin-top: 0px !important;
	margin-bottom: 20px !important;
}
#dsq-content h3 {
	margin-bottom: 20px !important;
	font-size: 0.666666666666667em;
}