
// launchpad for all styles

@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'settings';
@import 'syntax2';    // this is for Pygments code highlighting; won't work locally bc Python not installed


// general responsive sizing

@include media($small) {
}

@include media($medium) {
}


@include media($large) {
}

// site layout


#container {
  @include outer-container;

  #sidebar {
      position:relative;


    // @include media($tiny) {
    //   //span all
    //   @include span-columns(12);
    //   background-color: pink;
    // }

    @include media($small) {
      //span all
      @include span-columns(12);
      background-color: brown;
    }

    @include media($medium) {

      .content {
        height: 100%;
        position: fixed;
        width: $gutter*2+$column;
        background-color:green;
      }
    }

    @include media($large) {

      .content {
        height: 100%;

        position: fixed;
        width: $gutter+$column*3;
        background-color:blue;
      }
    }


    // @include media($infinite) {

    //   .content {
    //     height: 100%;

    //     position: fixed;
    //     width: $gutter*2+$column*3;
    //     background-color:red;
    //   }
    // }

    

    


  }





  #main {
    @include span-columns(12);

    @include media($large) {
      @include span-columns(9);
      @include shift(3)
    }


    @include media($medium) {
      @include span-columns(9);
      @include shift (3)
    }
  }


  .content {
    display: block;

    li {
      background-color: white;
      height: 180px;
      margin: 10px;
    }

    @include clearfix;
  }

}




// for sticky contact footer to work
html, body, #container {
    height: 100%;
}

.sticky-wrapper {
    min-height: 100%;
    margin: 0 auto -4em;
}

footer, .push {
    height: 4em;
}




// example
.fifth {
  @include outer-container;
  background-color: #d5eefb;

  ul {margin: 0}

  li {
    display: block;
    height: 40px;
    background-color: #aadbf5;
    margin-bottom: 10px;

    @include media($small) {
      background-color: brown;
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($medium) {
      background-color: blue;
      @include span-columns(4);
      @include omega(2n);
    }

    @include media($large) {
      background-color: red;
      @include span-columns(3);
      @include omega(4n);
    }
  }




}


// @media print {
//   * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
//   -ms-filter: none !important; } 
//   a, a:visited { color: #444 !important; text-decoration: underline; }
//   a[href]:after { content: " (" attr(href) ")"; }
//   abbr[title]:after { content: " (" attr(title) ")"; }
//   .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
//   pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
//   thead { display: table-header-group; }
//   tr, img { page-break-inside: avoid; }
//   @page { margin: 0.5cm; }
//   p, h2, h3 { orphans: 3; widows: 3; }
//   h2, h3{ page-break-after: avoid; }
// }
