<!-- <form class="max-w-md mx-auto p-4 bg-white rounded-lg">
  <div class="mb-4">
    <label
      for="name"
      class="block text-center mb-2 | text-red text-3xl font-cursive font-bold pb-2"
    >
      Save the date 
    </label>

    <input
      id="name"
      required
      type="text"
      name="name"
      placeholder="First and Last name"
      class="shadow appearance-none border-2 border-teal rounded w-full py-2 px-3 font-cursive text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4"
    />
    <input
      id="email"
      required
      type="email"
      name="email"
      placeholder="Email"
      class="shadow appearance-none border-2 border-teal rounded w-full py-2 px-3 font-cursive text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4"
    />
    
  
    <div class="mb-4 font-cursive">
      <label class="block  text-blue-dark text-lg font-bold mt-4 mb-2">
        Do you think you'll be able to join us?
      </label>
      <div class="mt-2">
        <div class="flex items-center mb-2 ">
          <input id="attendance-1" type="radio" value="I'll be there!" name="attendance" class="w-4 h-4 cursor-pointer" required>
          <label for="attendance-1" class="ms-2 text-md text-blue-dark cursor-pointer">I'll be there!</label>
        </div>
        <div class="flex items-center mb-2 cursor-pointer">
          <input id="attendance-2" type="radio" value="Most likely!" name="attendance" class="w-4 h-4 cursor-pointer" required>
          <label for="attendance-2" class="ms-2 text-md text-blue-dark cursor-pointer">Most likely!</label>
        </div>
        <div class="flex items-center mb-2 cursor-pointer">
          <input id="attendance-3" type="radio" value="Not sure yet" name="attendance" class="w-4 h-4 cursor-pointer" required>
          <label for="attendance-3" class="ms-2 text-md text-blue-dark cursor-pointer">Not sure yet</label>
        </div>
        <div class="flex items-center cursor-pointer">
          <input id="attendance-4" type="radio" value="Probably can't" name="attendance" class="w-4 h-4 cursor-pointer" required>
          <label for="attendance-4" class="ms-2 text-md text-blue-dark cursor-pointer">Probably can't</label>
        </div>
      </div>
    </div>

    <div class="mt-6 mb-4 | ">
      <textarea
        id="note"
        name="note"
        rows="3"
        placeholder="Add a note!"
        class="font-cursive shadow appearance-none border-2 border-teal rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      ></textarea>
    </div>
  </div>
  <div class="text-center">
    <button
      class="font-cursive text-red text-2xl font-bold mt-2 py-2 px-8 rounded-full shadow border-2 border-teal bg-teal/5 hover:bg-teal/20 ease-in-out duration-300 focus:outline-none focus:shadow-outline"
    >
       Send My Invitation
    </button>
    <div class="text-md font-serif italic text-blue-royal/50 mt-4">This is for wedding guests only; <br>thank you for not sharing this website!</div>
    
  </div>
</form>

<div
  id="thanksMessage"
  class="max-w-md mx-auto mt-4 p-4 bg-mint text-white rounded-lg hidden"
>
  <p>Thank you! Jess and I are still putting together our official invitations — we'll be in touch!</p>
</div>

<script>
  import { actions, isInputError } from "astro:actions";
  import confetti from 'canvas-confetti';

  const form = document.querySelector("form");
  const thanksMessage = document.getElementById("thanksMessage");

  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const { error } = await actions.emailSignup(formData);
    if (isInputError(error)) {
      // Handle input errors.
      if (error.fields.email) {
        const message = error.fields.email.join(", ");
        // You might want to display this message to the user
        console.error(message);
      }
      if (error.fields.name) {
        const message = error.fields.name.join(", ");
        // You might want to display this message to the user
        console.error(message);
      }
    }
    if (!error) {
      thanksMessage?.classList.remove("hidden");
      confetti({
        particleCount: 100,
        spread: 70,
        origin: { y: 0.6 }
      });
      // Reset form
      form.reset();
    }
  });
</script> -->
