<form>
  <label for="email">E-mail</label>
  <input id="email" required type="email" name="email" />
  <label>
    <input required type="checkbox" name="terms" />
    I agree to the terms of service
  </label>
  <button>Sign up</button>
</form>

<div id="thanksMessage" style="display: none;">
  <p>Thank you for signing up to our newsletter!</p>
</div>

<script>
  import { actions, isInputError } from "astro:actions";

  const form = document.querySelector("form");
  const thanksMessage = document.getElementById("thanksMessage");

  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const { error } = await actions.newsletter(formData);
    if (isInputError(error)) {
      // Handle input errors.
      if (error.fields.email) {
        const message = error.fields.email.join(", ");
        // You might want to display this message to the user
        console.error(message);
      }
    }
    if (!error) {
      form.style.display = "none";
      thanksMessage.style.display = "block";
    }
  });
</script>
