---
import "@fontsource/shrikhand";
import "@fontsource/permanent-marker";
import "@fontsource-variable/nunito";
import "@fontsource/frank-ruhl-libre";


import Layout from "@layouts/Layout.astro";
import Notion from "@components/sveltekit-notion/src/Notion.svelte";
import EmailSignup from "@components/EmailSignup.astro";

const { url = 'https://coverflow.deno.dev/sicamous' } = Astro.props;
let response = await fetch(url);

const notionPageBlocks = await response.json();
// console.log("sicamous blocks:::", notionPageBlocks);

const currentUrl = Astro.url.hostname;
const isJanFirst = currentUrl.includes('janandjess.com');
const names = isJanFirst ? 'Jan and Jess' : 'Jess and Jan';

---

<div class="Sicamous | container mx-auto pt-24 pb-24 px-4 sm:px-2">
  
  <div class="items-center">
    <div class="logo | flex flex-col items-center block">
      <img src="/jnj.png" alt="Sicamous" class="w-[10rem]" />
    </div>
    <div class="in | font-cursive flex flex-col items-center block mt-8">
      <div class="text-coral text-2xl text-center">{names} <br>are getting married in</div>
    </div>
    <div class="sicamous | flex flex-col items-center block | -mt-2">
      <img src="/sicasica.png" alt="Sicamous" class="w-[32rem] mt-8 object-contain"  />
    </div>
    <div class="in | font-cursive flex flex-col items-center block | mt-8">
      <div class="text-blue text-4xl">September 6, 2025</div>
      <div class="font-cursive text-coral text-2xl | mt-2">
        Sicamous, British Columbia
      </div>
    </div>

    <div class="signup | mt-14">
      <EmailSignup/>
    </div>

    <div class="notion-wrapper | mx-auto md:px-4 ">
      <Notion blocks={notionPageBlocks} classes={"mt-10 px-4 py-12 | max-w-3xl mx-auto shadow-md shadow-teal/20 bg-teal/5 border-2 border-teal rounded-md"} client:only="svelte" />
    </div>

    <div class="text-coral text-4xl mt-24 text-center font-cursive">
      stay awesome
    </div>
  </div>
</div>