@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|Open+Sans:300,400);
/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
kuler: Lifedots 1
*/
/*
kuler: Norse
*/
@font-face {
  font-family: Batch;
  src: url("/assets/fonts/batch.eot");
  src: url("/assets/fonts/batch.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/batch.woff") format("woff"), url("/assets/fonts/batch.ttf") format("truetype"), url("/assets/fonts/batch.svg#batchregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 149, ../sass/_settings.scss */
.batch {
  font-family: "Batch";
  /*or whatever you've decalred your font name as*/
  font-size: 16px;
  line-height: 1;
  display: inline-block;
}

/* line 155, ../sass/_settings.scss */
.batch:before {
  content: attr(data-icon);
}

/* line 159, ../sass/_settings.scss */
.batch--tiny {
  font-size: 9px;
}

/* line 160, ../sass/_settings.scss */
.batch--large {
  font-size: 32px;
}

/* line 161, ../sass/_settings.scss */
.batch--huge {
  font-size: 64px;
}

/* line 162, ../sass/_settings.scss */
.batch--natural {
  font-size: inherit;
}

/*  HTML5 ✰ Boilerplate  */
/* line 213, ../sass/_settings.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 223, ../sass/_settings.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 227, ../sass/_settings.scss */
blockquote, q {
  quotes: none;
}

/* line 229, ../sass/_settings.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 230, ../sass/_settings.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 231, ../sass/_settings.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 232, ../sass/_settings.scss */
del {
  text-decoration: line-through;
}

/* line 233, ../sass/_settings.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 234, ../sass/_settings.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 235, ../sass/_settings.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 236, ../sass/_settings.scss */
input, select {
  vertical-align: middle;
}

/* line 239, ../sass/_settings.scss */
body {
  font: 13px sans-serif;
  *font-size: small;
}

/* line 240, ../sass/_settings.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 241, ../sass/_settings.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 243, ../sass/_settings.scss */
html {
  overflow-y: scroll;
}

/* line 244, ../sass/_settings.scss */
a:hover, a:active {
  outline: none;
}

/* line 247, ../sass/_settings.scss */
ul, ol {
  margin-left: 0em;
}

/* line 248, ../sass/_settings.scss */
ul {
  list-style-type: none;
}

/* line 249, ../sass/_settings.scss */
ol {
  list-style-type: decimal;
}

/* line 251, ../sass/_settings.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 252, ../sass/_settings.scss */
small {
  font-size: 85%;
}

/* line 253, ../sass/_settings.scss */
strong, th {
  font-weight: bold;
}

/* line 254, ../sass/_settings.scss */
td {
  vertical-align: top;
}

/* line 256, ../sass/_settings.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 257, ../sass/_settings.scss */
sup {
  top: -0.5em;
}

/* line 258, ../sass/_settings.scss */
sub {
  bottom: -0.25em;
}

/* line 260, ../sass/_settings.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 261, ../sass/_settings.scss */
textarea {
  overflow: auto;
}

/* line 262, ../sass/_settings.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 263, ../sass/_settings.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 264, ../sass/_settings.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 265, ../sass/_settings.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 266, ../sass/_settings.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 267, ../sass/_settings.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 268, ../sass/_settings.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 270, ../sass/_settings.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 271, ../sass/_settings.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 273, ../sass/_settings.scss */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 274, ../sass/_settings.scss */
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 275, ../sass/_settings.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* line 277, ../sass/_settings.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 278, ../sass/_settings.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 280, ../sass/_settings.scss */
body, select, input, textarea {
  color: #444;
}

/* line 282, ../sass/_settings.scss */
a, a:active, a:visited {
  color: #972020;
}

/* line 283, ../sass/_settings.scss */
a:hover {
  color: #aa0000;
}

/* line 285, ../sass/_settings.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 286, ../sass/_settings.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 287, ../sass/_settings.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 289, ../sass/_settings.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 290, ../sass/_settings.scss */
.invisible {
  visibility: hidden;
}

/* line 291, ../sass/_settings.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 292, ../sass/_settings.scss */
.clearfix:after {
  clear: both;
}

/* line 293, ../sass/_settings.scss */
.clearfix {
  zoom: 1;
}

/* line 4, ../sass/_elements.scss */
a, a:active, a:visited {
  color: #333333;
  text-decoration: underline;
}

/* line 5, ../sass/_elements.scss */
a:hover {
  color: #777777;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}

/* line 7, ../sass/_elements.scss */
section.post:hover {
  background-color: #fffbdb;
}

/* line 8, ../sass/_elements.scss */
#main a, #about a {
  text-decoration: none;
}

/* line 10, ../sass/_elements.scss */
a.bttn:hover, .bttn:active, .bttn.clicked {
  background-color: #cccccc;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}

/* line 17, ../sass/_elements.scss */
a.bttn {
  color: #fff;
  overflow: hidden;
  display: block;
  cursor: pointer;
  padding: 1em;
  background-color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14.15773px;
  line-height: auto;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  margin-bottom: 0.5em;
  /*round corners for medium and up*/
}
@media screen and (min-width: 470px) {
  /* line 17, ../sass/_elements.scss */
  a.bttn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
}

/* line 31, ../sass/_elements.scss */
.line {
  border: 0;
  border-bottom: 1px dashed whitesmoke;
  background: #999999;
  margin-top: 6px;
  margin-bottom: 6px;
}

/* line 38, ../sass/_elements.scss */
blockquote {
  margin: 1em;
  padding: 4px 1em 1em 2em;
  background-color: #fffbdb;
  border-left: 6px solid #acbfcc;
  font-family: 'Georgia', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15.41832px;
  line-height: auto;
  font-style: italic;
}

/* line 42, ../sass/_elements.scss */
#color-palette {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}
/* line 49, ../sass/_elements.scss */
#color-palette #c1 {
  background-color: #9c001a;
}
/* line 50, ../sass/_elements.scss */
#color-palette #c2 {
  background-color: #fffbdb;
}
/* line 51, ../sass/_elements.scss */
#color-palette #c3 {
  background-color: #acbfcc;
}
/* line 52, ../sass/_elements.scss */
#color-palette #c4 {
  background-color: #77838c;
}
/* line 53, ../sass/_elements.scss */
#color-palette #c5 {
  background-color: #41484c;
}
/* line 54, ../sass/_elements.scss */
#color-palette #a1 {
  background-color: #2a3140;
}
/* line 55, ../sass/_elements.scss */
#color-palette #a2 {
  background-color: #f2d399;
}
/* line 56, ../sass/_elements.scss */
#color-palette #a3 {
  background-color: #f29863;
}
/* line 57, ../sass/_elements.scss */
#color-palette #a4 {
  background-color: #d95f43;
}
/* line 58, ../sass/_elements.scss */
#color-palette #a5 {
  background-color: #a63737;
}
/* line 60, ../sass/_elements.scss */
#color-palette div {
  height: 5px;
  width: 10%;
  float: left;
  z-index: 2000;
}

/* line 72, ../sass/_elements.scss */
html, body, #container, img {
  height: 100%;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}

/* line 77, ../sass/_elements.scss */
.sticky-wrapper {
  min-height: 100%;
}
@media screen and (min-width: 470px) {
  /* line 77, ../sass/_elements.scss */
  .sticky-wrapper {
    margin: 0 auto -14em;
  }
}
@media screen and (min-width: 840px) {
  /* line 77, ../sass/_elements.scss */
  .sticky-wrapper {
    margin: 0 auto -7em;
  }
}

@media screen and (min-width: 470px) {
  /* line 83, ../sass/_elements.scss */
  footer, .push {
    height: 14em;
  }
}
@media screen and (min-width: 840px) {
  /* line 83, ../sass/_elements.scss */
  footer, .push {
    height: 7em;
  }
}

/* line 2, ../sass/_pastie.sass */
.codehilite .hll {
  background-color: #ffffcc;
}
/* line 4, ../sass/_pastie.sass */
.codehilite .c {
  color: #888888;
}
/* line 6, ../sass/_pastie.sass */
.codehilite .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 9, ../sass/_pastie.sass */
.codehilite .k {
  color: #008800;
  font-weight: bold;
}
/* line 12, ../sass/_pastie.sass */
.codehilite .cm {
  color: #888888;
}
/* line 14, ../sass/_pastie.sass */
.codehilite .cp {
  color: #cc0000;
  font-weight: bold;
}
/* line 17, ../sass/_pastie.sass */
.codehilite .c1 {
  color: #888888;
}
/* line 19, ../sass/_pastie.sass */
.codehilite .cs {
  color: #cc0000;
  font-weight: bold;
  background-color: #fff0f0;
}
/* line 23, ../sass/_pastie.sass */
.codehilite .gd {
  color: black;
  background-color: #ffdddd;
}
/* line 26, ../sass/_pastie.sass */
.codehilite .ge {
  font-style: italic;
}
/* line 28, ../sass/_pastie.sass */
.codehilite .gr {
  color: #aa0000;
}
/* line 30, ../sass/_pastie.sass */
.codehilite .gh {
  color: #303030;
}
/* line 32, ../sass/_pastie.sass */
.codehilite .gi {
  color: black;
  background-color: #ddffdd;
}
/* line 35, ../sass/_pastie.sass */
.codehilite .go {
  color: #888888;
}
/* line 37, ../sass/_pastie.sass */
.codehilite .gp {
  color: #555555;
}
/* line 39, ../sass/_pastie.sass */
.codehilite .gs {
  font-weight: bold;
}
/* line 41, ../sass/_pastie.sass */
.codehilite .gu {
  color: #606060;
}
/* line 43, ../sass/_pastie.sass */
.codehilite .gt {
  color: #aa0000;
}
/* line 45, ../sass/_pastie.sass */
.codehilite .kc, .codehilite .kd, .codehilite .kn {
  color: #008800;
  font-weight: bold;
}
/* line 48, ../sass/_pastie.sass */
.codehilite .kp {
  color: #008800;
}
/* line 50, ../sass/_pastie.sass */
.codehilite .kr {
  color: #008800;
  font-weight: bold;
}
/* line 53, ../sass/_pastie.sass */
.codehilite .kt {
  color: #888888;
  font-weight: bold;
}
/* line 56, ../sass/_pastie.sass */
.codehilite .m {
  color: #0000dd;
  font-weight: bold;
}
/* line 59, ../sass/_pastie.sass */
.codehilite .s {
  color: #dd2200;
  background-color: #fff0f0;
}
/* line 62, ../sass/_pastie.sass */
.codehilite .na {
  color: #336699;
}
/* line 64, ../sass/_pastie.sass */
.codehilite .nb {
  color: #003388;
}
/* line 66, ../sass/_pastie.sass */
.codehilite .nc {
  color: #bb0066;
  font-weight: bold;
}
/* line 69, ../sass/_pastie.sass */
.codehilite .no {
  color: #003366;
  font-weight: bold;
}
/* line 72, ../sass/_pastie.sass */
.codehilite .nd {
  color: #555555;
}
/* line 74, ../sass/_pastie.sass */
.codehilite .ne {
  color: #bb0066;
  font-weight: bold;
}
/* line 77, ../sass/_pastie.sass */
.codehilite .nf {
  color: #0066bb;
  font-weight: bold;
}
/* line 80, ../sass/_pastie.sass */
.codehilite .nl {
  color: #336699;
  font-style: italic;
}
/* line 83, ../sass/_pastie.sass */
.codehilite .nn {
  color: #bb0066;
  font-weight: bold;
}
/* line 86, ../sass/_pastie.sass */
.codehilite .py {
  color: #336699;
  font-weight: bold;
}
/* line 89, ../sass/_pastie.sass */
.codehilite .nt {
  color: #bb0066;
  font-weight: bold;
}
/* line 92, ../sass/_pastie.sass */
.codehilite .nv {
  color: #336699;
}
/* line 94, ../sass/_pastie.sass */
.codehilite .ow {
  color: #008800;
}
/* line 96, ../sass/_pastie.sass */
.codehilite .w {
  color: #bbbbbb;
}
/* line 98, ../sass/_pastie.sass */
.codehilite .mf, .codehilite .mh, .codehilite .mi, .codehilite .mo {
  color: #0000dd;
  font-weight: bold;
}
/* line 101, ../sass/_pastie.sass */
.codehilite .sb, .codehilite .sc, .codehilite .sd, .codehilite .s2 {
  color: #dd2200;
  background-color: #fff0f0;
}
/* line 104, ../sass/_pastie.sass */
.codehilite .se {
  color: #0044dd;
  background-color: #fff0f0;
}
/* line 107, ../sass/_pastie.sass */
.codehilite .sh {
  color: #dd2200;
  background-color: #fff0f0;
}
/* line 110, ../sass/_pastie.sass */
.codehilite .si {
  color: #3333bb;
  background-color: #fff0f0;
}
/* line 113, ../sass/_pastie.sass */
.codehilite .sx {
  color: #22bb22;
  background-color: honeydew;
}
/* line 116, ../sass/_pastie.sass */
.codehilite .sr {
  color: #008800;
  background-color: #fff0ff;
}
/* line 119, ../sass/_pastie.sass */
.codehilite .s1 {
  color: #dd2200;
  background-color: #fff0f0;
}
/* line 122, ../sass/_pastie.sass */
.codehilite .ss {
  color: #aa6600;
  background-color: #fff0f0;
}
/* line 125, ../sass/_pastie.sass */
.codehilite .bp {
  color: #003388;
}
/* line 127, ../sass/_pastie.sass */
.codehilite .vc {
  color: #336699;
}
/* line 129, ../sass/_pastie.sass */
.codehilite .vg {
  color: #dd7700;
}
/* line 131, ../sass/_pastie.sass */
.codehilite .vi {
  color: #3333bb;
}
/* line 133, ../sass/_pastie.sass */
.codehilite .il {
  color: #0000dd;
  font-weight: bold;
}

/* Comment */
/* Error */
/* Keyword */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
/* line 16, ../sass/base.scss */
body {
  *zoom: 1;
  max-width: 996px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
body:before, body:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
body:after {
  clear: both;
}

/* line 22, ../sass/base.scss */
#container {
  width: 100%;
}
/* line 26, ../sass/base.scss */
#container #sidebar #test {
  width: 100%;
  height: 40px;
  background-color: chartreuse;
}
/* line 27, ../sass/base.scss */
#container #sidebar #logo {
  text-align: center;
  font-family: 'Georgia', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10.89056px;
  line-height: auto;
}
/* line 31, ../sass/base.scss */
#container #sidebar #logo #logo-image {
  margin-top: 3em;
  width: 88%;
  max-width: 170px;
  height: auto;
}

@media screen and (max-width: 470px) {
  /* line 48, ../sass/base.scss */
  #container {
    padding: 0;
  }

  /* line 50, ../sass/base.scss */
  .legal {
    display: block;
    padding-bottom: 4em;
    font-family: 'Georgia', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10.89056px;
    line-height: auto;
    text-align: center;
  }
}
@media screen and (min-width: 470px) {
  /* line 61, ../sass/base.scss */
  #container {
    padding: 0 1em 0 1em;
  }
}
@media screen and (min-width: 840px) {
  /* line 64, ../sass/base.scss */
  #container {
    padding: 0 1em 0 1em;
  }
}
/* line 70, ../sass/base.scss */
#container {
  *zoom: 1;
  max-width: 996px;
  margin-left: auto;
  margin-right: auto;
  /*
  
      SIDE BAR ********************************************************************************************************
  
  
  */
  /*
  
  
      MAIN CONTENT ********************************************************************************************************
      
  
  */
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
#container:before, #container:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
#container:after {
  clear: both;
}
@media screen and (max-width: 470px) {
  /* line 79, ../sass/base.scss */
  #container #sidebar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 85, ../sass/base.scss */
  #container #sidebar #slogan {
    padding-top: 4em;
  }
  /* line 87, ../sass/base.scss */
  #container #sidebar #slogan #slogan-blurb {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
  }
  /* line 89, ../sass/base.scss */
  #container #sidebar #about #about-blurb {
    display: none;
  }
  /* line 89, ../sass/base.scss */
  #container #sidebar #about #about-longer {
    display: inherit;
  }
  /* line 91, ../sass/base.scss */
  #container #sidebar #contact {
    padding-top: 0.5em;
  }
  /* line 93, ../sass/base.scss */
  #container #sidebar #contact #contact-email {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 30.11389%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #contact #contact-email:last-child {
    margin-right: 0;
  }
  /* line 94, ../sass/base.scss */
  #container #sidebar #contact #contact-twitter {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 30.11389%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #contact #contact-twitter:last-child {
    margin-right: 0;
  }
  /* line 95, ../sass/base.scss */
  #container #sidebar #contact #contact-linkedin {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 30.11389%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #contact #contact-linkedin:last-child {
    margin-right: 0;
  }
  /* line 100, ../sass/base.scss */
  #container #sidebar #menu #menu-blog {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 47.58542%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #menu #menu-blog:last-child {
    margin-right: 0;
  }
  /* line 101, ../sass/base.scss */
  #container #sidebar #menu #menu-email {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 47.58542%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #menu #menu-email:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 470px) {
  /* line 79, ../sass/base.scss */
  #container #sidebar {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar:last-child {
    margin-right: 0;
  }
  /* line 107, ../sass/base.scss */
  #container #sidebar .content {
    width: 22%;
    position: absolute;
  }
  /* line 117, ../sass/base.scss */
  #container #sidebar #contact {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    padding-top: 0.5em;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #contact:last-child {
    margin-right: 0;
  }
  /* line 119, ../sass/base.scss */
  #container #sidebar #contact #contact-email {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #contact #contact-email:last-child {
    margin-right: 0;
  }
  /* line 120, ../sass/base.scss */
  #container #sidebar #contact #contact-twitter {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #contact #contact-twitter:last-child {
    margin-right: 0;
  }
  /* line 121, ../sass/base.scss */
  #container #sidebar #contact #contact-linkedin {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #contact #contact-linkedin:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 470px) and (min-height: 560px) {
  /* line 107, ../sass/base.scss */
  #container #sidebar .content {
    height: 100%;
    position: fixed;
  }
}
@media screen and (min-width: 840px) {
  /* line 132, ../sass/base.scss */
  #container #sidebar .content {
    height: 100%;
    position: absolute;
    width: 14.3254em;
  }
  /* line 145, ../sass/base.scss */
  #container #sidebar #about #about-blurb {
    display: none;
  }
  /* line 145, ../sass/base.scss */
  #container #sidebar #about #about-longer {
    display: inherit;
  }
  /* line 147, ../sass/base.scss */
  #container #sidebar #contact {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    padding-top: 0.5em;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #contact:last-child {
    margin-right: 0;
  }
  /* line 149, ../sass/base.scss */
  #container #sidebar #contact #contact-email {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #contact #contact-email:last-child {
    margin-right: 0;
  }
  /* line 150, ../sass/base.scss */
  #container #sidebar #contact #contact-twitter {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #contact #contact-twitter:last-child {
    margin-right: 0;
  }
  /* line 151, ../sass/base.scss */
  #container #sidebar #contact #contact-linkedin {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  /* line 54, ../sass/neat/grid/_span-columns.scss */
  #container #sidebar #contact #contact-linkedin:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 840px) and (min-height: 460px) {
  /* line 132, ../sass/base.scss */
  #container #sidebar .content {
    height: 100%;
    position: fixed;
  }
}
