
// basic sizes
$max-width: em(960);
$base: 0.8125em;
$margin: $base;


// *********************************************************
// UNIVERSAL
// 
// Setup:
// 		Article (logical divisions of content)
// 			Section (full width span containers - optional)
// 				Container (breakpoints and column-set)
// 					Row
// 						Column Column Column Column
// 			Container (breakpoints and column-set)
//				Row 
// 					Column Column Column Column 
// 
// *********************************************************



// uses neat.bourbon to create a column container
.article, .section, .row {padding-top: 2 * $base; padding-bottom: 2 * $base;}
.container {@include outer-container; }




// *********************************************************
// BREAKPOINTS
// *********************************************************

// these are intended as "small-first" 
// - Small will apply to all sizes above Small
// - Medium will apply to all sizes above Medium, etc.
// - the -only tag applies to only that size
// - the -max tag applies to that size and under

  
@mixin show($size){
   display: none !important;
   @include media($size){display: block !important; }
}

$small: new-breakpoint(min-width 0px 6);                             // 0 and above
$small-only: new-breakpoint(max-width 480px 6);                      // 0 to 480
.show-small {@include show($small);} 
.show-small-only {@include show($small-only);} 

$medium: new-breakpoint(min-width 481px 12);                         // 481 and above
$medium-only: new-breakpoint(min-width 481px max-width 767px 12);    // 481 to 767
$medium-max: new-breakpoint(max-width 767px 12);                     // 0 to 767
.show-medium {@include show($medium);} 
.show-medium-only {@include show($medium-only);} 
.show-medium-max {@include show($medium-max);} 

$larger: new-breakpoint(min-width 768px 12);                         // 768 and above
$larger-only: new-breakpoint(min-width 768 max-width 979 12);        // 768 to 979
$larger-max: new-breakpoint(max-width 979px 12);                     // 0 to 979
.show-larger {@include show($larger);} 
.show-larger-only {@include show($larger-only);} 
.show-larger-max {@include show($larger-max);} 

$largest: new-breakpoint(min-width 980px 12);                        // 980 and above (infinite)
.show-largest {@include show($largest);} 

// sets the span for one breakpoint
@mixin span($break, $cols){
   @include media($break){@include span-columns($cols); }
}

// sets the span for all breakpoints
@mixin span-all($sm, $md, $mdlg, $lg){
   @include media($small){@include span-columns($sm); }
   @include media($medium){@include span-columns($md); }
   @include media($larger){@include span-columns($mdlg); }
   @include media($largest){@include span-columns($lg); }
}
