

// *********************************************************
// DESIGN FILE
// - this file specifies variables and design components
// - don't directly affect IDs and classes from this file
// *********************************************************


// *********************************************************
// DESIGN MIXINS
// *********************************************************

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin ease-transition($speed){
    -webkit-transition: $speed ease;
    -moz-transition: $speed ease;
    -ms-transition: $speed ease;
    -o-transition: $speed ease;
    transition: $speed ease;
}


.rounded {

}

// *********************************************************
// VARIABLES
// *********************************************************

// fonts
$menu-font-size: $base;
$footer-title-size: $base*1.25;

$font-size-h1: $base*2.8;
$font-size-h2: $base*1.3;
$font-size-h3: $base;
$font-size-paragraph: $base*1.3;

// colors
.white {color: #fff;}
$gs-orange: #faa516;
$gs-darkorange: #e36f1e;
$gs-orangedull: #e09413;
$gs-white: #ffffff;
$gs-fontcolor: #4a3d3a;
$gs-fontcolor2: #464646;
$gs-fontcolorfooter: #999;
$gs-bordercolor: #aaa;
$gs-shadowcolor: #aaa;
$gs-darkgray: #333;
$gs-medgray: #949494;
$gs-gray: #444;
$gs-ltgray: #a2a2a2;
$gs-vltgray: #d7d7d7;

$gs-brightgreen: #a2be07;
$gs-brightdarkgreen: #8ba406;

$gs-lightgreen: #b6cc00;
$gs-midgreen: #a5b719;
$gs-darkgreen: #9cb000;
$gs-skin: #fac86e;

$gs-failtext: #892727;
$gs-failbg: #e9b1b1;
$gs-oktext: #007336;
$gs-okbg: #82ca9c;
$gs-green: #9baf37;


$side-wrap: $base*1.5;

// *********************************************************
// FONTS
// *********************************************************

// FONT STACKS
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
%quicksand {font-family: 'Quicksand', serif;}



// *********************************************************
// DESIGN CLASSES
// *********************************************************

// padding used for content/container sections, and between content sections
%padding-content {
   @include media($small-only){padding: $base $base*0.8 $base $base*0.8; }
   @include media($medium){padding: $base*2 $base*1.3 $base $base*1.3; }
   @include media($larger){padding: $base*2 $base*3 $base $base*3; }
}

// distance top of content section and content (lots of room for menu)
// $padding-content-top: $base*7;
%padding-top {
   @include media($small) {padding-top: $base*3;}
   @include media($medium) {padding-top: $base*7;}
}

// padding and margin within content sections
%margin-content {margin: $base 0 $base 0;}
%padding-heading {padding: $base*0.3 $base $base*0.3 $base/2; @extend %margin-content;}
%padding-content-item {padding: $base*0.8 $base $base*0.8 $base; @extend %margin-content;}

%shadow-internal-light {box-shadow: 0 0px 50px rgba(20, 20, 20, 0.07), 0 0 70px rgba(0, 0, 0, 0.08) inset;}
%shadow-internal-dark {box-shadow: 0 0px 50px rgba(20, 20, 20, 0.22), 0 0 80px rgba(0, 0, 0, 0.42) inset;}
%shadow-gray {box-shadow:1px 1px 4px rgba(180,180,180,0.4),inset 1px 0 1px rgba(255,255,255,0.6);}

%center {}

@mixin gs-button($align, $arrow: false){

  border: none;
  font-family: arial, sans-serif;
  font-size: $base*1.5;
  color: #4a3d3a;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 700;
  white-space: normal;

  // alignment
  @if $align == left { padding: 12px 50px 12px 25px; }
  @else if $align == right { padding: 12px 25px 12px 50px; }
  @else if $align == center {
    @if $arrow { padding: 12px 45px 12px 25px; }
    @else { padding: 12px 0% 12px 0%; }

  }
  

  @include transition (all 0.3s);
  border-radius: 3px;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.85);

  @include background(linear-gradient(180, $gs-midgreen 0%, $gs-midgreen 50%, $gs-darkgreen 51%, $gs-darkgreen 100%));
  @if $arrow {@include background(url("rightarrow.png"), linear-gradient(180, $gs-midgreen 0%, $gs-midgreen 50%, $gs-darkgreen 51%, $gs-darkgreen 100%));}

  // background-image: url('rightarrow.png');
  background-repeat: no-repeat;  
  background-position: 88% 50%;
  text-align: center;

  &:hover {
    @include background(linear-gradient(180, $gs-midgreen*1.1 0%, $gs-midgreen*1.1 50%, $gs-darkgreen*1.1 51%, $gs-darkgreen*1.1 100%));
    @if $arrow {@include background(url("rightarrow.png"), linear-gradient(180, $gs-midgreen*1.1 0%, $gs-midgreen*1.1 50%, $gs-darkgreen*1.1 51%, $gs-darkgreen*1.1 100%));}
    background-repeat: no-repeat; background-position: 92% 50%;
  } 
}



@mixin gs-button-gray($align, $arrow: false){

  border: none;
  font-family: arial, sans-serif;
  font-size: $base*1.5;
  color: #4a3d3a;
  cursor: default;
  letter-spacing: 1px;
  font-weight: 700;
  white-space: normal;

  // alignment
  @if $align == left { padding: 12px 50px 12px 25px; }
  @else if $align == right { padding: 12px 25px 12px 50px; }
  @else if $align == center {
    @if $arrow { padding: 12px 45px 12px 25px; }
    @else { padding: 12px 0% 12px 0%; }

  }
  

  @include transition (all 0.3s);
  border-radius: 3px;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.85);

  @include background(linear-gradient($gs-ltgray 0%, $gs-ltgray 50%, $gs-medgray 51%, $gs-medgray 100%));
  @if $arrow {@include background(url("rightarrow.png"), linear-gradient(180, $gs-midgreen 0%, $gs-midgreen 50%, $gs-darkgreen 51%, $gs-darkgreen 100%));}

  // background-image: url('rightarrow.png');
  background-repeat: no-repeat;  
  background-position: 88% 50%;
  text-align: center;
}