---
layout: main
---

<div class="index _width-content-max" id="landing" markdown="1">


  <div class="index-intro _padding-2">

    <div class="_size-vheight" data-vheight="30">
      <h2 class="_page-header">products <span class="_ampersand">&amp;</span> prototypes </h2>

      <div class="index-intro-sub _padding-bottom-2 _antialias _legibility">
        user experience, architecture / <br/>
        strategy, design, and development
      </div>
    </div>

    <div class="_size-vheight" data-vheight="64">
      <p class="index-intro-message _padding-top-2 _padding-bottom-2">
        Hello! My name’s <a class="index-jan _pointer">Jan<span class="_hidden"> &mdash; “yawn” &mdash; </span></a> and I love to make complicated things simple. I design and build digital <a class="index-exp _pointer">products and prototypes<span class="_hidden"> &mdash; fun and functional digital experiences &mdash; </span></a> for <a class="index-s _pointer"> people<span class="_hidden"> &mdash; who like things that just work</span></a>. <span class="_font-small"><a href="./about.html">read more about me</a> or <a href="#contact">say hello!</a></span>
        <!-- <div class="_color-gray _font-small">
          <em>based in Atlanta </em>
        </div> -->

      </p>
    </div>

    <div>
      <%= partial '/partials/portfolio' %>
    </div>

  </div>


</div>

<script>
  // for fun

  $('.index-jan').on('click', function() {
    $(this).find('._hidden').removeClass('_hidden'); 
    $(this).replaceWith($('<span class="_color-red">' + this.innerHTML + '</span>')); // not clickable anymore
  });

  $('.index-exp').on('click', function() {
    $(this).find('._hidden').removeClass('_hidden');
    $(this).replaceWith($('<span class="_color-red">' + this.innerHTML + '</span>')); // not clickable anymore
  });

  $('.index-s').on('click', function() {
    $(this).find('._hidden').removeClass('_hidden');
    $(this).replaceWith($('<span class="_color-red">' + this.innerHTML + '</span>')); // not clickable anymore
  });

</script>


