---
<!-- layout: none -->

---

<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="Jan's various ruminations and undertakings.">
  <meta name="keywords" content="jan zheng, portfolio, site, ux, code, design">
  <meta name="author" content="Jan Zheng">
  <meta name="copyright" content="Jan Zheng">
  
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1" />

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/app/css/main.css">
<!-- 
  <link rel="stylesheet" href="/assets/stylesheets/compiled/flexslider.css">
  <link rel="stylesheet" href="/assets/stylesheets/compiled/slimbox2.css">
   -->
</head>

<body>  
  <div class="">

 <!--  
#b1 {
   border: 1px solid #333;
   margin: 10px 0;
   @include span-columns(12);
}

#b2 {
   border: 1px solid #333;
   margin: 10px 0;
   @include span-columns(12);
}

#b3 {
   border: 1px solid #333;
   margin: 10px 0;
   @include span-columns(8);
}

#b4 {
   border: 1px solid #333;
   margin: 10px 0;
   @include span-columns(8);
}

#b5 {
   border: 1px solid #333;
   margin: 10px 0;
   @include span-columns(8);
}

#b6 {
   border: 1px solid #333;
   margin: 10px 0;
   @include span-columns(8);
   @include shift(1)
}

#b7 {
   border: 1px solid #333;
   margin: 10px 0;
   @include span-columns(16);
   @include shift(8)
}


#b8 {
   border: 1px solid #333;
   margin: 10px 0;
   @include span-columns(12);
   @include shift(-3);
   margin-right: 12px;
} -->
  <div id="layout-test" class="container">
    <div class="row" id="b1"><div class="content">box 1</div></div>
    <div class="row" id="b2"><div class="content">box 2</div></div>
    <div class="row" id="b3"><div class="content">box 3</div></div>
    <div class="row" id="b4"><div class="content">box 4</div></div>
    <div class="row" id="b5"><div class="content">box 5</div></div>
    <div class="row" id="b6"><div class="content">box 6</div></div>


    <div class="row" id="b7">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales aliquet auctor. Aliquam sed posuere dui. Quisque auctor odio eu mi vehicula, nec tristique nisl blandit. Duis mattis eros urna, vehicula egestas est interdum in. Sed imperdiet non metus quis facilisis. Nunc at turpis tristique, vestibulum neque ac, congue velit. Nunc pharetra mattis posuere. Vivamus in orci augue. Morbi hendrerit mi in laoreet congue. In nec vestibulum ipsum. Quisque sed nisl et eros fringilla eleifend. Maecenas eu convallis velit. Duis fermentum leo ac massa hendrerit molestie ac sit amet turpis. Nam posuere sollicitudin elementum. Vestibulum porta tristique dui, egestas rhoncus nisi vehicula id. Integer felis dui, malesuada porta vehicula nec, feugiat vel leo.

      Proin tincidunt dui aliquet libero ultrices, in hendrerit libero ultricies. Vivamus sagittis, odio sed gravida semper, eros enim luctus dolor, non iaculis velit diam vitae nisl. Proin mi risus, pulvinar sit amet enim a, congue lobortis lectus. Vivamus a aliquet tellus. Sed in rutrum lacus. Ut convallis metus non blandit malesuada. Nullam justo diam, gravida sed rhoncus vitae, hendrerit non nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in placerat est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

    <div class="row" id="b8">Caption Box 
    Cras arcu dui, imperdiet in dui vitae, adipiscing egestas arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin rutrum a leo in sollicitudin.</div>
      Etiam tempus pellentesque eros, in fermentum arcu. Curabitur nisi odio, varius vel euismod sit amet, ullamcorper vitae metus. Quisque vitae elit diam. Sed vel elit nunc. Integer enim tortor, elementum a ullamcorper at, accumsan in est. Donec accumsan risus tellus, sit amet feugiat purus varius at. Integer felis leo, auctor dictum elit eu, auctor consectetur risus. Sed quis enim lectus. In auctor, diam non euismod consectetur, justo lacus volutpat nulla, sed ultricies nisi orci non ipsum.

      Maecenas tempus sapien quam, vitae pretium orci bibendum ut. Pellentesque mattis eros eu vehicula eleifend. Mauris at rutrum nibh. Sed lacinia purus vitae sapien aliquam, at consectetur mauris tempus. In dapibus massa ac ullamcorper placerat. Nunc vestibulum ipsum sit amet massa aliquam commodo. Nullam faucibus lectus non euismod dignissim. Nullam volutpat ipsum elit, a pulvinar arcu tempus a.
    
    </div>
  </div>


    <!-- Navigation -->
    <div id="navigation" >
      <!-- <div class="color-palette color-top">
        <div id="c1"></div><div id="c2"></div><div id="c3"></div><div id="c4"></div><div id="c5"></div>
        <div id="a1"></div><div id="a2"></div><div id="a3"></div><div id="a4"></div><div id="a5"></div>
      </div> -->
  
      <div id="top"></div>
      <div id="bottom"></div>



<!-- 
      <div class="content {% if page.menu != 'full' %} short-menu{% else %}full-menu {% endif %} " >

        <div class="expandable">

          <div id="logo">
            <a class="nolink" id="logo-logo" href="/">  
              <img title="" alt="{jan zheng}" src="/app/images/short.png" class="logo-short" {% if page.menu == 'full' %} id="logo-hidden" {% endif %}/>
              <img title="" alt="{jan zheng}" src="/app/images/logotype3.png" class="logo-full" {% if page.menu != 'full' %} id="logo-hidden" {% endif %}/>
            </a>
            <div id="logo-slogan">code | ux | design</div>
            <div class="clear"></div>
          </div>


          <div id="about">
            <div class="triangle"></div>
            <a href="/about.html" id="about-link">
              <div id="about-container">
                <div id="slogan"><div id="slogan-blurb">I make fun<span id='ctional'>{ctional}</span> experiences</div></div>
                <div id="about-blurb">
                  <div class="about-am"><em>sites</em>, <em>apps</em>, <em>interfaces</em>, <em>games</em> </div>
                </div>
              </div>
            </a>
          </div>


          <div class="btn btn-open-mobile">MENU<div class="triangle-down"></div></div>
          <div class="btn btn-close-mobile">MENU<div class="triangle-up"></div></div>
          <div class="collapsible-mobile">
            <div class="sticky-wrapper">
              <div id="menu">{% include menu.html %}</div>
              <div class="push"></div>
            </div>
            <footer>
              <div id="contact">
                <div id="contact-container">
                  <ul>
                    <li><a href="mailto:{{site.author.email}}" class="bttn bttn-contact contact-email"></a></li>
                    <li><a href="http://www.twitter.com/{{site.author.twitter}}" class="bttn bttn-contact contact-twitter"></a></li>
                    <li><a href="http://{{site.author.linkedin}}" class="bttn bttn-contact contact-linkedin"></a></li>
                  </ul>
                </div>
                <div class="contact-rss"><a class="a-nofx" href="http://janzheng.com/atom.xml">
                  <svg class="svg rss-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <path id="rss-icon" d="M161.757,406.249c0,30.791-24.96,55.751-55.75,55.751c-30.79,0-55.751-24.96-55.751-55.751
                  s24.961-55.75,55.751-55.75C136.796,350.499,161.757,375.458,161.757,406.249z M50.256,190.424v82.593
                  C153.994,274.083,238.172,358.261,239.238,462h82.593C320.764,312.48,199.774,191.491,50.256,190.424z M50.256,132.602
                  c87.695,0.381,170.084,34.695,232.135,96.747c62.175,62.173,96.506,144.764,96.754,232.651h82.6
  C461.228,234.858,277.333,50.794,50.256,50V132.602z"></path> </svg></a>
                </div>


              </div>
            </footer>

          </div>
        </div>
      </div>
 -->
    </div>
    <!-- End sidebar navigation -->

    <div class="clear"></div>




    <!-- Main section for content -->
    <div id="main">
      <div class="content {% if page.menu != 'full' %} full-content{% else %}short-content {% endif %}">
        <!-- <div id="taglist">{% include taglist.html %}</div> -->
        {{ content-zzzzz }}
      </div><!-- 
      <div class="legal bottom">
        <p id="fine-print">
          &copy; 2014. Hosted by <a href="https://github.com/janzheng/janzheng.github.com">Github</a> and powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>.
        </p>
        
        <div class="clear"></div>
      </div> -->
    </div>


  </div>
  <!-- End container -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>

  <!-- Google Prettify - https://code.google.com/p/google-code-prettify/wiki/GettingStarted -->
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&lang=html&lang=js&skin=desert"></script>


  <!-- <script src="/assets/js/plugins.js"></script> -->
  <script src="/app/js/jquery.flexslider-min.js"></script>
  <script src="/app/js/slimbox2.js"></script>

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>

  <script src="/app/js/script.js"></script>

  <script type="text/javascript">
  google.load("feeds", "1") //Load Google Ajax Feed API (version 1)
  </script>

  <script type="text/javascript" src="http://funkability.tumblr.com/api/read/json"></script>
  <!-- 
  <script type="text/javascript">
      // The variable "tumblr_api_read" is now set.
      // console.log('tumblr json: ' + JSON.stringify(tumblr_api_read['tumblelog'] ));
      // console.log('tumblr json: ' + JSON.stringify(tumblr_api_read["posts"][0]['url'] ));

      console.log('<a href="' + tumblr_api_read['posts'][0]['url'] + '">Most recent Tumblr post</a>');
  </script>
   -->

  <!-- new google analytics beta -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39843414-1', 'janzheng.com');
    ga('send', 'pageview');

  </script>

</body>
</html>
