---
layout: none

---

<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  
  <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="assets/stylesheets/compiled/base.css">

  <!-- load fonts here --> 
  
</head>

<body>	
	<div class="container">
    <div id="sidebar" >
      <div id="color-palette">
        <div id="c1"></div><div id="c2"></div><div id="c3"></div><div id="c4"></div><div id="c5"></div>
        <div id="a1"></div><div id="a2"></div><div id="a3"></div><div id="a4"></div><div id="a5"></div>
      </div>
  
      <div class="content google google-top">
        <h1> Google Design Exercise</h1>
        <p>
          <a href="google.html">I. Questions</a>
          <a href="google2.html">II. Analysis</a>
          <a href="google3.html">III. Architecture</a>
          <a href="google4.html">IV. Wireframes</a>
        </p>
        <p>
          <a href="http://janzheng.com/google.html">online access</a>
          <a href="http://janzheng.com/google_jan_zheng.zip">zip file</a>
        </p>
      </div>
    </div>
    
    <div class="clear"></div>

	  <div id="main">
  	  <div class="content">
        <!-- <div id="taglist">{% include taglist.html %}</div> -->
  	    {{ content }}
  	  </div>
	  </div>

	</div>
</body>
</html>
