---
layout: layout-site
---


<div class="container">
  <div class="article {% if post.postCSS != nil %} {{post.postCSS}} {% else %} post-std {% endif %}">


    <!-- begin article head content (date, title, summary, tags) -->

    <div 
      class="article__head container {% if page.headerImg %} article__head__img {{ page.header-styles }} {% endif %}"
      {% if page.headerImg %} 
        data-img="{{ page.headerImg }}" 
        {% include header-bg-transition %} 
      {% endif %} >

      <div 
        {% if page.headerImg %} {% include header-transition %} {% endif %}
      >
        <div class="article__head__intro" >

          {% if page.category %}
          <div class="article__head__category article__head__category__{{page.category}}" >

            <!-- <div class="article__head__category__icon"> -->

              {% if page.category == 'lab' %}
                {% include lab-svg.html %}
              {% endif %}

              {% if page.category == 'idea' %}
                {% include idea-svg.html %}
              {% endif %}

              {% if page.category == 'thought' %}
                {% include thought-svg.html %}
              {% endif %}

              {% if page.category == 'work' %}
                {% include work-svg.html %}
              {% endif %}
            <!-- </div> -->
          </div>
          {% endif %}
          <div class="article__category__label">{{page.category}}</div>
          <div class="article__head__date__container" >
            <div class="article__head__date">
              {{ page.date | date: "%B %d, %Y" }}
            </div>    
          </div> 

        </div>

        <!-- this is for category tags labels -->
        

        <div class="article__head__title__container" >
          <div class="article__head__title">{{ page.title }}</div>
        </div> 

        <div class="article__head__subtitle__container" >
          <div class="article__head__subtitle">{{ page.summary }}</div>
        </div> 


        <div class="article__tags__container" >
          <div class="article__tags">
            {% if page.tags != null %}
              {% assign tags_list = page.tags %} 
                {% if tags_list.size > 0 %}
                <ul class="article__tags__list">
                  {% if tags_list.first[0] == null %}
                    {% for tag in tags_list %} 
                      <li>{{ tag }}</li>
                    {% endfor %}
                  {% else %}
                    {% for tag in tags_list %} 
                      <li>{{ tag[0] }}</li>
                    {% endfor %}
                  {% endif %}
                </ul>
                {% endif %}
                {% assign tags_list = nil %}
            {% endif %}
          </div>
        </div> 

        {% if page.project-link %}
        <div class="article__head__projectLink__container" >
          <div class="article__head__projectLink">
            <a href="{{ page.project-link }}" class="link-external btn-inline">
              {{ page.project-link-desc }}
            </a>
          </div>
        </div>
        {% endif %}

      </div>


    </div>
    <!-- end article head content -->





    <!-- begin article content -->

    <div class="article__body container">

      <!-- 
      <div class="article--summary-container">
        <div class="article--summary">{{ page.summary }}</div>
      </div>  -->

      <!-- not yet used -->
      <!-- 
      <div class="article__body__video__container">
        <div class="article__body__video">
          {% if page.youtube %}<iframe width="550" height="452" src="{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>{% endif %}
          {% if page.vimeo %}<iframe src="{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=0f314a" width="550" height="309" frameborder="0"></iframe>{% endif %}    
        </div>
      </div>
      -->


      <!-- not yet used -->
      <!-- 
      <div class="article--body--titleImage-container">
        {% if page.image-path %}      
          <div class="article--body--titleImage">
            <img src="{{ page.image-path }}" />
          </div>
        {% endif %}   
      </div> 
      -->


      <div class="article__body__content">
        {{ content }}


        <div class="clear"></div>

        <div class="article__comments">

          {% if page.comments == true %} 
            {% include disqus.html %}
          {% endif %} 

        </div>
      </div>


    </div>

    <!-- end article body -->

    <div class="clear"></div>
      


  </div>
</div>