---
layout: none

---

<!doctype html>
<html lang="en" class="no-js">
{% include head.html %}

<body>	
	<div id="container">

    <div id="sidebar" >
      <div class="content">

        <div class="sticky-wrapper">
          <div id="logo"><a href="/">{% include logo.html %}</a></div>
          <div id="slogan">
             <div id="slogan-blurb">I make fun &amp; functional experiences. </div>
          </div>

          <div id="menu">{% include menu.html %}</div>
          <div id="about">{% include about.html %}</div>

          <div class="push"></div>
        </div>
        
        <footer>
          <div id="contact">{% include contact.html %}</div>
          <div id="legal">{% include legal.html %}</div>
        </footer>
      </div>
    </div>

    <div class="clear"></div>

	  <div id="main">
  	  <div class="content">
  	    {{ content }}
  	  </div>
	  </div>

	</div>
  <div id="legal-bottom">{% include legal.html %}</div>
  {% include script.html %}
</body>
</html>
