---
layout: none

---

<!doctype html>
<html lang="en" class="no-js">
{% include head.html %}

<body>	
	<div class="container">
    <div id="sidebar" >
      <div id="color-palette">
        <div id="c1"></div><div id="c2"></div><div id="c3"></div><div id="c4"></div><div id="c5"></div>
        <div id="a1"></div><div id="a2"></div><div id="a3"></div><div id="a4"></div><div id="a5"></div>
      </div>
  
      <div class="content">

        <div class="expandable">
          <div id="logo">{% include logo.html %}</div>
          <div id="about">{% include about.html %}</div>
          <div class="btn btn-open-mobile">MENU<div class="triangle-down"></div></div>
          <div class="btn btn-close-mobile">MENU<div class="triangle-up"></div></div>
          <div class="collapsible-mobile">
            <div class="sticky-wrapper">
              <div id="menu">{% include menu.html %}</div>
              <div class="push"></div>
            </div>
            <footer><div id="contact">{% include contact.html %}</div></footer>

          </div>
        </div>
      </div>
    </div>

    <div class="clear"></div>

	  <div id="main">
  	  <div class="content">
        <!-- <div id="taglist">{% include taglist.html %}</div> -->
  	    {{ content }}
  	  </div>
      <div class="legal bottom">{% include legal.html %}</div>
	  </div>

	</div>
  {% include script.html %}
</body>
</html>
