---
layout: main
---
<article id="post">
  <div class="meta-data">
    <span class="date">
      {{ page.date | date: "%d %B %Y" }}      
    </span> 
    {% if page.external %}
      <span class="external">External link</span>
    {% endif %}
  </div>
  <h1>
    {% if page.external %}
      <a href="{{ page.external }}">{{ page.title }}</a>
    {% else %}
      {{ page.title }}           
    {% endif %}    
  </h1>
  {% if page.image-path %}
    {% if page.remove-image %}      
    {% else %}
      <img src="{{ page.image-path }}"/ >
    {% endif %}    
  {% endif %}
  {% if page.youtube %}
    <iframe width="550" height="452" src="{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
  {% endif %}
  {% if page.vimeo %}
    <iframe src="{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=0f314a" width="550" height="309" frameborder="0"></iframe>
  {% endif %}
  <div class="clear"></div>
  <div id="post-body">
    {{ content }}
  </div>
  <div class="clear"></div>
    
  {% include disqus.html %}

</article>