---
layout: main
---

<!-- post format:

date      (01 January 2013)
*icon     (external | other post types) *not implemented yet
Title     (external link | post url)
Object    (external link | post url) (image | youtube | vimeo)
Summary   
Tags
 -->

<article class="post">

  <div class="meta-data">
    <span class="post-date">
      {{ page.date | date: "%d %B %Y" }}      
    </span> 
  </div>


  <h1>{{ page.title }}</h1>

  {% if page.youtube %}<iframe width="550" height="452" src="{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>{% endif %}
  {% if page.vimeo %}<iframe src="{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=0f314a" width="550" height="309" frameborder="0"></iframe>{% endif %}    

  <p class="post-summary">{{ page.summary }}</p>

  {% if page.tags != null %}
    {% assign tags_list = page.tags %} 
      {% if tags_list.size > 0 %}
      <ul class="post-taglist">

        {% if tags_list.first[0] == null %}
          {% for tag in tags_list %} 
            <li>{{ tag }}</li>
          {% endfor %}
        {% else %}
          {% for tag in tags_list %} 
            <li>{{ tag[0] }}</li>
          {% endfor %}
        {% endif %}
        
      {% endif %}
      {% assign tags_list = nil %}
    </ul>
  {% endif %}

  <div class="solidline"></div>

  {% if page.image-path %}      
    <div class="post-imageframe"><img class="post-image" src="{{ page.image-path }}" /></div>
  {% endif %}

  <div class="post-body">
    {{ content }}
  </div>

  <div class="clear"></div>
    
  {% if page.comments == true %} 
    {% include disqus.html %}
  {% endif %} 

</article>