---
layout: post-layout
---
<article id="post">
  <div class="meta-data">
    <span class="date">
      {{ page.date | date: "%d %B %Y" }}      
    </span> 
    {% if page.external %}
      <span class="external">External link</span>
    {% endif %}
  </div>
  <h1>
    {% if page.external %}
      <a href="{{ page.external }}">{{ page.title }}</a>
    {% else %}
      {{ page.title }}           
    {% endif %}    
  </h1>
  {% if page.image-path %}
    {% if page.remove-image %}      
    {% else %}
      <img src="{{ page.image-path }}"/ >
    {% endif %}    
  {% endif %}
  {% if page.youtube %}
    <iframe width="550" height="452" src="{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
  {% endif %}
  {% if page.vimeo %}
    <iframe src="{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=0f314a" width="550" height="309" frameborder="0"></iframe>
  {% endif %}
  <div class="clear"></div>
  <div id="post-body">
    {{ content }}
  </div>
  <div class="clear"></div>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'njmcgee'; // required: replace example with your forum shortname

      // The following are highly recommended additional parameters. Remove the slashes in front to use.
      var disqus_identifier = '{{ page.url }}';
      var disqus_url = 'http://njmcgee.com{{ page.url }}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</article>