---
layout: light
---

<div class="bookmarks _width-content-max" id="landing" markdown="1">


  <div class="index-intro _padding-2">

    <div class="_size" data-height="25">
      <h2 class="_page-header">bookmarks  </h2>

      social bookmarks coming soon
    </div>
  </div>


</div>

<script>

  // css/js hybrid
  // dynamic height dispenser
  // don't rely on vh as browser bugs and annoyances like iOS chrome
  // vw more reliable
  // syntax: class="_size" data-height="30" is calculated 30 vh
  $(window).load(function() {
    $('._size').each(function() {
      // calculate vh manually, and set it dynamically
      // console.log($(this).data())
      var height = $(window).height() * ($(this).data('height') * 0.01);
      $(this).css({'height': height})
    });
  });

</script>


