---
layout: landing
name: careers
---


<div class="_hero-page" markdown="1">

  <section class="_hero">
    <figure>
      <!-- <img src="./images/pic4_2.jpg"> -->
      <!-- <img src="https://unsplash.it/1300/700/"> -->
    </figure>
    <div class="_hero-content _content ">
      <div class="_grid-one _margin-center _width-content-max-narrow " >
       <h2 class="_margin-top-none _font-light">You will be in <strong>good company.</strong></h2>
      </div>
    </div>
  </section>


  <section class="_container-large _content _color-bg-silver-lighter _padding-bottom-large" >


    <div class="_width-content-max-narrow _margin-center">
      <h3 class="_font-light _margin-bottom">Join us for a journey <span class="_font-normal"> of a lifetime. </span></h3>

      <p>
        We currently don’t have any open positions, but we’re always on the lookout for designer/developer polymaths, like UX designers, mobile developers, React, React Native and Angular developers,, and those experience with Express, node, and building microservices and APIs.
      </p>
      <p>
        If you are straight out of college or a coding school, we also take apprentices. Send us a message and we’ll see how we could work with you.
      </p>
      <p>
        Either way, give us a holler:
      </p>

      <form class="_padding-top-2">
        <p>My name is <input id="name" class="_form-input _inline " type="text" name="name" placeholder="your full name *" required/> </p>
        <p> and my portfolio is at <input id="company" class="_form-input _inline " type="text" name="portfolio" placeholder="http://portfolio.com *" /></p>
        <p>
          <div class="_padding-bottom">
            I am good at:
          </div>
          <textarea rows="4" id="description" class="_form-input"  type="text" name="description" placeholder="Tell us about yourself and your expertise. We’ll get back to you if there’s a match *" ></textarea>
        </p>
        <p>
          Get back to me at <input id="email" class="_form-input _inline " type="text" name="email" placeholder="myname@email.com *" />
        </p>
        <p>
          <button class="_button">Say hello! <i class="fa fa-lg fa-thumbs-o-up _padding-left-half"></i> </button>
        </p>

      </form>

    </div>

 
  </section>




</div>

