---
layout: landing
name: company
---


<div class="_hero-page" markdown="1">

  <section class="_hero">
    <figure style="background-image: url(./images/pic4_2.jpg)">
      <!-- <img src="https://unsplash.it/1300/700/"> -->
    </figure>
    <div class="_hero-content _content ">
      <div class="_grid-one _margin-center _width-content-max-narrow " >
       <h2 class="_margin-top-none _font-light">An <strong>Atlanta</strong> institution <br /> for 
        <!-- <br />design and technology institution for  -->
        <strong>twenty years.</strong></h2>
      </div>
    </div>
  </section>


  <section class="_container-large _content _color-bg-silver-lighter _padding-bottom-large" >


    <div class="_width-content-max-narrow _margin-center">
      <h3 class="_font-light _header _margin-bottom">We care about the <span class="_font-normal"> customer experience </span> just as much as the results.</h3>

      <p>
        Web experts has been a non-outsourcing, full service design and development agency <strong>since 1997</strong>. 
      </p>

      <p>We have worked with Grammy award winning music producers, Fortune 500 companies, Level 1 trauma centers, and media conglomerates to solve some of their most mission critical needs. Knowledgeable customer service is our strength.
      </p>

      <p class="">
        Web experts is an Internet consulting company dedicated to solving your company's online business needs. Web experts has represented companies throughout the U.S. and internationally, earning many mentions in the technology industry. Our team of developers, award-winning designers, illustrators, information architects and project managers prides itself on providing complete solutions.
      </p>

      <p class="_padding-top">
        Even though we’ve been around for quite some time, we still stay current on our tech stack. We’ve built with PHP, .NET, React, React Native, and Angular. We also build custom iOS and Android apps.
      </p>

      <a href="./services.html#mvp">
        <div class="_message">
          Find out how we can help take your startup <strong>from idea to MVP.</strong> <span class="_anim-right">&rarr;</span>
        </div>
      </a>
    </div>

    <div class="_infobox _grid-two _margin-top-2 _margin-bottom-2">
      <a href="./services.html" class="_infobox-content">
        <h4 class="_font-bold">Our Services <span class="_anim-right">&rarr;</span></h4>
        We do all kinds of web stuff, apps, and more.
      </a>
      <a href="./clients.html" class="_infobox-content">
        <h4 class="_font-bold">Our clients <span class="_anim-right">&rarr;</span></h4>
        We‘ve worked with clients both large and small.
      </a>
    </div>

    <div class="_width-content-max _margin-center">
      <div class="_profile _grid-two _grid-center">
        <div class="_profile-img">
          <img src="./images/elliott.jpg" alt="Elliott Augustine headshot"/>
        </div>
        <div>
          <h3 class="_profile-img">Elliott Augustine</h3>
          <div class="_profile-title _padding-bottom">Founder &amp; CEO</div>
          <div class="_profile-desc">
            <p>Elliott’s personal computer experience pre-dates the Internet and web design, but most of his professional experience revolves around working with the client, managing a team of programmers, or rolling up his sleeves and programming himself. He loves to program in Microsoft or Unix based languages, and he never ceases to be amazed by the Internet, and be truly loves what he does.
            </p>
            <p>
              ...he also loves flying drones.
            </p>
          </div>
        </div>
      </div>
    </div>
 
  </section>




</div>

