---
layout: landing
---

<div id="landing" markdown="1">


  <section class="_hero ">
    <figure style="background-image: url(./images/pic4_2.jpg)">
    </figure>
    <div class="_hero-content _content ">
      <div class="_grid-one _margin-center _width-content-max-narrow " >
       <h2 class="_margin-top-none _font-light _padding-bottom-none">A full-service web agency <br/><strong>based in Atlanta.</strong></h2>
       <div class=" _color-blue">internet consulting / development / design / marketing</div>
      </div>
    </div>
  </section>

  <div class="_content _margin-center _width-content-max-narrow _padding-top-2">
    <h4 class="_header _font-light">
      We are a full service agency with <strong>twenty years of experience</strong> and some brilliant clients
    </h4>

    <p>
      We specialize in a variety of services to help our clients started.

      <div class="_infobox _color-bg-white _grid-one _margin-top-2">
        <a href="./services.html" class="_infobox-content ">
          <h5 class="_padding-none">Branding &amp; Design <span class="_anim-right">&rarr;</span></h5>
          Branding, User experience design, information architecture ... 
        </a>
        <a href="./services.html" class="_infobox-content ">
          <h5 class="_padding-none">Internet Services <span class="_anim-right">&rarr;</span></h5>
          Backups, migrations, site maintenance ...
        </a>
        <a href="./services.html" class="_infobox-content ">
          <h5 class="_padding-none">Development Services <span class="_anim-right">&rarr;</span></h5>
          Custom sites, React, Angular, iOS, Android ...
        </a>
        <a href="./services.html" class="_infobox-content ">
          <h5 class="_padding-none">Media &amp; Content Development <span class="_anim-right">&rarr;</span></h5>
          508 document conversion, SEO, social media marketing ...
        </a>
      </div>

    </p>
  </div>

  <div class="_content _margin-center _width-content-max-narrow _padding-top-2">
    <div>
      <%= partial '/partials/clientScroller' %>
    </div>
  </div>

  <div class="_padding-top _width-content-max _margin-center">

    <div id="gh" class="_case _content">
      <div class="_grid-one-four _width-content-max-narrow _margin-center _align-center">
        <div class="_case-logo">
          <img src="./images/clients/GroupHousingDark.png" alt="Group Housing"/>
        </div>
        <div class="_case-copy">
          <p>Group Housing</p>
          <div class="_case-test">
            <p>
              "These web experts went above and beyond to help make my new company. The new company would not have made it if it wasn't for Webxperts and the true dedication they have for their clients. The best group of people that I have ever worked with and will always recommend."
            </p>
            <div class="_case-test-author">
              — Group Housing, Michael Bower
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="gh" class="_case _content">
      <div class="_grid-one-four _width-content-max-narrow _margin-center _align-center">
        <div class="_case-logo">
          <img src="./images/clients/GradyDark.png" alt="Grady"/>
        </div>
        <div class="_case-copy">
          <p>Grady Health System</p>
          <div class="_case-test">
            <p>
              "Web Experts was able to launch Grady Health System's website and develop a complex online vendor application for our Purchasing department. They brought our site back up within 6 hours after it was hacked on a Saturday night. They also provided hosting for a few of our subsidiaries. They are fast, accurate, detail-oriented and an excellent service value in my book."
            </p>
            <div class="_case-test-author">
              — K Frashier, Grady Health System, Atlanta GA

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="_padding-top-2 _padding-bottom-2 _center">
      <a class="_button _button-short --outline _button-half " href="./clients.html">Read more testimonials</a>
    </div>

  </div>


</div>




