---
layout: landing
name: services
---


<div class="_hero-page" markdown="1">

  <section class="_hero">
    <figure style="background-image: url(./images/pic4_2.jpg)">
      <!-- <img src="https://unsplash.it/1300/700/"> -->
    </figure>
    <div class="_hero-content _content ">
      <div class="_grid-one _margin-center _width-content-max-narrow " >
        <h2 class="_margin-top-none _font-light _padding-none">We do <strong>web things.</strong></h2>
        <h4 class="_font-light _padding-none">(and other things, too)</h4>
      </div>
    </div>
  </section>


  <section class="_container-large _content _color-bg-silver-lighter _padding-bottom-large" >

    <div class="_width-content-max-narrow _margin-center">
      <h4 class="_header _font-light ">We’ve learned a particular set of skills over the last twenty years, from<span class="_font-normal"> marketing to design, full-stack development, and SEO.</span> </h4>

      <p class="_padding-top">
        Web experts is an Internet consulting company dedicated to solving your company's online business needs. And as such, we have a multitude of tools and expertise to get you from concept to product.
      </p>

      <p>
        We specialize in the following areas:
        <ul>
          <li>Website and Mobile App Creation</li>
          <li>Prototype and MVP development</li>
          <li>Accessibility and 508 compliance</li>
          <li>Site maintenance, hosting</li>
          <li>Digital Marketing</li>
        </ul>
      </p>




      <div id="mvp" class="_expander">
        <div class="_expander-icon"> 
          <span class="_anim-right">&rarr;</span> 
        </div>
        <div class="_expander-content">
          <div class="_expander-title">
            Learn how we can bring your <strong>concept from idea to MVP</strong>
          </div>
          <p class="_padding-top">
            We can bring your startup or project idea from concept to a functional, minimally viable product or prototype. We will work with you through concept validation, to various fidelities of wireframes and prototypes. 
          </p>
          <p>
            We use tools like Sketch, Invision, and Axure to validate concepts, and use HTML, SCSS, React, or React Native to bring your concept to life.
          </p>
          <p> 
            Send us a message and <a href="#contact" data-offset-scroll="-2000">let us know how we can help.</a>
          </p>
        </div>
      </div>

      <div class="_infobox _color-bg-white _grid-two _margin-top-2">
        <div class="_infobox-content _padding-2-i --hover-none ">
         <h5>Branding &amp; Design</h5>
          <p class="_font-small">
            Our team has specialized in organic search engine placement and pay-per-click management since the onset of web search.
          </p>
          <ul class="_padding-none _font-small">
            <li>Branding</li>
            <li>User Experience Design</li>
            <li>Information Architecture</li>
            <li>Service Design</li>
          </ul>
        </div>

        <div class="_infobox-content _padding-2-i  --hover-none ">
          <h5>Internet Services</h5>
          <p class="_font-small">
            We partner with several large hosting facilities to provide hosting and personalized technical support
          </p>
          <ul class="_padding-none _font-small">
            <li>Backups &amp; Migrations</li>
            <li>Site Maintenance</li>
            <li>Managed Hosting</li>
            <li>Dev Ops</li>
          </ul>
        </div>

        <div class="_infobox-content _padding-2-i --hover-none ">
          <h5>Development Services</h5>
          <ul class="_padding-none _font-small">
            <li>Hand-crafted responsive custom websites &amp; landing pages</li>
            <li>Web Apps &amp; single page apps</li>
            <li>Accessible, 508 compliant, Mandate 376 and VPAT / GPAT government sites</li>
            <li>Wordpress &amp; Shopify Sites</li>
            <li>React, React Native &amp; Angular</li>
            <li>iOS + Android development</li>
            <li>Microservices &amp; API development</li>
            <li>Server &amp; Database architecture consulting</li>
            <li>Web Portal &amp; Intranet Development</li>
            <li>Custom intranet portals</li>
            <li>Software Integration (PeopleSoft, Microsoft, Oracle)</li>
          </ul>

        </div>

        <div class="_infobox-content _padding-2-i --hover-none">
          <h5>Media &amp; Content Development</h5>
          <p class="_font-small">
            Our team has specialized in organic search engine placement and pay-per-click management since the onset of web search.
          </p>
          <ul class="_padding-none _font-small">
            <li>Document Conversion for 508 compliance</li>
            <li>Web Video Production</li>
            <li>SEO</li>
            <li>Social media marketing</li>
          </ul>
        </div>
      </div>

    </div>
 
  </section>

</div>

<script>
  $('._expander').on('click', function() {
    $(this).toggleClass('--open');
  });

</script>

