---
layout: styleguide
---

<main markdown="1">
  
<h2> design thoughts </h2>

### homepage content design

As a user enters the homepage they should see promintently:

- portfolio pieces that portrays depth and width of expertise, also the kind of work you want to attract
- a simple yet obvious tool for selecting content types (tabs or filter?)

filters:

- portfolio (recent 4 highlighted, plus archived underneath), no filter for it
- projects (active projects, gigs, whatever)
- lab/experiment (small number, republish in medium if you can, as you get better exposure in one place)
- bookmarks — (very many, from tumblr, rsstojson)
- thoughts — medium blog (some, from medium, rsstojson)

Each content piece on the homepage inherits from a content piece. Should be easy to quickly parse content, moreso than seeing each content beautifull and (largely/blockingly) - emphasize density over largeness and whitespace.

<h4>portfolio pieces</h4>

- always four pieces
- content: project image, year, title, subtitle (opt), platform (web, mobile, react, etc.), tags

* freelance web consultant
  * goal: to describe variety of freelance gigs, to attract similar gigs in the future; show various projects together
  * ux design, branding, web, consulting

* gas south
  * goal: onboard flows, heavy ux/IA flows, testing, designing for conversion, prototype building
  * ux design, user testing, information architecture, conversion, prototype, mobile

* diamax korea
  * goal: focus on design + prototyping from scratch a reactive / accounts-based system
  * prototyping, react

* double the donation
  * goal: focus on copywriting, IA, UX, marketing and conversion improvement
  * copywriting, IA, UX, conversion, marketing





small way to "look at more projects"?

<h4>main content object</h4>

- title
- subtitle/preview (short)
- link: link to the larger article or portfolio or whatever
- linkUrl: displaying the url or url base (e.g. codepen.io) for tumblr
- date: when was this created?
- preview: preview text / content of post
- image (optional)
- tags
- content type
- comment (specifically for bookmarks)

<h4>content types</h4>

As far as blogging / building experiments and writing about them on Medium, it's fine. I don't really care about traffic to the site, and having Medium as a place where people is go is probably better anyway, as I don't have time to manage traffic myself.

<h4>tags</h4>

tumblr tags are way too random right now. Need to establish a system and clean that shit up.

- `_inspiration` - references and inspiration, but not directly applicable
- `_example` - example code, design, and other things to come back and use
- `_lesson` - things with educational value that might be worth coming back to
- `_thought` - thought pieces, psychology, and not directly-applicable items

</main>

