/*Variables*/
/*Global mixins*/
/*Structure and type*/
/* line 39, ../sass/old_styles.scss */
body {
  background-color: #F1F1F1;
  /*background: url(/images/bg.png) repeat;*/
  font: normal 112.5% 'kepler-std-1', Georgia, serif;
  /*18 px default*/
  color: #393536;
  font-weight: 300;
  line-height: 1.625em;
  border-top: #393536 6px solid;
}

/* line 48, ../sass/old_styles.scss */
b {
  font-weight: 600;
}

/* line 51, ../sass/old_styles.scss */
a, a:visited {
  color: #b93c48;
  text-decoration: none;
}

/* line 55, ../sass/old_styles.scss */
a:hover {
  color: #1e6386;
}

/* line 58, ../sass/old_styles.scss */
h1, h2, h3, h4, h5, nav {
  font: normal 100% 'proxima-nova-1', Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .125em;
}

/* line 64, ../sass/old_styles.scss */
blockquote {
  padding-left: 30px;
  border-left: 1px dotted #1e6386;
  color: #1e6386;
  margin-bottom: 30px;
  font-style: italic;
}

/* line 71, ../sass/old_styles.scss */
.highlight {
  background: rgba(255, 255, 255, 0.5);
}

/* line 74, ../sass/old_styles.scss */
pre {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  padding: 20px 25px;
  font-size: 0.722222222222222em;
  line-height: 1.8em;
  margin-bottom: 40px;
}

/* line 81, ../sass/old_styles.scss */
pre, code, kbd, samp {
  font-family: 'Monaco', 'andale mono', 'lucida console', monospace;
}

/* line 84, ../sass/old_styles.scss */
code.inline, code.default-size {
  font-size: 0.777777777777778em;
  /*font-size: 12px;*/
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #CECECE;
  padding: 2px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

/* line 92, ../sass/old_styles.scss */
h1 {
  margin-bottom: 40px;
  line-height: 1.15em;
  font-size: 1.75em;
  /*28 / 16*/
}

/* line 97, ../sass/old_styles.scss */
p, ul, ol {
  margin-bottom: 30px;
}

/* line 100, ../sass/old_styles.scss */
i, em {
  font-style: italic;
}

/* line 104, ../sass/old_styles.scss */
#container {
  width: 94.2372881355932%;
  margin: 0 auto;
  /*1112 / 1180*/
}

/* line 108, ../sass/old_styles.scss */
#logo {
  width: 172px;
  float: left;
}
/* line 111, ../sass/old_styles.scss */
#logo a {
  width: 150px;
  height: 149px;
  background: url(/images/nm-logo.png) no-repeat;
  -webkit-background-size: 150px 149px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: fixed;
  margin-top: 24px;
}

/* line 118, ../sass/old_styles.scss */
#main-column {
  width: 80.508474576271186%;
  /*950 / 1180*/
  float: left;
}

/* line 122, ../sass/old_styles.scss */
header {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 20px;
}
/* line 126, ../sass/old_styles.scss */
header h1 {
  display: none;
}
/* line 129, ../sass/old_styles.scss */
header svg {
  margin-bottom: 70px;
}

/* line 134, ../sass/old_styles.scss */
#sidebar {
  width: 36.842105263157895%;
  /*350 / 950*/
  float: left;
  margin-right: 5.263157894736842%;
  /*50 / 950 */
}
/* line 138, ../sass/old_styles.scss */
#sidebar #links, #sidebar #work {
  border-top: #393536 6px solid;
  padding-top: 40px;
  padding-bottom: 30px;
}
/* line 143, ../sass/old_styles.scss */
#sidebar #work {
  padding-top: 0;
  border-top: none;
}
/* line 146, ../sass/old_styles.scss */
#sidebar #work img.portrait {
  max-width: 97%;
  border: #393536 6px solid;
  margin-bottom: 40px;
}

/* line 153, ../sass/old_styles.scss */
body.post #sidebar, body.about #sidebar {
  margin-left: 5.263157894736842%;
  /*50 / 950 */
  margin-right: 0;
  /*50 / 950 */
}

/* line 157, ../sass/old_styles.scss */
#blog {
  width: 57.894736842105263%;
  /*550 / 950 */
  float: left;
}

/* line 161, ../sass/old_styles.scss */
.clear {
  clear: both;
}

/* line 164, ../sass/old_styles.scss */
nav#elsewhere {
  font-size: 0.666666666666667em;
}
/* line 166, ../sass/old_styles.scss */
nav#elsewhere li {
  float: left;
  margin-bottom: 20px;
  width: 25%;
}

/* line 173, ../sass/old_styles.scss */
footer {
  margin-left: 172px;
  border-top: #393536 6px solid;
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 80.5085%;
}
/* line 180, ../sass/old_styles.scss */
footer .logo {
  float: left;
  width: 26%;
}
/* line 184, ../sass/old_styles.scss */
footer nav {
  float: left;
  width: 16.1053%;
}
/* line 188, ../sass/old_styles.scss */
footer #fine-print {
  width: 57.8947%;
  float: left;
  font-size: 0.888888888888889em;
  line-height: 1.45em;
}

/*Homepage*/
/* line 198, ../sass/old_styles.scss */
.intro {
  font-size: 2em;
  /* 29px / 18px */
  font-family: 'proxima-nova-1', Helvetica, sans-serif;
  line-height: 1.35em;
  font-weight: 800;
  margin-bottom: 3px;
  margin-bottom: 12px;
}
/* line 205, ../sass/old_styles.scss */
.intro b {
  font-weight: 800;
}

/*Homepage - Blog posts*/
/* line 218, ../sass/old_styles.scss */
.post-home {
  padding-top: 40px;
  padding-bottom: 30px;
  border-top: #393536 6px solid;
}
/* line 222, ../sass/old_styles.scss */
.post-home img, .post-home iframe {
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

/* line 226, ../sass/old_styles.scss */
.meta-data {
  font-style: italic;
  margin-bottom: 20px;
}
/* line 229, ../sass/old_styles.scss */
.meta-data span {
  margin-right: 20px;
}

/* line 233, ../sass/old_styles.scss */
.external.hover {
  color: #1e6386;
  text-decoration: underline;
}

/*Post pages*/
/* line 239, ../sass/old_styles.scss */
body.post article {
  padding-top: 40px;
  padding-bottom: 30px;
  border-top: #393536 6px solid;
}
/* line 243, ../sass/old_styles.scss */
body.post article img, body.post article iframe {
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}
/* line 246, ../sass/old_styles.scss */
body.post article h2 {
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 12px;
  margin-top: 6px;
  line-height: 1.625em;
  font-size: 1.1em;
}
/* line 249, ../sass/old_styles.scss */
body.post article .post-intro {
  font-size: 1.4em;
  line-height: 1.4em;
}

/* line 254, ../sass/old_styles.scss */
.photo-ending {
  border-top: #393536 6px solid;
  margin-top: 30px;
  padding-top: 40px;
}

/*about*/
/* line 263, ../sass/old_styles.scss */
body.about #work h1 {
  display: none;
}
/* line 266, ../sass/old_styles.scss */
body.about section {
  border-top: #393536 6px solid;
  padding-top: 40px;
  margin-bottom: 60px;
}
/* line 270, ../sass/old_styles.scss */
body.about section h2 {
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 12px;
  margin-top: 6px;
  line-height: 1.625em;
  font-size: 1.1em;
}
/* line 272, ../sass/old_styles.scss */
body.about section h2.last {
  margin-bottom: 30px;
}

/* line 280, ../sass/old_styles.scss */
#awards h2, #experience h2, #education h2, #other h2, #post-body h2 {
  margin-bottom: 16px;
  font-family: 'kepler-std-1', Georgia, serif;
  font-weight: 300;
  padding-top: 10px;
}

/* line 287, ../sass/old_styles.scss */
#post-body h2 {
  margin-bottom: 12px;
}

/* line 291, ../sass/old_styles.scss */
#made h2 {
  font-family: 'kepler-std-1', Georgia, serif;
  font-weight: 300;
}

/* line 298, ../sass/old_styles.scss */
.project {
  /*font-family: 'kepler-std-1', Georgia, serif;  */
  font-weight: 300;
}

/* comments */
/* line 306, ../sass/old_styles.scss */
#disqus_thread {
  margin-top: 60px;
  overflow: hidden;
  padding-top: 40px;
  border-top: #393536 6px solid;
}
/* line 311, ../sass/old_styles.scss */
#disqus_thread iframe {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 317, ../sass/old_styles.scss */
.dsq-textarea-reply {
  margin-left: 0 !important;
}

/* line 320, ../sass/old_styles.scss */
#dsq-sort-by, #dsq-pagination, .dsq-trackback-url, .dsq-brlink, #dsq-global-toolbar, #dsq-account-dropdown {
  display: none !important;
}

/* line 323, ../sass/old_styles.scss */
.dsq-textarea-wrapper iframe {
  margin-left: 0 !important;
}

/*.dsq-comment-body {
	padding-left: 0 !important;
}*/
/* line 329, ../sass/old_styles.scss */
#dsq-reply {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

/* line 333, ../sass/old_styles.scss */
#dsq-content h3 {
  margin-bottom: 20px !important;
  font-size: 0.666666666666667em;
}
